In [4]:
import pandas as pd
import io
import csv

In [5]:
df=pd.read_csv("C:\\Users\\Rachana\\Downloads\\patients_data.csv")

In [6]:
df

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
0,1,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,NaN
1,2,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,3,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,4,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,6821,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6821,6822,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6822,6823,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6823,6824,NaN,10/04/2020,NaN,NaN,NaN,Panchkula,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6824,6825,NaN,10/04/2020,NaN,NaN,NaN,Sonipat,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN

In [7]:
df.columns

Index(['patient_number', 'state_patient_number', 'date_announced',
       'age_bracket', 'gender', 'detected_city', 'detected_district',
       'detected_state', 'state_code', 'current_status', 'notes',
       'suspected_contacted_patient', 'nationality', 'type_of_transmission',
       'status_change_date', 'source_1', 'source_2', 'source_3',
       'backup_notes'],
      dtype='object')

In [8]:
df.dtypes

patient_number                  int64
state_patient_number           object
date_announced                 object
age_bracket                    object
gender                         object
detected_city                  object
detected_district              object
detected_state                 object
state_code                     object
current_status                 object
notes                          object
suspected_contacted_patient    object
nationality                    object
type_of_transmission           object
status_change_date             object
source_1                       object
source_2                       object
source_3                       object
backup_notes                   object
dtype: object

In [9]:
df.describe()

       patient_number
count     6825.000000
mean      3413.000000
std       1970.352126
min          1.000000
25%       1707.000000
50%       3413.000000
75%       5119.000000
max       6825.000000

In [10]:
s=pd.Series([20,30,40])
s.describe()

count     3.0
mean     30.0
std      10.0
min      20.0
25%      25.0
50%      30.0
75%      35.0
max      40.0
dtype: float64

In [11]:
pd.Series([20,30,40])

0    20
1    30
2    40
dtype: int64

In [13]:
df.age_bracket
#df["age_bracket"]

0        20
1       NaN
2       NaN
3        45
4        24
       ...
6820    NaN
6821    NaN
6822    NaN
6823    NaN
6824    NaN
Name: age_bracket, Length: 6825, dtype: object

In [47]:
df['age_bracket'].describe(include='all')

count     1074
unique      84
top         35
freq        38
Name: age_bracket, dtype: object

In [18]:
df.describe(include='all')

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
count,6825.000000,1308,6825,1074,1672,933,5532,6825,6825,6824,5635,1278,1174,2804,6715,6634,2102,298,360
unique,NaN,1303,43,84,2,261,340,32,32,4,685,130,12,3,40,751,330,99,222
top,NaN,UP-GBN-15,09/04/2020,35,M,Mumbai,Mumbai,Maharashtra,MH,Hospitalized,Details awaited,E0,India,Local,09/04/2020,https://twitter.com/PTI_News/status/1248126814...,https://twitter.com/ANI/status/124605490629894...,https://twitter.com/AamAadmiParty/status/12464...,Details awaited
freq,NaN,2,813,38,1219,48,876,1364,1364,6676,2916,904,1116,1581,813,162,100,59,33
mean,3413.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1970.352126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1707.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3413.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,5119.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6825.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df['detected_state'].value_counts()

Maharashtra                    1364
Tamil Nadu                      834
Delhi                           720
Rajasthan                       489
Telangana                       471
Madhya Pradesh                  411
Uttar Pradesh                   410
Andhra Pradesh                  365
Kerala                          357
Gujarat                         308
Karnataka                       197
Jammu and Kashmir               184
Haryana                         175
Punjab                          130
West Bengal                     116
Bihar                            60
Odisha                           48
Uttarakhand                      35
Assam                            29
Himachal Pradesh                 28
Chandigarh                       18
Chhattisgarh                     18
Ladakh                           15
Jharkhand                        14
Andaman and Nicobar Islands      11
Goa                               7
Puducherry                        5
Manipur                           2
Mizoram                           1
Arunachal Pradesh                 1
Dadra and Nagar Haveli            1
Tripura                           1
Name: detected_state, dtype: int64

In [52]:
df.head(n=10)

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
0,1,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,NaN
1,2,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,3,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,4,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
5,6,NaN,03/03/2020,69,M,Jaipur,Italians*,Rajasthan,RJ,Recovered,Travelled from Italy,NaN,Italy,Imported,03/03/2020,https://indianexpress.com/article/india/corona...,https://economictimes.indiatimes.com/news/poli...,https://twitter.com/PTI_News/status/1240878975...,Italian tourist
6,7,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
7,8,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
8,9,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
9,10,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist

In [54]:
#command data manapulations 
# selecting / indexing
# sorting 
# mutating / adding column conditionally 
# grouping / sumarirzine 
df.iloc[0:5,0:2]  #[row,col]

   patient_number state_patient_number
0               1             KL-TS-P1
1               2             KL-AL-P1
2               3             KL-KS-P1
3               4                DL-P1
4               5                TS-P1

In [57]:
#Or
df.iloc[0:5,[0,3,5]]

   patient_number age_bracket             detected_city
0               1          20                  Thrissur
1               2         NaN                 Alappuzha
2               3         NaN                 Kasaragod
3               4          45  East Delhi (Mayur Vihar)
4               5          24                 Hyderabad

In [36]:


df['age_bracket']=pd.to_numeric(df['age_bracket'],errors='coerce')
df2=df.loc[df["age_bracket"]>40,["state_code","age_bracket"]].head()
df2

  state_code  age_bracket
3         DL         45.0
5         RJ         69.0
6         HR         55.0
7         HR         55.0
8         HR         55.0

In [37]:
df.loc[df['detected_city'].isin(['Gurugram'])]

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
6,7,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
7,8,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
8,9,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
9,10,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
10,11,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
11,12,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
12,13,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
13,14,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
14,15,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
15,16,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
16,17,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
17,18,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Recovered,Travelled from Italy,P6,Italy,Imported,29/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
18,19,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Hospitalized,Travelled from Italy,P6,Italy,Imported,04/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
19,20,NaN,04/03/2020,55.0,NaN,Gurugram,Italians*,Haryana,HR,Hospitalized,Travelled from Italy,P6,Italy,Imported,04/03/2020,https://indianexpress.com/article/india/corona...,https://www.indiatoday.in/india/story/coronavi...,NaN,Italian tourist
130,131,NaN,17/03/2020,29.0,F,Gurugram,Gurugram,Haryana,HR,Hospitalized,Travelled from Malaysia,NaN,India,Imported,17/03/2020,https://www.hindustantimes.com/gurugram/gurugr...,https://economictimes.indiatimes.com/news/poli...,NaN,Sector 9; travelled from Malaysia
152,153,NaN,18/03/2020,44.0,M,Gurugram,Gurugram,Haryana,HR,Hospitalized,Travelled from UK,NaN,India,Imported,18/03/2020,https://timesofindia.indiatimes.com/articlesho...,https://epaper.hindustantimes.com/Home/ShareAr...,NaN,Travel History to the UK
169,170,NaN,18/03/2020,NaN,F,Gurugram,Gurugram,Haryana,HR,Hospitalized,Wife of P153,P153,India,Local,18/03/2020,https://epaper.hindustantimes.com/Home/ShareAr...,NaN,NaN,Wife of P153

In [38]:
df3=df.loc[(df['age_bracket']>40) & (df['detected_city'].isin(['Hyderabad']))]

In [39]:
df3

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
111,112,NaN,15/03/2020,46.0,NaN,Hyderabad,Hyderabad,Telangana,TG,Hospitalized,Travelled from Netherlands March 9,NaN,India,Imported,15/03/2020,https://www.businessinsider.in/india/news/coro...,NaN,NaN,Netherlands travel history March 9
140,141,TS-P5,17/03/2020,52.0,M,Hyderabad,Hyderabad,Telangana,TG,Hospitalized,Indonesian national; The patient had flown int...,E0,Indonesia,Imported,17/03/2020,https://twitter.com/ANI/status/123989489167872...,NaN,NaN,Indonesian national; The patient had flown int...
371,372,TS-P27,22/03/2020,50.0,F,Hyderabad,Hyderabad,Telangana,TG,Hospitalized,Travelled from Dubai,NaN,India,Imported,22/03/2020,https://twitter.com/THHyderabad/status/1241709...,https://timesofindia.indiatimes.com/city/hyder...,NaN,NaN

In [40]:
#using population.csv
df1=pd.read_csv("C:\\Users\\Rachana\\Downloads\\population_india_census2011.csv")

In [41]:
df1.columns

Index(['Sno', 'State / Union Territory', 'Population', 'Rural population',
       'Urban population', 'Area', 'Density', 'Gender Ratio'],
      dtype='object')

In [42]:
df1

,Sno,State / Union Territory,Population,Rural population,Urban population,Area,Density,Gender Ratio
0,1,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
1,2,Maharashtra,112374333,61556074,50818259,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
2,3,Bihar,104099452,92341436,11758016,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
3,4,West Bengal,91276115,62183113,29093002,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
4,5,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931
5,6,Tamil Nadu,72147030,37229590,34917440,"130,058 km2 (50,216 sq mi)","555/km2 (1,440/sq mi)",996
6,7,Rajasthan,68548437,51500352,17048085,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928
7,8,Karnataka,61095297,37469335,23625962,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),973
8,9,Gujarat,60439692,34694609,25745083,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919
9,10,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993
10,11,Odisha,41974218,34970562,7003656,"155,707 km2 (60,119 sq mi)",269/km2 (700/sq mi),979
11,12,Telengana,35003674,21395009,13608665,"112,077 km2 (43,273 sq mi)",312/km2 (810/sq mi),988
12,13,Kerala,33406061,17471135,15934926,"38,863 km2 (15,005 sq mi)","859/km2 (2,220/sq mi)",1084
13,14,Jharkhand,32988134,25055073,7933061,"79,714 km2 (30,778 sq mi)","414/km2 (1,070/sq mi)",948
14,15,Assam,31205576,26807034,4398542,"78,438 km2 (30,285 sq mi)","397/km2 (1,030/sq mi)",954
15,16,Punjab,27743338,17344192,10399146,"50,362 km2 (19,445 sq mi)","550/km2 (1,400/sq mi)",895
16,17,Chhattisgarh,25545198,19607961,5937237,"135,191 km2 (52,198 sq mi)",189/km2 (490/sq mi),991
17,18,Haryana,25351462,16509359,8842103,"44,212 km2 (17,070 sq mi)","573/km2 (1,480/sq mi)",879
18,19,Uttarakhand,10086292,7036954,3049338,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963
19,20,Himachal Pradesh,6864602,6176050,688552,"55,673 km2 (21,495 sq mi)",123/km2 (320/sq mi),972
20,21,Tripura,3673917,2712464,961453,"10,486 km2 (4,049 sq mi)",350/km2 (910/sq mi),960
21,22,Meghalaya,2966889,2371439,595450,"22,429 km2 (8,660 sq mi)",132/km2 (340/sq mi),989
22,23,Manipur,2570390,1793875,776515,"22,327 km2 (8,621 sq mi)",122/km2 (320/sq mi),992
23,24,Nagaland,1978502,1407536,570966,"16,579 km2 (6,401 sq mi)",119/km2 (310/sq mi),931
24,25,Goa,1458545,551731,906814,"3,702 km2 (1,429 sq mi)","394/km2 (1,020/sq mi)",973
25,26,Arunachal Pradesh,1383727,1066358,317369,"83,743 km2 (32,333 sq mi)",17/km2 (44/sq mi),938
26,27,Mizoram,1097206,525435,571771,"21,081 km2 (8,139 sq mi)",52/km2 (130/sq mi),976
27,28,Sikkim,610577,456999,153578,"7,096 km2 (2,740 sq mi)",86/km2 (220/sq mi),890
28,29,Delhi,16787941,419042,16368899,"1,484 km2 (573 sq mi)","11,297/km2 (29,260/sq mi)",868
29,30,Jammu and Kashmir,12267032,9064220,3202812,"125,535 km2 (48,469 sq mi)",98/km2 (250/sq mi),890
30,31,Puducherry,1247953,395200,852753,479 km2 (185 sq mi),"2,598/km2 (6,730/sq mi)",1037
31,32,Chandigarh,1055450,28991,1026459,114 km2 (44 sq mi),"9,252/km2 (23,960/sq mi)",818
32,33,Dadra and Nagar Haveli and Daman and Diu,585764,243510,342254,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711
33,34,Andaman and Nicobar Islands,380581,237093,143488,"8,249 km2 (3,185 sq mi)",46/km2 (120/sq mi),876
34,35,Ladakh,274000,43840,230160,"96,701 km2 (37,336 sq mi)",2.8/km2 (7.3/sq mi),853
35,36,Lakshadweep,64473,14141,50332,32 km2 (12 sq mi),"2,013/km2 (5,210/sq mi)",946

In [43]:
df1.info

<bound method DataFrame.info of     Sno                   State / Union Territory  Population  \
0     1                             Uttar Pradesh   199812341
1     2                               Maharashtra   112374333
2     3                                     Bihar   104099452
3     4                               West Bengal    91276115
4     5                            Madhya Pradesh    72626809
5     6                                Tamil Nadu    72147030
6     7                                 Rajasthan    68548437
7     8                                 Karnataka    61095297
8     9                                   Gujarat    60439692
9    10                            Andhra Pradesh    49577103
10   11                                    Odisha    41974218
11   12                                 Telengana    35003674
12   13                                    Kerala    33406061
13   14                                 Jharkhand    32988134
14   15                                     Assam    31205576
15   16                                    Punjab    27743338
16   17                              Chhattisgarh    25545198
17   18                                   Haryana    25351462
18   19                               Uttarakhand    10086292
19   20                          Himachal Pradesh     6864602
20   21                                   Tripura     3673917
21   22                                 Meghalaya     2966889
22   23                                   Manipur     2570390
23   24                                  Nagaland     1978502
24   25                                       Goa     1458545
25   26                         Arunachal Pradesh     1383727
26   27                                   Mizoram     1097206
27   28                                    Sikkim      610577
28   29                                     Delhi    16787941
29   30                         Jammu and Kashmir    12267032
30   31                                Puducherry     1247953
31   32                                Chandigarh     1055450
32   33  Dadra and Nagar Haveli and Daman and Diu      585764
33   34               Andaman and Nicobar Islands      380581
34   35                                    Ladakh      274000
35   36                               Lakshadweep       64473

    Rural population  Urban population                         Area  \
0          155317278          44495063   240,928 km2 (93,023 sq mi)
1           61556074          50818259  307,713 km2 (118,809 sq mi)
2           92341436          11758016    94,163 km2 (36,357 sq mi)
3           62183113          29093002    88,752 km2 (34,267 sq mi)
4           52557404          20069405  308,245 km2 (119,014 sq mi)
5           37229590          34917440   130,058 km2 (50,216 sq mi)
6           51500352          17048085  342,239 km2 (132,139 sq mi)
7           37469335          23625962   191,791 km2 (74,051 sq mi)
8           34694609          25745083   196,024 km2 (75,685 sq mi)
9           34966693          14610410   162,968 km2 (62,922 sq mi)
10          34970562           7003656   155,707 km2 (60,119 sq mi)
11          21395009          13608665   112,077 km2 (43,273 sq mi)
12          17471135          15934926    38,863 km2 (15,005 sq mi)
13          25055073           7933061    79,714 km2 (30,778 sq mi)
14          26807034           4398542    78,438 km2 (30,285 sq mi)
15          17344192          10399146    50,362 km2 (19,445 sq mi)
16          19607961           5937237   135,191 km2 (52,198 sq mi)
17          16509359           8842103    44,212 km2 (17,070 sq mi)
18           7036954           3049338    53,483 km2 (20,650 sq mi)
19           6176050            688552    55,673 km2 (21,495 sq mi)
20           2712464            961453     10,486 km2 (4,049 sq mi)
21           2371439            595450     22,429 km2 (8,660 sq mi)
22           1793875            776515     22,327 km2 (8,621 sq mi)
23           1407536            570966     16,579 km2 (6,401 sq mi)
24            551731            906814      3,702 km2 (1,429 sq mi)
25           1066358            317369    83,743 km2 (32,333 sq mi)
26            525435            571771     21,081 km2 (8,139 sq mi)
27            456999            153578      7,096 km2 (2,740 sq mi)
28            419042          16368899        1,484 km2 (573 sq mi)
29           9064220           3202812   125,535 km2 (48,469 sq mi)
30            395200            852753          479 km2 (185 sq mi)
31             28991           1026459           114 km2 (44 sq mi)
32            243510            342254          603 km2 (233 sq mi)
33            237093            143488      8,249 km2 (3,185 sq mi)
34             43840            230160    96,701 km2 (37,336 sq mi)
35             14141             50332            32 km2 (12 sq mi)

                      Density  Gender Ratio
0       828/km2 (2,140/sq mi)           912
1         365/km2 (950/sq mi)           929
2     1,102/km2 (2,850/sq mi)           918
3     1,029/km2 (2,670/sq mi)           953
4         236/km2 (610/sq mi)           931
5       555/km2 (1,440/sq mi)           996
6         201/km2 (520/sq mi)           928
7         319/km2 (830/sq mi)           973
8         308/km2 (800/sq mi)           919
9         303/km2 (780/sq mi)           993
10        269/km2 (700/sq mi)           979
11        312/km2 (810/sq mi)           988
12      859/km2 (2,220/sq mi)          1084
13      414/km2 (1,070/sq mi)           948
14      397/km2 (1,030/sq mi)           954
15      550/km2 (1,400/sq mi)           895
16        189/km2 (490/sq mi)           991
17      573/km2 (1,480/sq mi)           879
18        189/km2 (490/sq mi)           963
19        123/km2 (320/sq mi)           972
20        350/km2 (910/sq mi)           960
21        132/km2 (340/sq mi)           989
22        122/km2 (320/sq mi)           992
23        119/km2 (310/sq mi)           931
24      394/km2 (1,020/sq mi)           973
25          17/km2 (44/sq mi)           938
26         52/km2 (130/sq mi)           976
27         86/km2 (220/sq mi)           890
28  11,297/km2 (29,260/sq mi)           868
29         98/km2 (250/sq mi)           890
30    2,598/km2 (6,730/sq mi)          1037
31   9,252/km2 (23,960/sq mi)           818
32      970/km2 (2,500/sq mi)           711
33         46/km2 (120/sq mi)           876
34        2.8/km2 (7.3/sq mi)           853
35    2,013/km2 (5,210/sq mi)           946  >

In [44]:
df2=df.loc[df["age_bracket"]>40,["detected_district","age_bracket"]]
df2.reset_index(drop=True)

    detected_district  age_bracket
0          East Delhi         45.0
1           Italians*         69.0
2           Italians*         55.0
3           Italians*         55.0
4           Italians*         55.0
..                ...          ...
488   Chikkaballapura         48.0
489         Jalandhar         42.0
490         Jalandhar         74.0
491         Jalandhar         63.0
492             Siwan         60.0

[493 rows x 2 columns]

In [45]:
df.sort_values(['detected_city'],ascending=False).head(n=10)

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
1813,1814,TN-P229,01/04/2020,36.0,M,periyakulam,Theni,Tamil Nadu,TN,Hospitalized,Travelled to Delhi,E0,NaN,Local,01/04/2020,https://twitter.com/NHM_TN/status/124533236456...,NaN,NaN,NaN
104,105,NaN,14/03/2020,NaN,NaN,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Dubai on 1st March,NaN,India,Imported,14/03/2020,https://www.thehindu.com/news/national/other-s...,https://mumbaimirror.indiatimes.com/two-corona...,NaN,Returned from Dubai on 1st March
103,104,NaN,14/03/2020,NaN,NaN,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Dubai on 1st March,NaN,India,Imported,14/03/2020,https://www.thehindu.com/news/national/other-s...,https://mumbaimirror.indiatimes.com/two-corona...,NaN,Returned from Dubai on 1st March
309,310,NaN,21/03/2020,NaN,NaN,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Congo,NaN,India,Imported,21/03/2020,https://twitter.com/ANI/status/124133490312956...,NaN,NaN,Travel history to Congo
124,125,NaN,16/03/2020,51.0,F,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Dubai on March 1,NaN,India,Imported,16/03/2020,https://twitter.com/ANI/status/123946459748607...,https://www.deccanherald.com/national/west/wom...,NaN,Patient returned from Dubai on March 1
952,953,TN-P42,28/03/2020,25.0,M,West Mambalam,Chennai,Tamil Nadu,TN,Hospitalized,Travelled from US,NaN,India,Imported,28/03/2020,https://twitter.com/NHM_TN/status/124389516674...,NaN,NaN,NaN
253,254,NaN,20/03/2020,32.0,M,West Delhi,West Delhi,Delhi,DL,Hospitalized,Travelled from France,NaN,India,Imported,20/03/2020,https://twitter.com/PTI_News/status/1241050375...,https://timesofindia.indiatimes.com/city/delhi...,NaN,Travel history to France
651,652,TN-P25,25/03/2020,26.0,M,Walajapet,Vellore,Tamil Nadu,TN,Hospitalized,Travelled from Dubai,NaN,India,Imported,25/03/2020,https://twitter.com/Vijayabaskarofl/status/124...,NaN,NaN,NaN
396,397,AP-P6,22/03/2020,49.0,F,Visakhapatnam,Visakhapatnam,Andhra Pradesh,AP,Hospitalized,Patient's husband tested positive,P196,India,Local,22/03/2020,https://twitter.com/PTI_News/status/1241766733...,NaN,NaN,NaN
492,493,AP-P7,23/03/2020,25.0,M,Visakhapatnam,Visakhapatnam,Andhra Pradesh,AP,Hospitalized,"Travelled from Birmingham,UK",NaN,India,Imported,23/03/2020,https://twitter.com/ArogyaAndhra/status/124231...,NaN,NaN,Birmingham to Delhi (Recommended Home Quaranti...

In [46]:
df.sort_values(['detected_city','age_bracket'],ascending=[False,True]).head(n=10)

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
1813,1814,TN-P229,01/04/2020,36.0,M,periyakulam,Theni,Tamil Nadu,TN,Hospitalized,Travelled to Delhi,E0,NaN,Local,01/04/2020,https://twitter.com/NHM_TN/status/124533236456...,NaN,NaN,NaN
124,125,NaN,16/03/2020,51.0,F,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Dubai on March 1,NaN,India,Imported,16/03/2020,https://twitter.com/ANI/status/123946459748607...,https://www.deccanherald.com/national/west/wom...,NaN,Patient returned from Dubai on March 1
103,104,NaN,14/03/2020,NaN,NaN,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Dubai on 1st March,NaN,India,Imported,14/03/2020,https://www.thehindu.com/news/national/other-s...,https://mumbaimirror.indiatimes.com/two-corona...,NaN,Returned from Dubai on 1st March
104,105,NaN,14/03/2020,NaN,NaN,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Dubai on 1st March,NaN,India,Imported,14/03/2020,https://www.thehindu.com/news/national/other-s...,https://mumbaimirror.indiatimes.com/two-corona...,NaN,Returned from Dubai on 1st March
309,310,NaN,21/03/2020,NaN,NaN,Yavatmal,Yavatmal,Maharashtra,MH,Hospitalized,Travelled from Congo,NaN,India,Imported,21/03/2020,https://twitter.com/ANI/status/124133490312956...,NaN,NaN,Travel history to Congo
952,953,TN-P42,28/03/2020,25.0,M,West Mambalam,Chennai,Tamil Nadu,TN,Hospitalized,Travelled from US,NaN,India,Imported,28/03/2020,https://twitter.com/NHM_TN/status/124389516674...,NaN,NaN,NaN
253,254,NaN,20/03/2020,32.0,M,West Delhi,West Delhi,Delhi,DL,Hospitalized,Travelled from France,NaN,India,Imported,20/03/2020,https://twitter.com/PTI_News/status/1241050375...,https://timesofindia.indiatimes.com/city/delhi...,NaN,Travel history to France
651,652,TN-P25,25/03/2020,26.0,M,Walajapet,Vellore,Tamil Nadu,TN,Hospitalized,Travelled from Dubai,NaN,India,Imported,25/03/2020,https://twitter.com/Vijayabaskarofl/status/124...,NaN,NaN,NaN
492,493,AP-P7,23/03/2020,25.0,M,Visakhapatnam,Visakhapatnam,Andhra Pradesh,AP,Hospitalized,"Travelled from Birmingham,UK",NaN,India,Imported,23/03/2020,https://twitter.com/ArogyaAndhra/status/124231...,NaN,NaN,Birmingham to Delhi (Recommended Home Quaranti...
396,397,AP-P6,22/03/2020,49.0,F,Visakhapatnam,Visakhapatnam,Andhra Pradesh,AP,Hospitalized,Patient's husband tested positive,P196,India,Local,22/03/2020,https://twitter.com/PTI_News/status/1241766733...,NaN,NaN,NaN

In [47]:
df[['patient_number','age_bracket']]

      patient_number  age_bracket
0                  1         20.0
1                  2          NaN
2                  3          NaN
3                  4         45.0
4                  5         24.0
...              ...          ...
6820            6821          NaN
6821            6822          NaN
6822            6823          NaN
6823            6824          NaN
6824            6825          NaN

[6825 rows x 2 columns]

In [49]:
#filtering
df['age_bracket']=pd.to_numeric(df['age_bracket'],errors='coerce')
print(df[df['age_bracket'] > 40])

      patient_number state_patient_number date_announced  age_bracket gender  \
3                  4                DL-P1     02/03/2020         45.0      M
5                  6                  NaN     03/03/2020         69.0      M
6                  7                  NaN     04/03/2020         55.0    NaN
7                  8                  NaN     04/03/2020         55.0    NaN
8                  9                  NaN     04/03/2020         55.0    NaN
...              ...                  ...            ...          ...    ...
6216            6217              KA-P191     09/04/2020         48.0      F
6217            6218                  NaN     09/04/2020         42.0      F
6218            6219                  NaN     09/04/2020         74.0      F
6219            6220                  NaN     09/04/2020         63.0      M
6692            6693                  NaN     09/04/2020         60.0      M

                 detected_city detected_district detected_state state_code  \
3     East Delhi (Mayur Vihar)        East Delhi          Delhi         DL
5                       Jaipur         Italians*      Rajasthan         RJ
6                     Gurugram         Italians*        Haryana         HR
7                     Gurugram         Italians*        Haryana         HR
8                     Gurugram         Italians*        Haryana         HR
...                        ...               ...            ...        ...
6216                       NaN   Chikkaballapura      Karnataka         KA
6217                       NaN         Jalandhar         Punjab         PB
6218                       NaN         Jalandhar         Punjab         PB
6219                       NaN         Jalandhar         Punjab         PB
6692                       NaN             Siwan          Bihar         BR

     current_status                                    notes  \
3         Recovered            Travelled from Austria, Italy
5         Recovered                     Travelled from Italy
6         Recovered                     Travelled from Italy
7         Recovered                     Travelled from Italy
8         Recovered                     Travelled from Italy
...             ...                                      ...
6216   Hospitalized         Contact of P19 and P94 (Sisters)
6217   Hospitalized                          Details awaited
6218   Hospitalized                          Details awaited
6219   Hospitalized                          Details awaited
6692   Hospitalized  Same Family, Contact with Oman returnee

     suspected_contacted_patient nationality type_of_transmission  \
3                            NaN       India             Imported
5                            NaN       Italy             Imported
6                             P6       Italy             Imported
7                             P6       Italy             Imported
8                             P6       Italy             Imported
...                          ...         ...                  ...
6216                        P285       India                Local
6217                         NaN         NaN                  NaN
6218                         NaN         NaN                  NaN
6219                         NaN         NaN                  NaN
6692                         NaN         NaN                  NaN

     status_change_date                                           source_1  \
3            15/03/2020  https://www.indiatoday.in/india/story/not-a-ja...
5            03/03/2020  https://indianexpress.com/article/india/corona...
6            29/03/2020  https://indianexpress.com/article/india/corona...
7            29/03/2020  https://indianexpress.com/article/india/corona...
8            29/03/2020  https://indianexpress.com/article/india/corona...
...                 ...                                                ...
6216         09/04/2020  https://twitter.com/DHFWKA/status/124814861276...
6217         09/04/2020  https://twitter.com/ANI/status/124817476724664...
6218         09/04/2020  https://twitter.com/ANI/status/124817476724664...
6219         09/04/2020  https://twitter.com/ANI/status/124817476724664...
6692         09/04/2020  https://twitter.com/sanjayjavin/status/1248295...

                                               source_2  \
3     https://economictimes.indiatimes.com/news/poli...
5     https://economictimes.indiatimes.com/news/poli...
6     https://www.indiatoday.in/india/story/coronavi...
7     https://www.indiatoday.in/india/story/coronavi...
8     https://www.indiatoday.in/india/story/coronavi...
...                                                 ...
6216                                                NaN
6217  https://twitter.com/kbssidhu1961/status/124817...
6218  https://twitter.com/kbssidhu1961/status/124817...
6219  https://twitter.com/kbssidhu1961/status/124817...
6692                                                NaN

                                               source_3  \
3                                                   NaN
5     https://twitter.com/PTI_News/status/1240878975...
6                                                   NaN
7                                                   NaN
8                                                   NaN
...                                                 ...
6216                                                NaN
6217                                                NaN
6218                                                NaN
6219                                                NaN
6692                                                NaN

                             backup_notes
3     Travel history to Italy and Austria
5                         Italian tourist
6                         Italian tourist
7                         Italian tourist
8                         Italian tourist
...                                   ...
6216                                  NaN
6217                                  NaN
6218                                  NaN
6219                                  NaN
6692                                  NaN

[493 rows x 19 columns]

In [73]:
print(df.loc[df['detected_state'].isin(["Maharashtra"])])

      p_no state_patient_number date_announced  age_bracket gender  \
43       5                  NaN     09/03/2020          NaN      M
44       5                  NaN     09/03/2020          NaN      F
59       5                  NaN     10/03/2020          3.0      F
60       5                  NaN     10/03/2020          NaN    NaN
61       5                  NaN     10/03/2020          NaN      M
...    ...                  ...            ...          ...    ...
6706     5                  NaN     09/04/2020          NaN    NaN
6707     5                  NaN     09/04/2020          NaN    NaN
6708     5                  NaN     09/04/2020          NaN    NaN
6709     5                  NaN     09/04/2020          NaN    NaN
6710     5                  NaN     09/04/2020          NaN    NaN

     detected_city detected_district detected_state state_code current_status  \
43            Pune              Pune    Maharashtra         MH      Recovered
44            Pune              Pune    Maharashtra         MH      Recovered
59            Pune              Pune    Maharashtra         MH   Hospitalized
60            Pune              Pune    Maharashtra         MH   Hospitalized
61            Pune              Pune    Maharashtra         MH   Hospitalized
...            ...               ...            ...        ...            ...
6706           NaN      Other States    Maharashtra         MH   Hospitalized
6707           NaN      Other States    Maharashtra         MH   Hospitalized
6708           NaN      Other States    Maharashtra         MH   Hospitalized
6709           NaN      Other States    Maharashtra         MH   Hospitalized
6710           NaN      Other States    Maharashtra         MH   Hospitalized

                                                  notes  \
43      Travelled from Dubai on 1 March, Husband of P45
44         Travelled from Dubai on 1 March, Wife of P44
59                                Daughter of P44 & P45
60    Co-passenger with P44 & P45 in cab of P62 from...
61    Cab driver who ferried P44, P45, P61 from Mumb...
...                                                 ...
6706                                    Details awaited
6707                                    Details awaited
6708                                    Details awaited
6709                                    Details awaited
6710                                    Details awaited

     suspected_contacted_patient nationality type_of_transmission  \
43                           NaN       India             Imported
44                           NaN       India             Imported
59                      P44, P45       India                Local
60                      P44, P45       India                Local
61                      P44, P45       India                Local
...                          ...         ...                  ...
6706                         NaN         NaN                  NaN
6707                         NaN         NaN                  NaN
6708                         NaN         NaN                  NaN
6709                         NaN         NaN                  NaN
6710                         NaN         NaN                  NaN

     status_change_date                                           source_1  \
43           25/03/2020  https://www.indiatoday.in/india/story/two-with...
44           25/03/2020  https://www.indiatoday.in/india/story/two-with...
59           10/03/2020  https://www.thehindu.com/news/national/other-s...
60           10/03/2020  https://www.thehindu.com/news/national/other-s...
61           10/03/2020  https://www.thehindu.com/news/national/other-s...
...                 ...                                                ...
6706         09/04/2020  https://twitter.com/rajeshtope11/status/124828...
6707         09/04/2020  https://twitter.com/rajeshtope11/status/124828...
6708         09/04/2020  https://twitter.com/rajeshtope11/status/124828...
6709         09/04/2020  https://twitter.com/rajeshtope11/status/124828...
6710         09/04/2020  https://twitter.com/rajeshtope11/status/124828...

                                               source_2  \
43    https://www.firstpost.com/health/coronavirus-o...
44    https://www.firstpost.com/health/coronavirus-o...
59    https://www.theweek.in/news/india/2020/03/10/c...
60    https://www.theweek.in/news/india/2020/03/10/c...
61    https://www.theweek.in/news/india/2020/03/10/c...
...                                                 ...
6706                                                NaN
6707                                                NaN
6708                                                NaN
6709                                                NaN
6710                                                NaN

                                               source_3  \
43    https://www.thehindu.com/news/national/coronav...
44    https://www.thehindu.com/news/national/coronav...
59    https://www.deccanherald.com/national/pune-con...
60    https://www.deccanherald.com/national/pune-con...
61    https://www.deccanherald.com/national/pune-con...
...                                                 ...
6706                                                NaN
6707                                                NaN
6708                                                NaN
6709                                                NaN
6710                                                NaN

                                           backup_notes
43       Returned from Dubai on 1 March, Husband of P45
44          Returned from Dubai on 1 March, Wife of P44
59                                Daughter of P44 & P45
60    Co-passenger with P44 & P45 in cab of P62 from...
61    Cab driver who ferried P44, P45, P61 from Mumb...
...                                                 ...
6706                                                NaN
6707                                                NaN
6708                                                NaN
6709                                                NaN
6710                                                NaN

[1364 rows x 19 columns]

In [74]:
import numpy as np
df.loc[1,['state_patient_number']]=np.nan    #makes value null/nan 
print(df.iloc[9:11])

    p_no state_patient_number date_announced  age_bracket gender  \
9      5                  NaN     04/03/2020         55.0    NaN
10     5                  NaN     04/03/2020         55.0    NaN

   detected_city detected_district detected_state state_code current_status  \
9       Gurugram         Italians*        Haryana         HR      Recovered
10      Gurugram         Italians*        Haryana         HR      Recovered

                   notes suspected_contacted_patient nationality  \
9   Travelled from Italy                          P6       Italy
10  Travelled from Italy                          P6       Italy

   type_of_transmission status_change_date  \
9              Imported         29/03/2020
10             Imported         29/03/2020

                                             source_1  \
9   https://indianexpress.com/article/india/corona...
10  https://indianexpress.com/article/india/corona...

                                             source_2 source_3  \
9   https://www.indiatoday.in/india/story/coronavi...      NaN
10  https://www.indiatoday.in/india/story/coronavi...      NaN

       backup_notes
9   Italian tourist
10  Italian tourist

In [75]:
df

,p_no,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
0,5,KL-TS-P1,30/01/2020,20.0,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,NaN
1,5,NaN,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,5,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,5,DL-P1,02/03/2020,45.0,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,24.0,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6821,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6822,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6823,5,NaN,10/04/2020,NaN,NaN,NaN,Panchkula,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6824,5,NaN,10/04/2020,NaN,NaN,NaN,Sonipat,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN

In [72]:
#df['patient_number']=np.array([5]*len(df))
#df['patient_number']

In [70]:
#renaming column
df.rename(columns={'patient_number':'p_no'})
df

,p_no,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
0,5,KL-TS-P1,30/01/2020,20.0,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,NaN
1,5,NaN,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,5,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,5,DL-P1,02/03/2020,45.0,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,24.0,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6821,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6822,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6823,5,NaN,10/04/2020,NaN,NaN,NaN,Panchkula,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6824,5,NaN,10/04/2020,NaN,NaN,NaN,Sonipat,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN

In [78]:
df.rename({'p_no':'patient_number'},inplace=True)
df

,p_no,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
0,5,KL-TS-P1,30/01/2020,20.0,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,NaN
1,5,NaN,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,5,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,5,DL-P1,02/03/2020,45.0,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,24.0,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6821,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6822,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6823,5,NaN,10/04/2020,NaN,NaN,NaN,Panchkula,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6824,5,NaN,10/04/2020,NaN,NaN,NaN,Sonipat,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN

In [79]:
df.rename(columns={'p_no':'patient_number'})

,patient_number,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,current_status,notes,suspected_contacted_patient,nationality,type_of_transmission,status_change_date,source_1,source_2,source_3,backup_notes
0,5,KL-TS-P1,30/01/2020,20.0,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,NaN
1,5,NaN,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,5,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,5,DL-P1,02/03/2020,45.0,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,24.0,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6821,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6822,5,NaN,10/04/2020,NaN,NaN,NaN,Ambala,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6823,5,NaN,10/04/2020,NaN,NaN,NaN,Panchkula,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN
6824,5,NaN,10/04/2020,NaN,NaN,NaN,Sonipat,Haryana,HR,Hospitalized,Details awaited,NaN,NaN,NaN,10/04/2020,http://www.nhmharyana.gov.in/WriteReadData/use...,NaN,NaN,NaN

In [81]:
#using iterator
for index,row in df.iterrows():
    print(index,row['age_bracket'],row['detected_state'])

0 20.0 Kerala
1 nan Kerala
2 nan Kerala
3 45.0 Delhi
4 24.0 Telangana
5 69.0 Rajasthan
6 55.0 Haryana
7 55.0 Haryana
8 55.0 Haryana
9 55.0 Haryana
10 55.0 Haryana
11 55.0 Haryana
12 55.0 Haryana
13 55.0 Haryana
14 55.0 Haryana
15 55.0 Haryana
16 55.0 Haryana
17 55.0 Haryana
18 55.0 Haryana
19 55.0 Haryana
20 70.0 Rajasthan
21 nan Uttar Pradesh
22 nan Uttar Pradesh
23 45.0 Uttar Pradesh
24 nan Uttar Pradesh
25 16.0 Uttar Pradesh
26 nan Uttar Pradesh
27 nan Uttar Pradesh
28 27.0 Delhi
29 59.0 Uttar Pradesh
30 nan Delhi
31 65.0 Ladakh
32 75.0 Ladakh
33 45.0 Tamil Nadu
34 24.0 Kerala
35 54.0 Kerala
36 53.0 Kerala
37 65.0 Kerala
38 61.0 Kerala
39 25.0 Delhi
40 63.0 Jammu and Kashmir
41 nan Karnataka
42 3.0 Kerala
43 nan Maharashtra
44 nan Maharashtra
45 nan Punjab
46 48.0 Uttar Pradesh
47 nan Uttar Pradesh
48 nan Kerala
49 nan Kerala
50 40.0 Karnataka
51 nan Karnataka
52 13.0 Karnataka
53 nan Kerala
54 nan Kerala
55 96.0 Kerala
56 89.0 Kerala
57 nan Kerala
58 nan Kerala
59 3.0 Maharashtra
60 nan Maharashtra
61 nan Maharashtra
62 85.0 Rajasthan
63 46.0 Delhi
64 nan Ladakh
65 70.0 Maharashtra
66 68.0 Maharashtra
67 nan Maharashtra
68 nan Maharashtra
69 nan Maharashtra
70 27.0 Andhra Pradesh
71 69.0 Delhi
72 26.0 Karnataka
73 76.0 Karnataka
74 nan Kerala
75 nan Kerala
76 65.0 Maharashtra
77 45.0 Maharashtra
78 33.0 Maharashtra
79 33.0 Maharashtra
80 nan Uttar Pradesh
81 27.0 Uttar Pradesh
82 nan Delhi
83 nan Jammu and Kashmir
84 nan Kerala
85 nan Kerala
86 nan Kerala
87 nan Maharashtra
88 nan Maharashtra
89 nan Maharashtra
90 nan Uttar Pradesh
91 nan Maharashtra
92 nan Maharashtra
93 nan Maharashtra
94 37.0 Maharashtra
95 59.0 Maharashtra
96 nan Maharashtra
97 43.0 Maharashtra
98 nan Maharashtra
99 nan Maharashtra
100 nan Maharashtra
101 nan Maharashtra
102 21.0 Maharashtra
103 nan Maharashtra
104 nan Maharashtra
105 24.0 Rajasthan
106 nan Telangana
107 nan Kerala
108 nan Kerala
109 59.0 Maharashtra
110 nan Maharashtra
111 46.0 Telangana
112 nan Uttarakhand
113 nan Jammu and Kashmir
114 32.0 Karnataka
115 45.0 Karnataka
116 nan Kerala
117 nan Kerala
118 nan Kerala
119 47.0 Maharashtra
120 42.0 Maharashtra
121 33.0 Maharashtra
122 3.0 Maharashtra
123 44.0 Maharashtra
124 51.0 Maharashtra
125 31.0 Odisha
126 nan Telangana
127 nan Delhi
128 nan Delhi
129 nan Delhi
130 29.0 Haryana
131 nan Ladakh
132 nan Ladakh
133 nan Ladakh
134 20.0 Karnataka
135 67.0 Karnataka
136 63.0 Karnataka
137 49.0 Maharashtra
138 26.0 Maharashtra
139 68.0 Puducherry
140 52.0 Telangana
141 nan Uttar Pradesh
142 22.0 Uttar Pradesh
143 18.0 West Bengal
144 34.0 Ladakh
145 nan Ladakh
146 28.0 Maharashtra
147 25.0 Uttar Pradesh
148 22.0 Telangana
149 56.0 Karnataka
150 25.0 Karnataka
151 27.0 Uttar Pradesh
152 44.0 Haryana
153 20.0 Tamil Nadu
154 68.0 Maharashtra
155 35.0 Karnataka
156 21.0 Maharashtra
157 50.0 Maharashtra
158 67.0 Jammu and Kashmir
159 33.0 Rajasthan
160 30.0 Rajasthan
161 3.0 Rajasthan
162 nan Telangana
163 nan Telangana
164 nan Telangana
165 nan Telangana
166 nan Telangana
167 nan Telangana
168 nan Telangana
169 nan Haryana
170 38.0 Delhi
171 23.0 Chandigarh
172 22.0 Maharashtra
173 49.0 Maharashtra
174 35.0 Karnataka
175 24.0 Andhra Pradesh
176 24.0 Chhattisgarh
177 nan Uttar Pradesh
178 nan Uttar Pradesh
179 nan Uttar Pradesh
180 21.0 Tamil Nadu
181 70.0 Punjab
182 47.0 Kerala
183 32.0 Gujarat
184 21.0 Gujarat
185 nan Maharashtra
186 51.0 Maharashtra
187 nan Uttarakhand
188 nan Uttarakhand
189 nan Telangana
190 nan Telangana
191 nan Telangana
192 19.0 Odisha
193 nan Rajasthan
194 nan Rajasthan
195 65.0 Andhra Pradesh
196 22.0 Delhi
197 22.0 Delhi
198 32.0 Delhi
199 22.0 West Bengal
200 69.0 Punjab
201 nan Ladakh
202 nan Ladakh
203 nan Delhi
204 nan Delhi
205 58.0 Delhi
206 24.0 Maharashtra
207 38.0 Maharashtra
208 20.0 Maharashtra
209 22.0 Gujarat
210 34.0 Gujarat
211 47.0 Gujarat
212 37.0 Uttar Pradesh
213 35.0 Uttar Pradesh
214 20.0 Uttar Pradesh
215 41.0 Uttar Pradesh
216 nan Rajasthan
217 nan Rajasthan
218 nan Rajasthan
219 18.0 Telangana
220 nan Rajasthan
221 69.0 Gujarat
222 27.0 Gujarat
223 nan Chandigarh
224 nan Chandigarh
225 nan Chandigarh
226 26.0 Chandigarh
227 nan Kerala
228 nan Kerala
229 nan Kerala
230 nan Kerala
231 nan Kerala
232 nan Rajasthan
233 nan Rajasthan
234 nan Rajasthan
235 nan Rajasthan
236 52.0 Haryana
237 21.0 Haryana
238 52.0 Kerala
239 27.0 Kerala
240 nan Kerala
241 nan Kerala
242 nan Kerala
243 2.0 Kerala
244 nan Kerala
245 63.0 Himachal Pradesh
246 32.0 Himachal Pradesh
247 59.0 Madhya Pradesh
248 45.0 Madhya Pradesh
249 22.0 Madhya Pradesh
250 24.0 Madhya Pradesh
251 27.0 Telangana
252 60.0 Telangana
253 32.0 Delhi
254 nan Delhi
255 nan Delhi
256 53.0 Maharashtra
257 20.0 Maharashtra
258 23.0 West Bengal
259 nan Rajasthan
260 nan Rajasthan
261 nan Rajasthan
262 nan Rajasthan
263 nan Rajasthan
264 nan Rajasthan
265 42.0 Punjab
266 74.0 Punjab
267 28.0 Punjab
268 59.0 Gujarat
269 63.0 Maharashtra
270 nan Maharashtra
271 41.0 Maharashtra
272 nan Maharashtra
273 nan Maharashtra
274 nan Maharashtra
275 nan Maharashtra
276 nan Maharashtra
277 nan Maharashtra
278 24.0 Delhi
279 26.0 Delhi
280 nan Delhi
281 nan Delhi
282 nan Delhi
283 nan Delhi
284 32.0 Karnataka
285 nan Uttar Pradesh
286 38.0 Haryana
287 nan Ladakh
288 nan Ladakh
289 nan Ladakh
290 nan Gujarat
291 nan Gujarat
292 nan Gujarat
293 67.0 Gujarat
294 26.0 Gujarat
295 53.0 Karnataka
296 39.0 Karnataka
297 19.0 Uttar Pradesh
298 35.0 Telangana
299 33.0 Telangana
300 69.0 Tamil Nadu
301 75.0 Tamil Nadu
302 65.0 Tamil Nadu
303 35.0 Punjab
304 34.0 Punjab
305 45.0 Punjab
306 40.0 Punjab
307 17.0 Punjab
308 36.0 Punjab
309 nan Maharashtra
310 60.0 Punjab
311 nan Kerala
312 nan Kerala
313 nan Kerala
314 54.0 Kerala
315 nan Kerala
316 nan Kerala
317 nan Kerala
318 nan Kerala
319 nan Kerala
320 nan Kerala
321 nan Kerala
322 nan Kerala
323 21.0 Karnataka
324 35.0 Karnataka
325 23.0 Haryana
326 57.0 West Bengal
327 nan Rajasthan
328 59.0 Gujarat
329 22.0 Andhra Pradesh
330 24.0 Andhra Pradesh
331 nan Delhi
332 31.0 Uttar Pradesh
333 30.0 Uttar Pradesh
334 nan Chandigarh
335 33.0 Karnataka
336 32.0 Maharashtra
337 30.0 Maharashtra
338 21.0 Maharashtra
339 60.0 Maharashtra
340 64.0 Maharashtra
341 35.0 Maharashtra
342 nan Maharashtra
343 nan Maharashtra
344 nan Maharashtra
345 nan Maharashtra
346 25.0 Tamil Nadu
347 38.0 Bihar
348 nan Bihar
349 24.0 Telangana
350 nan Gujarat
351 nan Gujarat
352 nan Gujarat
353 81.0 Gujarat
354 nan Punjab
355 nan Punjab
356 nan Punjab
357 nan Punjab
358 nan Punjab
359 nan Punjab
360 nan Punjab
361 26.0 Madhya Pradesh
362 58.0 Kerala
363 27.0 Kerala
364 32.0 Kerala
365 41.0 Kerala
366 33.0 Kerala
367 26.0 Telangana
368 34.0 Telangana
369 23.0 Telangana
370 23.0 Telangana
371 50.0 Telangana
372 22.0 Karnataka
373 nan Kerala
374 nan Kerala
375 32.0 Kerala
376 24.0 Kerala
377 41.0 Kerala
378 27.0 Kerala
379 69.0 Kerala
380 21.0 Kerala
381 64.0 Karnataka
382 36.0 Karnataka
383 27.0 Karnataka
384 51.0 Karnataka
385 nan Kerala
386 nan Kerala
387 nan Punjab
388 37.0 Uttar Pradesh
389 62.0 Uttar Pradesh
390 48.0 West Bengal
391 47.0 West Bengal
392 20.0 West Bengal
393 53.0 Madhya Pradesh
394 64.0 Tamil Nadu
395 43.0 Tamil Nadu
396 49.0 Andhra Pradesh
397 nan Rajasthan
398 nan Rajasthan
399 nan Rajasthan
400 nan Rajasthan
401 36.0 Rajasthan
402 nan Maharashtra
403 nan Maharashtra
404 nan Maharashtra
405 nan Maharashtra
406 nan Maharashtra
407 nan Maharashtra
408 nan Maharashtra
409 nan Maharashtra
410 nan Maharashtra
411 nan Maharashtra
412 nan Maharashtra
413 nan Maharashtra
414 nan Maharashtra
415 nan Maharashtra
416 nan Maharashtra
417 46.0 Karnataka
418 nan Haryana
419 45.0 Gujarat
420 58.0 Gujarat
421 57.0 Gujarat
422 27.0 Gujarat
423 29.0 Gujarat
424 24.0 Gujarat
425 33.0 Gujarat
426 49.0 Gujarat
427 46.0 Gujarat
428 61.0 Gujarat
429 85.0 Gujarat
430 nan Delhi
431 nan Delhi
432 nan Delhi
433 21.0 Telangana
434 30.0 Telangana
435 23.0 Telangana
436 21.0 Chandigarh
437 20.0 Telangana
438 25.0 Telangana
439 56.0 Telangana
440 32.0 Gujarat
441 49.0 Uttarakhand
442 24.0 Kerala
443 30.0 Kerala
444 31.0 Kerala
445 41.0 Kerala
446 34.0 Kerala
447 40.0 Kerala
448 37.0 Kerala
449 47.0 Kerala
450 34.0 Kerala
451 21.0 Kerala
452 50.0 Kerala
453 32.0 Kerala
454 27.0 Kerala
455 33.0 Kerala
456 32.0 Kerala
457 27.0 Kerala
458 34.0 Kerala
459 52.0 Kerala
460 26.0 Kerala
461 nan Kerala
462 nan Kerala
463 nan Kerala
464 nan Kerala
465 nan Kerala
466 61.0 Kerala
467 56.0 Kerala
468 nan Kerala
469 nan Kerala
470 38.0 Karnataka
471 41.0 Karnataka
472 30.0 Karnataka
473 24.0 Karnataka
474 60.0 Karnataka
475 22.0 Karnataka
476 38.0 Maharashtra
477 nan Maharashtra
478 nan Maharashtra
479 nan Maharashtra
480 nan Maharashtra
481 nan Maharashtra
482 nan Maharashtra
483 45.0 Maharashtra
484 nan Uttar Pradesh
485 45.0 Uttar Pradesh
486 69.0 Himachal Pradesh
487 2.0 Punjab
488 nan Punjab
489 nan Rajasthan
490 nan Rajasthan
491 nan Rajasthan
492 25.0 Andhra Pradesh
493 nan Haryana
494 nan Haryana
495 nan Haryana
496 nan Haryana
497 nan Haryana
498 nan Haryana
499 25.0 Tamil Nadu
500 48.0 Tamil Nadu
501 54.0 Tamil Nadu
502 24.0 Bihar
503 35.0 Uttar Pradesh
504 41.0 Uttar Pradesh
505 23.0 Manipur
506 nan Maharashtra
507 nan Maharashtra
508 nan Maharashtra
509 nan Maharashtra
510 nan Madhya Pradesh
511 32.0 Karnataka
512 40.0 Karnataka
513 65.0 Karnataka
514 56.0 Karnataka
515 nan Kerala
516 nan Kerala
517 65.0 Gujarat
518 53.0 Gujarat
519 54.0 Gujarat
520 58.0 West Bengal
521 74.0 Tamil Nadu
522 52.0 Tamil Nadu
523 25.0 Tamil Nadu
524 49.0 Telangana
525 39.0 Telangana
526 61.0 Telangana
527 56.0 Karnataka
528 47.0 Karnataka
529 55.0 West Bengal
530 65.0 Jammu and Kashmir
531 57.0 Jammu and Kashmir
532 nan Punjab
533 nan Punjab
534 nan Punjab
535 nan Maharashtra
536 nan Maharashtra
537 nan Maharashtra
538 nan Maharashtra
539 nan Maharashtra
540 nan Maharashtra
541 47.0 Uttar Pradesh
542 nan Punjab
543 nan Punjab
544 nan Punjab
545 nan Kerala
546 nan Kerala
547 nan Kerala
548 nan Kerala
549 nan Kerala
550 nan Kerala
551 nan Kerala
552 nan Kerala
553 57.0 Kerala
554 nan Kerala
555 nan Kerala
556 nan Kerala
557 70.0 Karnataka
558 23.0 Karnataka
559 25.0 Andhra Pradesh
560 65.0 Tamil Nadu
561 55.0 Tamil Nadu
562 25.0 Tamil Nadu
563 64.0 Telangana
564 nan Haryana
565 nan Haryana
566 nan Gujarat
567 36.0 Gujarat
568 75.0 Gujarat
569 57.0 Telangana
570 nan Telangana
571 nan Bihar
572 nan Madhya Pradesh
573 nan Madhya Pradesh
574 nan Madhya Pradesh
575 nan Madhya Pradesh
576 65.0 Madhya Pradesh

577 nan Maharashtra
578 nan Maharashtra
579 nan Maharashtra
580 nan Maharashtra
581 nan Maharashtra
582 nan Gujarat
583 nan Gujarat
584 36.0 Madhya Pradesh
585 nan Madhya Pradesh
586 50.0 Mizoram
587 nan Rajasthan
588 nan Rajasthan
589 nan Rajasthan
590 nan Rajasthan
591 57.0 Maharashtra
592 27.0 Maharashtra
593 39.0 Maharashtra
594 38.0 Maharashtra
595 nan Tamil Nadu
596 nan Tamil Nadu
597 nan Tamil Nadu
598 nan Tamil Nadu
599 63.0 Tamil Nadu
600 34.0 Karnataka
601 21.0 Haryana
602 nan Madhya Pradesh
603 nan Jammu and Kashmir
604 nan Jammu and Kashmir
605 nan Jammu and Kashmir
606 nan Jammu and Kashmir
607 nan Jammu and Kashmir
608 nan Maharashtra
609 nan Maharashtra
610 nan Maharashtra
611 nan Maharashtra
612 nan Maharashtra
613 nan Maharashtra
614 nan Kerala
615 nan Kerala
616 nan Kerala
617 nan Kerala
618 nan Kerala
619 nan Kerala
620 22.0 Kerala
621 23.0 Kerala
622 37.0 Kerala
623 nan Delhi
624 nan Delhi
625 nan Delhi
626 nan Delhi
627 nan Delhi
628 37.0 Karnataka
629 63.0 Karnataka
630 59.0 Karnataka
631 26.0 Karnataka
632 26.0 Karnataka
633 63.0 Karnataka
634 69.0 Karnataka
635 9.0 Karnataka
636 7.0 Karnataka
637 55.0 Punjab
638 31.0 Punjab
639 26.0 Uttarakhand
640 23.0 Chhattisgarh
641 24.0 Chhattisgarh
642 nan Uttar Pradesh
643 nan Uttar Pradesh
644 nan Uttar Pradesh
645 43.0 Telangana
646 3.0 Telangana
647 nan Rajasthan
648 nan Rajasthan
649 22.0 Andhra Pradesh
650 18.0 Tamil Nadu
651 26.0 Tamil Nadu
652 63.0 Tamil Nadu
653 52.0 Andhra Pradesh
654 25.0 Goa
655 29.0 Goa
656 55.0 Goa
657 66.0 West Bengal
658 nan Maharashtra
659 nan Maharashtra
660 nan Madhya Pradesh
661 nan Madhya Pradesh
662 nan Madhya Pradesh
663 nan Madhya Pradesh
664 nan Madhya Pradesh
665 nan Chhattisgarh
666 nan Chhattisgarh
667 nan Chhattisgarh
668 nan Gujarat
669 nan Gujarat
670 nan Gujarat
671 nan Gujarat
672 nan Gujarat
673 nan Delhi
674 21.0 Uttar Pradesh
675 39.0 Uttar Pradesh
676 33.0 Uttar Pradesh
677 32.0 Uttar Pradesh
678 40.0 Bihar
679 12.0 Bihar
680 nan Andaman and Nicobar Islands
681 49.0 Telangana
682 36.0 Telangana
683 41.0 Telangana
684 45.0 Rajasthan
685 35.0 Rajasthan
686 nan Punjab
687 nan Punjab
688 35.0 Karnataka
689 70.0 Karnataka
690 64.0 Karnataka
691 45.0 Karnataka
692 42.0 Maharashtra
693 21.0 Haryana
694 24.0 Tamil Nadu
695 7.0 Jammu and Kashmir
696 1.0 Jammu and Kashmir
697 nan Kerala
698 nan Kerala
699 nan Kerala
700 nan Kerala
701 nan Kerala
702 nan Kerala
703 nan Kerala
704 nan Kerala
705 nan Kerala
706 37.0 Kerala
707 38.0 Kerala
708 26.0 Kerala
709 49.0 Kerala
710 39.0 Kerala
711 36.0 Kerala
712 nan Kerala
713 32.0 Kerala
714 21.0 Kerala
715 nan Kerala
716 24.0 Tamil Nadu
717 65.0 Tamil Nadu
718 20.0 Bihar
719 29.0 Andhra Pradesh
720 60.0 Odisha
721 nan Jammu and Kashmir
722 45.0 Telangana
723 nan Rajasthan
724 nan Rajasthan
725 nan Rajasthan
726 37.0 Gujarat
727 nan Delhi
728 nan Delhi
729 nan Delhi
730 nan Maharashtra
731 nan Maharashtra
732 nan Maharashtra
733 nan Maharashtra
734 nan Maharashtra
735 53.0 Andaman and Nicobar Islands
736 nan Rajasthan
737 nan Rajasthan
738 nan Bihar
739 nan Bihar
740 nan Maharashtra
741 nan Maharashtra
742 nan Maharashtra
743 nan Maharashtra
744 nan Maharashtra
745 54.0 Andhra Pradesh
746 35.0 Madhya Pradesh
747 22.0 Tamil Nadu
748 44.0 Tamil Nadu
749 42.0 Tamil Nadu
750 46.0 Tamil Nadu
751 23.0 Tamil Nadu
752 25.0 Tamil Nadu
753 1.0 Karnataka
754 20.0 Karnataka
755 25.0 Karnataka
756 35.0 Karnataka
757 60.0 Karnataka
758 33.0 Karnataka
759 22.0 Karnataka
760 53.0 Uttar Pradesh
761 38.0 Uttar Pradesh
762 30.0 Uttar Pradesh
763 nan Maharashtra
764 nan Maharashtra
765 nan Maharashtra
766 nan Maharashtra
767 nan Maharashtra
768 nan Maharashtra
769 nan Maharashtra
770 nan Maharashtra
771 nan Maharashtra
772 nan Maharashtra
773 nan Maharashtra
774 nan Maharashtra
775 42.0 Madhya Pradesh
776 41.0 Madhya Pradesh
777 53.0 Madhya Pradesh
778 18.0 Madhya Pradesh
779 14.0 Madhya Pradesh
780 nan Jammu and Kashmir
781 nan Jammu and Kashmir
782 nan Jammu and Kashmir
783 nan Jammu and Kashmir
784 nan Telangana
785 nan Telangana
786 nan Telangana
787 nan Telangana
788 nan Telangana
789 nan Telangana
790 nan Telangana
791 nan Telangana
792 nan Telangana
793 nan Telangana
794 nan Telangana
795 nan Telangana
796 nan Telangana
797 nan Telangana
798 nan Haryana
799 nan Punjab
800 nan Punjab
801 nan Punjab
802 nan Punjab
803 nan Punjab
804 nan Kerala
805 nan Kerala
806 nan Kerala
807 nan Kerala
808 47.0 Kerala
809 nan Kerala
810 nan Kerala
811 nan Kerala
812 nan Kerala
813 nan Kerala
814 nan Kerala
815 nan Kerala
816 nan Kerala
817 nan Kerala
818 nan Kerala
819 nan Kerala
820 nan Kerala
821 nan Kerala
822 nan Kerala
823 nan Kerala
824 nan Kerala
825 nan Kerala
826 nan Kerala
827 nan Kerala
828 nan Kerala
829 nan Kerala
830 nan Kerala
831 nan Kerala
832 nan Kerala
833 nan Kerala
834 nan Kerala
835 nan Kerala
836 nan Kerala
837 nan Kerala
838 nan Kerala
839 nan Kerala
840 nan Kerala
841 nan Kerala
842 nan Kerala
843 nan Maharashtra
844 nan Maharashtra
845 nan Maharashtra
846 nan Maharashtra
847 nan Maharashtra
848 nan Maharashtra
849 nan Maharashtra
850 nan Maharashtra
851 nan Maharashtra
852 23.0 Andaman and Nicobar Islands
853 64.0 Andaman and Nicobar Islands
854 nan Andaman and Nicobar Islands
855 nan Andaman and Nicobar Islands
856 nan Uttar Pradesh
857 nan Uttar Pradesh
858 nan Uttar Pradesh
859 nan Uttar Pradesh
860 18.0 Karnataka
861 21.0 Karnataka
862 11.0 West Bengal
863 27.0 West Bengal
864 45.0 West Bengal
865 6.0 West Bengal
866 1.0 West Bengal
867 nan Rajasthan
868 nan Rajasthan
869 nan Rajasthan
870 nan Rajasthan
871 nan Rajasthan
872 73.0 Tamil Nadu
873 61.0 Tamil Nadu
874 39.0 Tamil Nadu
875 45.0 Andhra Pradesh
876 nan Delhi
877 22.0 Chandigarh
878 50.0 Madhya Pradesh
879 nan Madhya Pradesh
880 nan Madhya Pradesh
881 37.0 Gujarat
882 39.0 Gujarat
883 33.0 Gujarat
884 nan Jammu and Kashmir
885 nan Jammu and Kashmir
886 nan Maharashtra
887 nan Maharashtra
888 nan Maharashtra
889 nan Maharashtra
890 nan Maharashtra
891 nan Maharashtra
892 nan Gujarat
893 nan Gujarat
894 nan Gujarat
895 25.0 Gujarat
896 nan Gujarat
897 65.0 Gujarat
898 nan Madhya Pradesh
899 nan Madhya Pradesh
900 nan Madhya Pradesh
901 nan Madhya Pradesh
902 42.0 Tamil Nadu
903 49.0 Tamil Nadu
904 nan Uttar Pradesh
905 66.0 Gujarat
906 23.0 Rajasthan
907 21.0 Rajasthan
908 54.0 Karnataka
909 28.0 Karnataka
910 23.0 Karnataka
911 25.0 Karnataka
912 23.0 Karnataka
913 70.0 Karnataka
914 32.0 Karnataka
915 38.0 Karnataka
916 18.0 Karnataka
917 63.0 Karnataka
918 nan Rajasthan
919 nan Rajasthan
920 21.0 Uttarakhand
921 45.0 Jammu and Kashmir
922 40.0 Jammu and Kashmir
923 56.0 Jammu and Kashmir
924 nan Jammu and Kashmir
925 nan Jammu and Kashmir
926 nan Jammu and Kashmir
927 nan Jammu and Kashmir
928 11.0 Uttar Pradesh
929 35.0 Uttar Pradesh
930 63.0 Uttar Pradesh
931 18.0 Uttar Pradesh
932 33.0 Uttar Pradesh
933 nan Maharashtra
934 nan Maharashtra
935 nan Maharashtra
936 nan Maharashtra
937 nan Maharashtra
938 nan Kerala
939 nan Kerala
940 nan Kerala
941 44.0 Kerala
942 nan Kerala
943 35.0 Kerala
944 60.0 Tamil Nadu
945 74.0 Telangana
946 nan Telangana
947 nan Telangana
948 nan Telangana
949 nan Telangana
950 nan Telangana
951 21.0 Chhattisgarh
952 25.0 Tamil Nadu
953 20.0 Karnataka
954 24.0 Karnataka
955 nan Andaman and Nicobar Islands
956 nan Andaman and Nicobar Islands
957 nan Andaman and Nicobar Islands
958 nan Jammu and Kashmir
959 76.0 West Bengal
960 56.0 West Bengal
961 nan Madhya Pradesh
962 nan Gujarat
963 nan Haryana
964 nan Maharashtra
965 nan Maharashtra
966 nan Maharashtra
967 nan Maharashtra
968 nan Maharashtra
969 nan Maharashtra
970 nan Maharashtra
971 nan Maharashtra
972 nan Maharashtra
973 nan Maharashtra
974 nan Maharashtra
975 nan Maharashtra
976 nan Maharashtra
977 nan Maharashtra
978 54.0 Uttar Pradesh
979 36.0 Uttar Pradesh
980 52.0 Uttar Pradesh
981 31.0 Uttar Pradesh
982 50.0 Uttar Pradesh
983 nan Uttar Pradesh
984 nan Jammu and Kashmir
985 nan Jammu and Kashmir
986 nan Jammu and Kashmir
987 nan Jammu and Kashmir
988 nan Jammu and Kashmir
989 nan Maharashtra
990 nan Maharashtra
991 nan Maharashtra
992 nan Maharashtra
993 nan Maharashtra
994 nan Delhi
995 nan Delhi
996 nan Delhi
997 nan Delhi
998 nan Delhi
999 nan Delhi
1000 nan Delhi
1001 nan Delhi
1002 nan Delhi
1003 23.0 Andhra Pradesh
1004 58.0 Andhra Pradesh
1005 21.0 Andhra Pradesh
1006 60.0 Andhra Pradesh
1007 50.0 Andhra Pradesh
1008 65.0 Andhra Pradesh
1009 nan Telangana
1010 nan Telangana
1011 44.0 West Bengal
1012 39.0 Karnataka
1013 38.0 Karnataka
1014 21.0 Karnataka
1015 31.0 Karnataka
1016 42.0 Karnataka
1017 nan Uttar Pradesh
1018 nan Uttar Pradesh
1019 nan Uttar Pradesh
1020 nan Uttar Pradesh
1021 nan Bihar
1022 30.0 Bihar
1023 21.0 Haryana
1024 40.0 Madhya Pradesh
1025 48.0 Madhya Pradesh
1026 21.0 Madhya Pradesh
1027 38.0 Madhya Pradesh
1028 17.0 Madhya Pradesh
1029 nan Maharashtra
1030 nan Maharashtra
1031 nan Maharashtra
1032 nan Maharashtra
1033 nan Maharashtra
1034 nan Maharashtra
1035 nan Maharashtra
1036 53.0 Rajasthan
1037 47.0 Gujarat
1038 67.0 Gujarat
1039 34.0 Gujarat
1040 nan Jammu and Kashmir
1041 nan Jammu and Kashmir
1042 nan Jammu and Kashmir
1043 nan Jammu and Kashmir
1044 nan Jammu and Kashmir
1045 21.0 Rajasthan
1046 19.0 Uttar Pradesh
1047 53.0 Uttar Pradesh
1048 35.0 Uttar Pradesh
1049 34.0 Uttar Pradesh
1050 nan Maharashtra
1051 nan Maharashtra
1052 nan Maharashtra
1053 37.0 Goa
1054 19.0 Goa
1055 30.0 Kerala
1056 45.0 Kerala
1057 52.0 Kerala
1058 45.0 Kerala
1059 40.0 Kerala
1060 48.0 Kerala
1061 35.0 Kerala
1062 40.0 Kerala
1063 30.0 Kerala
1064 25.0 Kerala
1065 41.0 Kerala
1066 50.0 Kerala
1067 43.0 Kerala
1068 28.0 Kerala
1069 39.0 Kerala
1070 nan Kerala
1071 nan Kerala
1072 nan Kerala
1073 68.0 Kerala
1074 nan Kerala
1075 29.0 Tamil Nadu
1076 58.0 Tamil Nadu
1077 1.0 Tamil Nadu
1078 51.0 Tamil Nadu
1079 45.0 Tamil Nadu
1080 48.0 Tamil Nadu
1081 67.0 Tamil Nadu
1082 62.0 Tamil Nadu
1083 35.0 Karnataka
1084 29.0 Karnataka
1085 47.0 Uttarakhand
1086 nan Maharashtra
1087 nan Maharashtra
1088 nan Maharashtra
1089 nan Maharashtra
1090 nan Maharashtra
1091 nan Maharashtra
1092 nan Maharashtra
1093 nan Gujarat
1094 nan Gujarat
1095 nan Gujarat
1096 nan Gujarat
1097 nan Gujarat
1098 nan Bihar
1099 nan Bihar
1100 nan Bihar
1101 nan Bihar
1102 52.0 West Bengal
1103 66.0 West Bengal
1104 nan Delhi
1105 nan Delhi
1106 nan Delhi
1107 nan Delhi
1108 nan Delhi
1109 nan Delhi
1110 nan Delhi
1111 nan Delhi
1112 nan Delhi
1113 nan Delhi
1114 nan Delhi
1115 nan Delhi
1116 nan Delhi
1117 nan Delhi
1118 nan Delhi
1119 nan Delhi
1120 nan Delhi
1121 nan Delhi
1122 nan Delhi
1123 nan Delhi
1124 nan Delhi
1125 nan Delhi
1126 nan Delhi
1127 53.0 Rajasthan
1128 40.0 Rajasthan
1129 20.0 Rajasthan
1130 nan Uttar Pradesh
1131 35.0 Uttar Pradesh
1132 nan Uttar Pradesh
1133 nan Telangana
1134 nan Telangana
1135 nan Telangana
1136 nan Andhra Pradesh
1137 nan Andhra Pradesh
1138 59.0 West Bengal
1139 65.0 Punjab
1140 nan Maharashtra
1141 nan Maharashtra
1142 nan Maharashtra
1143 nan Maharashtra
1144 nan Maharashtra
1145 nan Maharashtra
1146 nan Maharashtra
1147 nan Maharashtra
1148 nan Maharashtra
1149 nan Maharashtra
1150 nan Maharashtra
1151 nan Maharashtra
1152 41.0 Rajasthan
1153 nan Madhya Pradesh
1154 nan Madhya Pradesh
1155 nan Madhya Pradesh
1156 nan Madhya Pradesh

1157 nan Madhya Pradesh
1158 nan Madhya Pradesh
1159 nan Madhya Pradesh
1160 nan Madhya Pradesh
1161 38.0 Gujarat
1162 50.0 Gujarat
1163 92.0 Gujarat
1164 55.0 Gujarat
1165 45.0 Gujarat
1166 65.0 Gujarat
1167 nan Jammu and Kashmir
1168 nan Jammu and Kashmir
1169 nan Jammu and Kashmir
1170 nan Andaman and Nicobar Islands
1171 49.0 Andhra Pradesh
1172 72.0 Andhra Pradesh
1173 25.0 Tamil Nadu
1174 52.0 Tamil Nadu
1175 76.0 Tamil Nadu
1176 15.0 Tamil Nadu
1177 20.0 Tamil Nadu
1178 nan Tamil Nadu
1179 nan Tamil Nadu
1180 nan Tamil Nadu
1181 nan Tamil Nadu
1182 nan Tamil Nadu
1183 nan Tamil Nadu
1184 nan Tamil Nadu
1185 nan Tamil Nadu
1186 nan Tamil Nadu
1187 nan Tamil Nadu
1188 50.0 Tamil Nadu
1189 42.0 Tamil Nadu
1190 77.0 West Bengal
1191 nan Jammu and Kashmir
1192 nan Jammu and Kashmir
1193 nan Jammu and Kashmir
1194 nan Jammu and Kashmir
1195 nan Rajasthan
1196 nan Rajasthan
1197 nan Rajasthan
1198 nan Rajasthan
1199 nan Rajasthan
1200 nan Rajasthan
1201 nan Rajasthan
1202 nan Rajasthan
1203 nan Rajasthan
1204 32.0 Chandigarh
1205 32.0 Chandigarh
1206 23.0 Chandigarh
1207 23.0 Chandigarh
1208 40.0 Chandigarh
1209 nan Haryana
1210 13.0 Karnataka
1211 32.0 Karnataka
1212 34.0 Karnataka
1213 21.0 Karnataka
1214 24.0 Karnataka
1215 nan Uttar Pradesh
1216 nan Uttar Pradesh
1217 nan Uttar Pradesh
1218 nan Uttar Pradesh
1219 nan Uttar Pradesh
1220 nan Uttar Pradesh
1221 nan Uttar Pradesh
1222 nan Uttar Pradesh
1223 nan Uttar Pradesh
1224 nan Uttar Pradesh
1225 nan Uttar Pradesh
1226 nan Uttar Pradesh
1227 nan Uttar Pradesh
1228 nan Uttar Pradesh
1229 nan Uttar Pradesh
1230 nan Uttar Pradesh
1231 nan Kerala
1232 nan Kerala
1233 nan Kerala
1234 nan Kerala
1235 nan Kerala
1236 nan Kerala
1237 nan Kerala
1238 nan Kerala
1239 nan Kerala
1240 nan Kerala
1241 nan Kerala
1242 nan Kerala
1243 nan Kerala
1244 nan Kerala
1245 nan Kerala
1246 nan Kerala
1247 nan Kerala
1248 nan Kerala
1249 nan Kerala
1250 nan Kerala
1251 nan Kerala
1252 nan Kerala
1253 nan Kerala
1254 nan Kerala
1255 nan Kerala
1256 nan Kerala
1257 nan Kerala
1258 nan Kerala
1259 nan Kerala
1260 nan Kerala
1261 nan Kerala
1262 nan Kerala
1263 nan Jammu and Kashmir
1264 nan Jammu and Kashmir
1265 nan Jammu and Kashmir
1266 nan Jammu and Kashmir
1267 nan Gujarat
1268 nan Maharashtra
1269 nan Maharashtra
1270 nan Maharashtra
1271 nan Maharashtra
1272 nan Maharashtra
1273 nan Uttar Pradesh
1274 nan Uttar Pradesh
1275 nan Uttar Pradesh
1276 nan Uttar Pradesh
1277 nan Uttar Pradesh
1278 nan Uttar Pradesh
1279 81.0 Uttar Pradesh
1280 nan Uttar Pradesh
1281 nan Delhi
1282 nan Delhi
1283 nan Delhi
1284 nan Delhi
1285 nan Delhi
1286 nan Delhi
1287 nan Delhi
1288 nan Delhi
1289 nan Delhi
1290 nan Delhi
1291 nan Delhi
1292 nan Delhi
1293 nan Delhi
1294 nan Delhi
1295 nan Delhi
1296 nan Delhi
1297 nan Delhi
1298 nan Delhi
1299 nan Delhi
1300 nan Delhi
1301 nan Delhi
1302 nan Delhi
1303 nan Delhi
1304 nan Delhi
1305 nan Delhi
1306 nan Punjab
1307 nan Punjab
1308 nan Telangana
1309 nan Telangana
1310 nan Telangana
1311 nan Telangana
1312 nan Telangana
1313 nan Telangana
1314 nan Telangana
1315 52.0 Karnataka
1316 48.0 Karnataka
1317 26.0 Karnataka
1318 nan Rajasthan
1319 nan Rajasthan
1320 nan Rajasthan
1321 nan Rajasthan
1322 nan Rajasthan
1323 nan Rajasthan
1324 nan Rajasthan
1325 nan Rajasthan
1326 nan Rajasthan
1327 nan Rajasthan
1328 nan Maharashtra
1329 nan Maharashtra
1330 nan Maharashtra
1331 nan Maharashtra
1332 nan Maharashtra
1333 nan Maharashtra
1334 nan Maharashtra
1335 nan Maharashtra
1336 nan Maharashtra
1337 nan Maharashtra
1338 nan Maharashtra
1339 nan Maharashtra
1340 nan Maharashtra
1341 nan Maharashtra
1342 nan Maharashtra
1343 nan Maharashtra
1344 nan Maharashtra
1345 nan Maharashtra
1346 nan Chhattisgarh
1347 nan Maharashtra
1348 nan Maharashtra
1349 nan Maharashtra
1350 nan Maharashtra
1351 nan Maharashtra
1352 44.0 Rajasthan
1353 17.0 Rajasthan
1354 65.0 Rajasthan
1355 60.0 Rajasthan
1356 nan Uttar Pradesh
1357 nan Uttar Pradesh
1358 nan Uttar Pradesh
1359 nan Uttar Pradesh
1360 nan Uttar Pradesh
1361 35.0 Bihar
1362 55.0 Gujarat
1363 nan Gujarat
1364 nan Gujarat
1365 nan Madhya Pradesh
1366 nan Madhya Pradesh
1367 nan Madhya Pradesh
1368 nan Madhya Pradesh
1369 nan Madhya Pradesh
1370 nan Madhya Pradesh
1371 nan Madhya Pradesh
1372 nan Madhya Pradesh
1373 nan Madhya Pradesh
1374 nan Madhya Pradesh
1375 nan Madhya Pradesh
1376 nan Madhya Pradesh
1377 nan Madhya Pradesh
1378 nan Madhya Pradesh
1379 nan Madhya Pradesh
1380 nan Madhya Pradesh
1381 nan Madhya Pradesh
1382 nan Madhya Pradesh
1383 nan Madhya Pradesh
1384 48.0 West Bengal
1385 51.0 West Bengal
1386 52.0 West Bengal
1387 nan West Bengal
1388 43.0 Tamil Nadu
1389 28.0 Tamil Nadu
1390 nan Tamil Nadu
1391 nan Tamil Nadu
1392 nan Tamil Nadu
1393 nan Tamil Nadu
1394 nan Tamil Nadu
1395 nan Maharashtra
1396 nan Maharashtra
1397 nan Maharashtra
1398 nan Maharashtra
1399 nan Maharashtra
1400 10.0 Andhra Pradesh
1401 34.0 Andhra Pradesh
1402 31.0 Andhra Pradesh
1403 32.0 Andhra Pradesh
1404 28.0 Andhra Pradesh
1405 28.0 Andhra Pradesh
1406 39.0 Andhra Pradesh
1407 65.0 Andhra Pradesh
1408 42.0 Andhra Pradesh
1409 39.0 Andhra Pradesh
1410 32.0 Andhra Pradesh
1411 59.0 Andhra Pradesh
1412 44.0 Andhra Pradesh
1413 28.0 Andhra Pradesh
1414 46.0 Andhra Pradesh
1415 35.0 Andhra Pradesh
1416 65.0 Andhra Pradesh
1417 40.0 Karnataka
1418 19.0 Karnataka
1419 40.0 Karnataka
1420 35.0 Karnataka
1421 41.0 Karnataka
1422 34.0 Karnataka
1423 26.0 Karnataka
1424 nan Jammu and Kashmir
1425 nan Jammu and Kashmir
1426 nan Jammu and Kashmir
1427 nan Jammu and Kashmir
1428 nan Jammu and Kashmir
1429 nan Jammu and Kashmir
1430 nan Rajasthan
1431 nan Rajasthan
1432 nan Rajasthan
1433 nan Rajasthan
1434 nan Rajasthan
1435 nan Rajasthan
1436 nan Rajasthan
1437 nan Rajasthan
1438 nan Rajasthan
1439 nan Rajasthan
1440 57.0 West Bengal
1441 22.0 Jharkhand
1442 nan Haryana
1443 nan Haryana
1444 nan Haryana
1445 56.0 Kerala
1446 23.0 Kerala
1447 nan Kerala
1448 nan Kerala
1449 43.0 Kerala
1450 nan Kerala
1451 23.0 Kerala
1452 52.0 Assam
1453 28.0 Gujarat
1454 60.0 Karnataka
1455 40.0 Karnataka
1456 62.0 Karnataka
1457 nan Maharashtra
1458 nan Maharashtra
1459 nan Maharashtra
1460 nan Maharashtra
1461 nan Maharashtra
1462 nan Maharashtra
1463 nan Maharashtra
1464 nan Maharashtra
1465 nan Maharashtra
1466 nan Maharashtra
1467 nan Maharashtra
1468 nan Maharashtra
1469 nan Maharashtra
1470 nan Maharashtra
1471 nan Maharashtra
1472 nan Maharashtra
1473 nan Maharashtra
1474 nan Maharashtra
1475 nan Maharashtra
1476 nan Maharashtra
1477 nan Maharashtra
1478 nan Maharashtra
1479 nan Maharashtra
1480 nan Maharashtra
1481 nan Maharashtra
1482 nan Maharashtra
1483 nan Maharashtra
1484 nan Maharashtra
1485 nan Maharashtra
1486 nan Maharashtra
1487 nan Maharashtra
1488 nan Maharashtra
1489 nan Maharashtra
1490 nan Maharashtra
1491 nan Maharashtra
1492 nan Maharashtra
1493 nan Maharashtra
1494 nan Maharashtra
1495 nan Maharashtra
1496 nan Maharashtra
1497 nan Maharashtra
1498 nan Maharashtra
1499 nan Maharashtra
1500 nan Maharashtra
1501 nan Maharashtra
1502 nan Maharashtra
1503 nan Maharashtra
1504 nan Maharashtra
1505 nan Maharashtra
1506 nan Maharashtra
1507 nan Maharashtra
1508 nan Maharashtra
1509 nan Maharashtra
1510 nan Maharashtra
1511 nan Haryana
1512 nan Haryana
1513 nan Haryana
1514 nan Haryana
1515 nan Tamil Nadu
1516 nan Tamil Nadu
1517 nan Tamil Nadu
1518 nan Tamil Nadu
1519 nan Tamil Nadu
1520 nan Tamil Nadu
1521 nan Tamil Nadu
1522 nan Tamil Nadu
1523 nan Tamil Nadu
1524 nan Tamil Nadu
1525 nan Tamil Nadu
1526 nan Tamil Nadu
1527 nan Tamil Nadu
1528 nan Tamil Nadu
1529 nan Tamil Nadu
1530 nan Tamil Nadu
1531 nan Tamil Nadu
1532 nan Tamil Nadu
1533 nan Tamil Nadu
1534 nan Tamil Nadu
1535 nan Tamil Nadu
1536 nan Tamil Nadu
1537 nan Tamil Nadu
1538 nan Tamil Nadu
1539 nan Tamil Nadu
1540 nan Tamil Nadu
1541 nan Tamil Nadu
1542 nan Tamil Nadu
1543 nan Tamil Nadu
1544 nan Tamil Nadu
1545 nan Tamil Nadu
1546 nan Tamil Nadu
1547 nan Tamil Nadu
1548 nan Tamil Nadu
1549 nan Tamil Nadu
1550 nan Tamil Nadu
1551 nan Tamil Nadu
1552 nan Tamil Nadu
1553 nan Tamil Nadu
1554 nan Tamil Nadu
1555 nan Tamil Nadu
1556 nan Tamil Nadu
1557 nan Tamil Nadu
1558 nan Tamil Nadu
1559 nan Tamil Nadu
1560 nan Tamil Nadu
1561 nan Tamil Nadu
1562 nan Tamil Nadu
1563 nan Tamil Nadu
1564 35.0 Tamil Nadu
1565 nan Telangana
1566 nan Telangana
1567 nan Telangana
1568 nan Telangana
1569 nan Telangana
1570 nan Telangana
1571 nan Telangana
1572 nan Telangana
1573 nan Telangana
1574 nan Telangana
1575 nan Telangana
1576 nan Telangana
1577 nan Telangana
1578 nan Telangana
1579 nan Telangana
1580 31.0 Bihar
1581 36.0 Bihar
1582 27.0 Bihar
1583 35.0 Bihar
1584 nan Bihar
1585 nan Delhi
1586 nan Delhi
1587 nan Delhi
1588 nan Delhi
1589 nan Delhi
1590 nan Delhi
1591 nan Delhi
1592 nan Delhi
1593 nan Delhi
1594 nan Delhi
1595 nan Delhi
1596 nan Delhi
1597 nan Delhi
1598 nan Delhi
1599 nan Delhi
1600 nan Delhi
1601 nan Delhi
1602 nan Delhi
1603 nan Delhi
1604 nan Delhi
1605 nan Delhi
1606 nan Delhi
1607 nan Delhi
1608 nan Chhattisgarh
1609 70.0 Andhra Pradesh
1610 23.0 Andhra Pradesh
1611 21.0 Andhra Pradesh
1612 70.0 Andhra Pradesh
1613 29.0 Odisha
1614 31.0 Chandigarh
1615 40.0 Chandigarh
1616 nan Uttar Pradesh
1617 nan Uttar Pradesh
1618 nan Uttar Pradesh
1619 nan Maharashtra
1620 nan Maharashtra
1621 nan Maharashtra
1622 nan Maharashtra
1623 nan Maharashtra
1624 nan Maharashtra
1625 nan Maharashtra
1626 nan Maharashtra
1627 nan Maharashtra
1628 nan Maharashtra
1629 nan Maharashtra
1630 nan Maharashtra
1631 nan Maharashtra
1632 nan Maharashtra
1633 nan Maharashtra
1634 nan Maharashtra
1635 nan Maharashtra
1636 nan Maharashtra
1637 nan Madhya Pradesh
1638 nan Madhya Pradesh
1639 nan Madhya Pradesh
1640 nan Madhya Pradesh
1641 nan Madhya Pradesh
1642 nan Madhya Pradesh
1643 nan Madhya Pradesh
1644 nan Madhya Pradesh
1645 nan Madhya Pradesh
1646 nan Madhya Pradesh
1647 nan Madhya Pradesh
1648 nan Madhya Pradesh
1649 nan Madhya Pradesh
1650 nan Madhya Pradesh
1651 nan Madhya Pradesh
1652 nan Madhya Pradesh
1653 nan Madhya Pradesh
1654 nan Madhya Pradesh
1655 nan Madhya Pradesh
1656 nan Madhya Pradesh
1657 nan Delhi
1658 58.0 Puducherry
1659 31.0 Puducherry
1660 52.0 Gujarat
1661 18.0 Gujarat
1662 45.0 Gujarat
1663 65.0 Gujarat
1664 68.0 Gujarat
1665 54.0 Gujarat
1666 58.0 Gujarat
1667 67.0 Gujarat
1668 40.0 Andhra Pradesh
1669 54.0 Andhra Pradesh
1670 50.0 Andhra Pradesh
1671 41.0 Andhra Pradesh
1672 25.0 Andhra Pradesh
1673 50.0 Andhra Pradesh
1674 20.0 Andhra Pradesh
1675 54.0 Andhra Pradesh
1676 36.0 Andhra Pradesh
1677 40.0 Andhra Pradesh
1678 26.0 Andhra Pradesh
1679 40.0 Andhra Pradesh
1680 41.0 Andhra Pradesh
1681 46.0 Andhra Pradesh
1682 53.0 Andhra Pradesh
1683 36.0 Andhra Pradesh
1684 35.0 Andhra Pradesh
1685 39.0 Andhra Pradesh
1686 36.0 Andhra Pradesh
1687 39.0 Andhra Pradesh
1688 27.0 Andhra Pradesh
1689 45.0 Andhra Pradesh
1690 34.0 Andhra Pradesh
1691 47.0 Andhra Pradesh
1692 48.0 Andhra Pradesh
1693 39.0 Andhra Pradesh
1694 44.0 Andhra Pradesh
1695 nan Andhra Pradesh
1696 54.0 Andhra Pradesh
1697 45.0 Andhra Pradesh
1698 30.0 Andhra Pradesh
1699 33.0 Andhra Pradesh
1700 50.0 Andhra Pradesh
1701 50.0 Andhra Pradesh
1702 20.0 Andhra Pradesh
1703 53.0 Andhra Pradesh
1704 46.0 Andhra Pradesh
1705 50.0 Andhra Pradesh
1706 39.0 Andhra Pradesh
1707 31.0 Andhra Pradesh
1708 35.0 Andhra Pradesh
1709 80.0 Andhra Pradesh
1710 35.0 Andhra Pradesh
1711 nan Bihar
1712 nan Bihar
1713 72.0 Punjab
1714 24.0 Karnataka
1715 37.0 Karnataka
1716 27.0 Karnataka
1717 33.0 Karnataka
1718 nan Punjab
1719 nan Punjab
1720 nan Punjab
1721 nan Assam
1722 nan Assam
1723 nan Assam
1724 nan Assam
1725 nan Rajasthan
1726 nan Rajasthan
1727 nan Rajasthan
1728 nan Rajasthan
1729 nan Rajasthan
1730 nan Rajasthan
1731 nan Rajasthan
1732 nan Rajasthan
1733 nan Rajasthan
1734 nan Rajasthan
1735 nan Rajasthan
1736 nan Rajasthan
1737 nan Rajasthan
1738 nan Delhi
1739 nan Delhi
1740 nan Telangana
1741 nan Telangana
1742 nan Telangana
1743 nan Telangana
1744 nan Telangana
1745 nan Punjab
1746 nan Uttar Pradesh
1747 nan Uttar Pradesh
1748 nan Uttar Pradesh
1749 nan Uttar Pradesh
1750 nan Uttar Pradesh
1751 nan Uttar Pradesh
1752 nan Uttar Pradesh
1753 nan Uttar Pradesh
1754 nan Uttar Pradesh
1755 nan Uttar Pradesh
1756 nan Uttar Pradesh
1757 nan Uttar Pradesh
1758 nan Rajasthan
1759 65.0 Rajasthan
1760 28.0 Tamil Nadu
1761 40.0 Tamil Nadu
1762 34.0 Tamil Nadu
1763 36.0 Tamil Nadu
1764 41.0 Tamil Nadu
1765 38.0 Tamil Nadu
1766 39.0 Tamil Nadu
1767 40.0 Tamil Nadu
1768 30.0 Tamil Nadu
1769 45.0 Tamil Nadu
1770 57.0 Tamil Nadu
1771 32.0 Tamil Nadu
1772 34.0 Tamil Nadu
1773 45.0 Tamil Nadu
1774 52.0 Tamil Nadu
1775 40.0 Tamil Nadu
1776 46.0 Tamil Nadu
1777 37.0 Tamil Nadu
1778 47.0 Tamil Nadu
1779 33.0 Tamil Nadu
1780 21.0 Tamil Nadu
1781 44.0 Tamil Nadu

1782 39.0 Tamil Nadu
1783 38.0 Tamil Nadu
1784 55.0 Tamil Nadu
1785 31.0 Tamil Nadu
1786 51.0 Tamil Nadu
1787 34.0 Tamil Nadu
1788 40.0 Tamil Nadu
1789 50.0 Tamil Nadu
1790 43.0 Tamil Nadu
1791 33.0 Tamil Nadu
1792 38.0 Tamil Nadu
1793 37.0 Tamil Nadu
1794 26.0 Tamil Nadu
1795 54.0 Tamil Nadu
1796 60.0 Tamil Nadu
1797 50.0 Tamil Nadu
1798 63.0 Tamil Nadu
1799 55.0 Tamil Nadu
1800 56.0 Tamil Nadu
1801 66.0 Tamil Nadu
1802 52.0 Tamil Nadu
1803 63.0 Tamil Nadu
1804 27.0 Tamil Nadu
1805 40.0 Tamil Nadu
1806 48.0 Tamil Nadu
1807 54.0 Tamil Nadu
1808 71.0 Tamil Nadu
1809 31.0 Tamil Nadu
1810 50.0 Tamil Nadu
1811 48.0 Tamil Nadu
1812 68.0 Tamil Nadu
1813 36.0 Tamil Nadu
1814 47.0 Tamil Nadu
1815 55.0 Tamil Nadu
1816 nan Tamil Nadu
1817 nan Tamil Nadu
1818 nan Tamil Nadu
1819 nan Tamil Nadu
1820 nan Tamil Nadu
1821 nan Tamil Nadu
1822 nan Tamil Nadu
1823 nan Tamil Nadu
1824 nan Tamil Nadu
1825 nan Tamil Nadu
1826 nan Tamil Nadu
1827 nan Tamil Nadu
1828 nan Tamil Nadu
1829 22.0 Tamil Nadu
1830 55.0 Tamil Nadu
1831 35.0 Tamil Nadu
1832 35.0 Tamil Nadu
1833 nan Tamil Nadu
1834 nan Tamil Nadu
1835 nan Tamil Nadu
1836 nan Tamil Nadu
1837 nan Tamil Nadu
1838 nan Tamil Nadu
1839 nan Tamil Nadu
1840 nan Tamil Nadu
1841 nan Tamil Nadu
1842 nan Tamil Nadu
1843 nan Tamil Nadu
1844 nan Tamil Nadu
1845 nan Tamil Nadu
1846 nan Tamil Nadu
1847 nan Tamil Nadu
1848 nan Tamil Nadu
1849 48.0 Tamil Nadu
1850 42.0 Tamil Nadu
1851 48.0 Tamil Nadu
1852 38.0 Tamil Nadu
1853 40.0 Tamil Nadu
1854 nan Tamil Nadu
1855 nan Tamil Nadu
1856 58.0 Tamil Nadu
1857 nan Tamil Nadu
1858 nan Tamil Nadu
1859 nan Tamil Nadu
1860 nan Tamil Nadu
1861 42.0 Tamil Nadu
1862 40.0 Tamil Nadu
1863 27.0 Tamil Nadu
1864 39.0 Tamil Nadu
1865 41.0 Tamil Nadu
1866 38.0 Tamil Nadu
1867 25.0 Tamil Nadu
1868 42.0 Tamil Nadu
1869 66.0 Tamil Nadu
1870 18.0 Kerala
1871 52.0 Kerala
1872 52.0 Kerala
1873 72.0 Kerala
1874 32.0 Kerala
1875 11.0 Kerala
1876 15.0 Kerala
1877 nan Kerala
1878 nan Kerala
1879 nan Kerala
1880 nan Kerala
1881 nan Kerala
1882 32.0 Kerala
1883 17.0 Kerala
1884 47.0 Kerala
1885 61.0 Kerala
1886 30.0 Kerala
1887 nan Kerala
1888 nan Kerala
1889 50.0 Kerala
1890 36.0 Kerala
1891 nan Kerala
1892 nan Kerala
1893 nan Kerala
1894 nan Jammu and Kashmir
1895 nan Jammu and Kashmir
1896 nan Jammu and Kashmir
1897 nan Jammu and Kashmir
1898 nan Jammu and Kashmir
1899 nan Jammu and Kashmir
1900 nan Jammu and Kashmir
1901 nan West Bengal
1902 nan West Bengal
1903 nan West Bengal
1904 nan West Bengal
1905 nan West Bengal
1906 nan West Bengal
1907 nan West Bengal
1908 nan West Bengal
1909 nan West Bengal
1910 nan West Bengal
1911 nan Bihar
1912 nan Delhi
1913 nan Delhi
1914 nan Delhi
1915 nan Delhi
1916 nan Delhi
1917 nan Delhi
1918 nan Delhi
1919 nan Delhi
1920 nan Delhi
1921 nan Delhi
1922 nan Delhi
1923 nan Delhi
1924 nan Delhi
1925 nan Delhi
1926 nan Delhi
1927 nan Delhi
1928 nan Delhi
1929 nan Delhi
1930 nan Delhi
1931 nan Delhi
1932 nan Delhi
1933 nan Delhi
1934 nan Delhi
1935 nan Delhi
1936 nan Delhi
1937 nan Delhi
1938 nan Delhi
1939 nan Delhi
1940 nan Delhi
1941 27.0 Gujarat
1942 42.0 Gujarat
1943 27.0 Gujarat
1944 36.0 Gujarat
1945 78.0 Gujarat
1946 49.0 Karnataka
1947 26.0 Karnataka
1948 63.0 Karnataka
1949 63.0 Karnataka
1950 27.0 Karnataka
1951 nan Maharashtra
1952 nan Maharashtra
1953 nan Maharashtra
1954 nan Maharashtra
1955 nan Maharashtra
1956 nan Maharashtra
1957 nan Maharashtra
1958 nan Maharashtra
1959 nan Maharashtra
1960 nan Maharashtra
1961 nan Maharashtra
1962 nan Maharashtra
1963 nan Maharashtra
1964 nan Maharashtra
1965 nan Maharashtra
1966 nan Assam
1967 nan Assam
1968 nan Assam
1969 nan Assam
1970 nan Assam
1971 nan Assam
1972 nan Assam
1973 nan Assam
1974 25.0 Andhra Pradesh
1975 36.0 Andhra Pradesh
1976 18.0 Andhra Pradesh
1977 16.0 Andhra Pradesh
1978 42.0 Andhra Pradesh
1979 43.0 Andhra Pradesh
1980 43.0 Andhra Pradesh
1981 nan Andhra Pradesh
1982 40.0 Andhra Pradesh
1983 72.0 Andhra Pradesh
1984 72.0 Andhra Pradesh
1985 40.0 Andhra Pradesh
1986 61.0 Andhra Pradesh
1987 36.0 Andhra Pradesh
1988 52.0 Andhra Pradesh
1989 52.0 Andhra Pradesh
1990 nan Andhra Pradesh
1991 31.0 Andhra Pradesh
1992 10.0 Andhra Pradesh
1993 10.0 Andhra Pradesh
1994 nan Andhra Pradesh
1995 10.0 Andhra Pradesh
1996 40.0 Andhra Pradesh
1997 53.0 Andhra Pradesh
1998 nan Rajasthan
1999 nan Rajasthan
2000 nan Rajasthan
2001 nan Rajasthan
2002 nan Rajasthan
2003 nan Rajasthan
2004 nan Rajasthan
2005 nan Rajasthan
2006 nan Rajasthan
2007 nan Rajasthan
2008 nan Rajasthan
2009 61.0 Rajasthan
2010 nan Chandigarh
2011 nan Chandigarh
2012 60.0 Odisha
2013 nan Uttar Pradesh
2014 nan Manipur
2015 nan Assam
2016 nan Assam
2017 nan Assam
2018 nan Telangana
2019 nan Telangana
2020 nan Telangana
2021 nan Telangana
2022 nan Telangana
2023 nan Telangana
2024 nan Telangana
2025 nan Telangana
2026 nan Telangana
2027 nan Telangana
2028 nan Telangana
2029 nan Telangana
2030 nan Telangana
2031 nan Telangana
2032 nan Telangana
2033 nan Telangana
2034 nan Telangana
2035 nan Telangana
2036 nan Telangana
2037 nan Telangana
2038 nan Telangana
2039 nan Telangana
2040 nan Telangana
2041 nan Telangana
2042 nan Telangana
2043 nan Telangana
2044 nan Telangana
2045 nan Telangana
2046 nan Telangana
2047 nan Telangana
2048 nan Madhya Pradesh
2049 nan Madhya Pradesh
2050 nan Madhya Pradesh
2051 nan Madhya Pradesh
2052 nan Madhya Pradesh
2053 nan Madhya Pradesh
2054 nan Madhya Pradesh
2055 nan Madhya Pradesh
2056 nan Madhya Pradesh
2057 nan Madhya Pradesh
2058 nan Madhya Pradesh
2059 nan Madhya Pradesh
2060 nan Maharashtra
2061 nan Maharashtra
2062 nan Maharashtra
2063 nan Rajasthan
2064 nan Rajasthan
2065 nan Rajasthan
2066 nan Rajasthan
2067 nan Rajasthan
2068 nan Rajasthan
2069 nan Rajasthan
2070 nan Rajasthan
2071 nan Rajasthan
2072 nan Andhra Pradesh
2073 nan Andhra Pradesh
2074 nan Andhra Pradesh
2075 nan Andhra Pradesh
2076 43.0 Andhra Pradesh
2077 34.0 Andhra Pradesh
2078 42.0 Andhra Pradesh
2079 43.0 Andhra Pradesh
2080 32.0 Andhra Pradesh
2081 47.0 Andhra Pradesh
2082 31.0 Andhra Pradesh
2083 36.0 Andhra Pradesh
2084 35.0 Andhra Pradesh
2085 37.0 Andhra Pradesh
2086 39.0 Andhra Pradesh
2087 46.0 Andhra Pradesh
2088 33.0 Andhra Pradesh
2089 43.0 Andhra Pradesh
2090 nan Andhra Pradesh
2091 23.0 Andhra Pradesh
2092 nan Andhra Pradesh
2093 nan Arunachal Pradesh
2094 52.0 Maharashtra
2095 nan Rajasthan
2096 nan Rajasthan
2097 65.0 Punjab
2098 nan Haryana
2099 nan Haryana
2100 nan Haryana
2101 nan Haryana
2102 48.0 Karnataka
2103 30.0 Karnataka
2104 41.0 Karnataka
2105 66.0 Karnataka
2106 59.0 Karnataka
2107 39.0 Karnataka
2108 60.0 Karnataka
2109 63.0 Karnataka
2110 73.0 Karnataka
2111 45.0 Karnataka
2112 60.0 Karnataka
2113 nan Delhi
2114 nan Delhi
2115 nan Delhi
2116 nan Delhi
2117 nan Delhi
2118 nan Delhi
2119 nan Delhi
2120 nan Delhi
2121 nan Delhi
2122 nan Delhi
2123 nan Delhi
2124 nan Delhi
2125 nan Delhi
2126 nan Delhi
2127 nan Delhi
2128 nan Delhi
2129 nan Delhi
2130 nan Delhi
2131 nan Delhi
2132 nan Delhi
2133 nan Delhi
2134 nan Delhi
2135 nan Delhi
2136 nan Delhi
2137 nan Delhi
2138 nan Delhi
2139 nan Delhi
2140 nan Delhi
2141 nan Delhi
2142 nan Delhi
2143 nan Delhi
2144 nan Delhi
2145 nan Delhi
2146 nan Delhi
2147 nan Delhi
2148 nan Delhi
2149 nan Delhi
2150 nan Delhi
2151 nan Delhi
2152 nan Delhi
2153 nan Delhi
2154 nan Delhi
2155 nan Delhi
2156 nan Delhi
2157 nan Delhi
2158 nan Delhi
2159 nan Delhi
2160 nan Delhi
2161 nan Delhi
2162 nan Delhi
2163 nan Delhi
2164 nan Delhi
2165 nan Delhi
2166 nan Delhi
2167 nan Delhi
2168 nan Delhi
2169 nan Delhi
2170 nan Delhi
2171 nan Delhi
2172 nan Delhi
2173 nan Delhi
2174 nan Delhi
2175 nan Delhi
2176 nan Delhi
2177 nan Delhi
2178 nan Delhi
2179 nan Delhi
2180 nan Uttar Pradesh
2181 nan Uttar Pradesh
2182 nan Uttar Pradesh
2183 nan Uttar Pradesh
2184 nan Jammu and Kashmir
2185 nan Jammu and Kashmir
2186 nan Jammu and Kashmir
2187 nan Jammu and Kashmir
2188 nan Jammu and Kashmir
2189 nan Jammu and Kashmir
2190 nan Jammu and Kashmir
2191 nan Jammu and Kashmir
2192 nan Rajasthan
2193 nan Rajasthan
2194 nan Haryana
2195 nan Haryana
2196 nan Andhra Pradesh
2197 60.0 Andhra Pradesh
2198 38.0 Andhra Pradesh
2199 nan Kerala
2200 nan Kerala
2201 nan Kerala
2202 nan Kerala
2203 nan Kerala
2204 nan Kerala
2205 nan Kerala
2206 nan Kerala
2207 70.0 Kerala
2208 35.0 Kerala
2209 10.0 Kerala
2210 7.0 Kerala
2211 58.0 Kerala
2212 27.0 Kerala
2213 28.0 Kerala
2214 36.0 Kerala
2215 nan Kerala
2216 nan Kerala
2217 nan Kerala
2218 nan Kerala
2219 nan Kerala
2220 nan Tamil Nadu
2221 nan Tamil Nadu
2222 nan Tamil Nadu
2223 nan Tamil Nadu
2224 nan Tamil Nadu
2225 nan Tamil Nadu
2226 nan Tamil Nadu
2227 nan Tamil Nadu
2228 nan Tamil Nadu
2229 nan Tamil Nadu
2230 nan Tamil Nadu
2231 nan Tamil Nadu
2232 nan Tamil Nadu
2233 nan Tamil Nadu
2234 nan Tamil Nadu
2235 nan Tamil Nadu
2236 nan Tamil Nadu
2237 nan Tamil Nadu
2238 nan Tamil Nadu
2239 nan Tamil Nadu
2240 nan Tamil Nadu
2241 nan Tamil Nadu
2242 nan Tamil Nadu
2243 nan Tamil Nadu
2244 nan Tamil Nadu
2245 nan Tamil Nadu
2246 nan Tamil Nadu
2247 nan Tamil Nadu
2248 nan Tamil Nadu
2249 nan Tamil Nadu
2250 nan Tamil Nadu
2251 nan Tamil Nadu
2252 nan Tamil Nadu
2253 nan Tamil Nadu
2254 nan Tamil Nadu
2255 nan Tamil Nadu
2256 nan Tamil Nadu
2257 nan Tamil Nadu
2258 nan Tamil Nadu
2259 nan Tamil Nadu
2260 nan Tamil Nadu
2261 nan Tamil Nadu
2262 nan Tamil Nadu
2263 nan Tamil Nadu
2264 nan Tamil Nadu
2265 nan Tamil Nadu
2266 nan Tamil Nadu
2267 nan Tamil Nadu
2268 nan Tamil Nadu
2269 nan Tamil Nadu
2270 nan Tamil Nadu
2271 nan Tamil Nadu
2272 nan Tamil Nadu
2273 nan Tamil Nadu
2274 nan Tamil Nadu
2275 nan Tamil Nadu
2276 nan Tamil Nadu
2277 nan Tamil Nadu
2278 nan Tamil Nadu
2279 nan Tamil Nadu
2280 nan Tamil Nadu
2281 nan Tamil Nadu
2282 nan Tamil Nadu
2283 nan Tamil Nadu
2284 nan Tamil Nadu
2285 nan Tamil Nadu
2286 nan Tamil Nadu
2287 nan Tamil Nadu
2288 nan Tamil Nadu
2289 nan Tamil Nadu
2290 nan Tamil Nadu
2291 nan Tamil Nadu
2292 nan Tamil Nadu
2293 nan Tamil Nadu
2294 nan Tamil Nadu
2295 nan Maharashtra
2296 nan Maharashtra
2297 nan Maharashtra
2298 nan Maharashtra
2299 nan Maharashtra
2300 nan Maharashtra
2301 nan Maharashtra
2302 nan Maharashtra
2303 nan Maharashtra
2304 nan Maharashtra
2305 nan Maharashtra
2306 nan Maharashtra
2307 nan Maharashtra
2308 nan Maharashtra
2309 nan Maharashtra
2310 nan Maharashtra
2311 nan Maharashtra
2312 nan Maharashtra
2313 nan Maharashtra
2314 nan Maharashtra
2315 nan Maharashtra
2316 nan Maharashtra
2317 nan Maharashtra
2318 nan Maharashtra
2319 nan Maharashtra
2320 nan Maharashtra
2321 nan Maharashtra
2322 nan Maharashtra
2323 nan Maharashtra
2324 nan Maharashtra
2325 nan Maharashtra
2326 nan Maharashtra
2327 nan Maharashtra
2328 nan Maharashtra
2329 nan Maharashtra
2330 nan Maharashtra
2331 nan Maharashtra
2332 nan Maharashtra
2333 nan Maharashtra
2334 nan Maharashtra
2335 nan Maharashtra
2336 nan Maharashtra
2337 nan Maharashtra
2338 nan Maharashtra
2339 nan Maharashtra
2340 nan Maharashtra
2341 nan Maharashtra
2342 nan Maharashtra
2343 nan Maharashtra
2344 nan Maharashtra
2345 nan Maharashtra
2346 nan Maharashtra
2347 nan Maharashtra
2348 nan Maharashtra
2349 nan Maharashtra
2350 nan Maharashtra
2351 nan Maharashtra
2352 nan Maharashtra
2353 nan Maharashtra
2354 nan Maharashtra
2355 nan Maharashtra
2356 nan Maharashtra
2357 nan Maharashtra
2358 nan Maharashtra
2359 nan Maharashtra
2360 nan Maharashtra
2361 nan Maharashtra
2362 nan Maharashtra
2363 nan Maharashtra
2364 nan Maharashtra
2365 nan Maharashtra
2366 nan Maharashtra
2367 nan Maharashtra
2368 nan Maharashtra
2369 nan Maharashtra
2370 nan Maharashtra
2371 nan Maharashtra
2372 nan West Bengal
2373 nan West Bengal
2374 nan West Bengal
2375 nan West Bengal
2376 nan West Bengal
2377 nan West Bengal
2378 nan West Bengal
2379 nan West Bengal
2380 nan West Bengal
2381 nan West Bengal

2382 nan West Bengal
2383 nan West Bengal
2384 nan West Bengal
2385 nan West Bengal
2386 nan West Bengal
2387 nan West Bengal
2388 nan Andhra Pradesh
2389 nan Andhra Pradesh
2390 nan Andhra Pradesh
2391 nan Andhra Pradesh
2392 nan Andhra Pradesh
2393 nan Andhra Pradesh
2394 nan Andhra Pradesh
2395 nan Andhra Pradesh
2396 1.0 Chandigarh
2397 nan Madhya Pradesh
2398 nan Madhya Pradesh
2399 nan Jharkhand
2400 nan Delhi
2401 nan Delhi
2402 nan Delhi
2403 nan Delhi
2404 nan Delhi
2405 nan Delhi
2406 nan Delhi
2407 nan Delhi
2408 nan Delhi
2409 nan Delhi
2410 nan Delhi
2411 nan Delhi
2412 nan Delhi
2413 nan Delhi
2414 nan Delhi
2415 nan Delhi
2416 nan Delhi
2417 nan Delhi
2418 nan Delhi
2419 nan Delhi
2420 nan Delhi
2421 nan Delhi
2422 nan Delhi
2423 nan Delhi
2424 nan Delhi
2425 nan Delhi
2426 nan Delhi
2427 nan Delhi
2428 nan Delhi
2429 nan Delhi
2430 nan Delhi
2431 nan Delhi
2432 nan Delhi
2433 nan Delhi
2434 nan Delhi
2435 nan Delhi
2436 nan Delhi
2437 nan Delhi
2438 nan Delhi
2439 nan Delhi
2440 nan Delhi
2441 nan Delhi
2442 nan Delhi
2443 nan Delhi
2444 nan Delhi
2445 nan Delhi
2446 nan Delhi
2447 nan Delhi
2448 nan Delhi
2449 nan Delhi
2450 nan Delhi
2451 nan Delhi
2452 nan Delhi
2453 nan Delhi
2454 nan Delhi
2455 nan Delhi
2456 nan Delhi
2457 nan Delhi
2458 nan Delhi
2459 nan Delhi
2460 nan Delhi
2461 nan Delhi
2462 nan Delhi
2463 nan Delhi
2464 nan Delhi
2465 nan Delhi
2466 nan Delhi
2467 nan Delhi
2468 nan Delhi
2469 nan Delhi
2470 nan Delhi
2471 nan Delhi
2472 nan Delhi
2473 nan Delhi
2474 nan Madhya Pradesh
2475 nan Madhya Pradesh
2476 nan Madhya Pradesh
2477 nan Madhya Pradesh
2478 nan Madhya Pradesh
2479 nan Madhya Pradesh
2480 36.0 Madhya Pradesh
2481 24.0 Karnataka
2482 22.0 Karnataka
2483 14.0 Karnataka
2484 nan Telangana
2485 nan Telangana
2486 nan Telangana
2487 nan Telangana
2488 nan Telangana
2489 nan Telangana
2490 nan Telangana
2491 nan Telangana
2492 nan Telangana
2493 nan Telangana
2494 nan Telangana
2495 nan Telangana
2496 nan Telangana
2497 nan Telangana
2498 nan Telangana
2499 nan Telangana
2500 nan Telangana
2501 nan Telangana
2502 nan Telangana
2503 nan Telangana
2504 nan Telangana
2505 nan Telangana
2506 nan Telangana
2507 nan Telangana
2508 nan Telangana
2509 nan Telangana
2510 nan Telangana
2511 28.0 Gujarat
2512 nan Bihar
2513 nan Bihar
2514 nan Bihar
2515 nan Bihar
2516 nan Bihar
2517 nan Andhra Pradesh
2518 nan Andhra Pradesh
2519 nan Andhra Pradesh
2520 nan Andhra Pradesh
2521 nan Andhra Pradesh
2522 nan Andhra Pradesh
2523 nan Maharashtra
2524 nan Maharashtra
2525 nan Maharashtra
2526 nan Maharashtra
2527 nan Himachal Pradesh
2528 nan Himachal Pradesh
2529 nan Himachal Pradesh
2530 nan Maharashtra
2531 nan Maharashtra
2532 nan Maharashtra
2533 nan Uttarakhand
2534 nan Uttarakhand
2535 nan Uttarakhand
2536 nan Uttar Pradesh
2537 nan Uttar Pradesh
2538 nan Uttar Pradesh
2539 nan Uttar Pradesh
2540 nan Uttar Pradesh
2541 nan Puducherry
2542 nan Puducherry
2543 nan Uttar Pradesh
2544 nan Uttar Pradesh
2545 nan Rajasthan
2546 nan Rajasthan
2547 nan Rajasthan
2548 nan Rajasthan
2549 nan Rajasthan
2550 nan Rajasthan
2551 nan Rajasthan
2552 nan Rajasthan
2553 nan Rajasthan
2554 nan Rajasthan
2555 nan Rajasthan
2556 nan Rajasthan
2557 nan Rajasthan
2558 nan Rajasthan
2559 nan Rajasthan
2560 nan Rajasthan
2561 nan Rajasthan
2562 nan Rajasthan
2563 nan Rajasthan
2564 nan Rajasthan
2565 nan Rajasthan
2566 nan Goa
2567 nan Andhra Pradesh
2568 nan Andhra Pradesh
2569 nan Andhra Pradesh
2570 nan Andhra Pradesh
2571 nan Andhra Pradesh
2572 nan Andhra Pradesh
2573 nan Andhra Pradesh
2574 nan Andhra Pradesh
2575 nan Andhra Pradesh
2576 nan Andhra Pradesh
2577 nan Andhra Pradesh
2578 nan Andhra Pradesh
2579 17.0 Gujarat
2580 60.0 Gujarat
2581 35.0 Gujarat
2582 30.0 Gujarat
2583 7.0 Gujarat
2584 68.0 Gujarat
2585 65.0 Gujarat
2586 75.0 Karnataka
2587 nan Uttar Pradesh
2588 nan Uttar Pradesh
2589 nan Uttar Pradesh
2590 nan Uttar Pradesh
2591 nan Uttar Pradesh
2592 nan Uttar Pradesh
2593 nan Uttar Pradesh
2594 nan Uttar Pradesh
2595 nan Uttar Pradesh
2596 nan Uttar Pradesh
2597 nan Uttar Pradesh
2598 nan Uttar Pradesh
2599 nan Uttar Pradesh
2600 nan Uttar Pradesh
2601 nan Uttar Pradesh
2602 nan Uttar Pradesh
2603 nan Uttar Pradesh
2604 nan Uttar Pradesh
2605 nan Uttar Pradesh
2606 nan Uttar Pradesh
2607 nan Uttar Pradesh
2608 nan Uttar Pradesh
2609 nan Uttar Pradesh
2610 nan Uttar Pradesh
2611 nan Uttar Pradesh
2612 nan Uttar Pradesh
2613 nan Uttar Pradesh
2614 nan Uttar Pradesh
2615 nan Uttar Pradesh
2616 nan Uttar Pradesh
2617 nan Uttar Pradesh
2618 nan Uttar Pradesh
2619 nan Uttar Pradesh
2620 nan Uttar Pradesh
2621 nan Uttar Pradesh
2622 nan Uttar Pradesh
2623 nan Uttar Pradesh
2624 nan Uttar Pradesh
2625 nan Uttar Pradesh
2626 nan Uttar Pradesh
2627 nan Uttar Pradesh
2628 nan Uttar Pradesh
2629 nan Uttar Pradesh
2630 nan Uttar Pradesh
2631 nan Haryana
2632 nan Haryana
2633 nan Haryana
2634 nan Haryana
2635 nan Haryana
2636 nan Haryana
2637 nan Haryana
2638 nan Haryana
2639 nan Odisha
2640 nan Rajasthan
2641 nan Rajasthan
2642 nan Rajasthan
2643 nan Rajasthan
2644 nan Rajasthan
2645 nan Rajasthan
2646 nan Rajasthan
2647 nan Rajasthan
2648 nan Rajasthan
2649 nan Rajasthan
2650 nan Rajasthan
2651 nan Rajasthan
2652 nan Delhi
2653 nan Delhi
2654 nan Delhi
2655 nan Delhi
2656 nan Delhi
2657 nan Delhi
2658 nan Delhi
2659 nan Delhi
2660 nan Delhi
2661 nan Delhi
2662 nan Delhi
2663 nan Delhi
2664 nan Delhi
2665 nan Delhi
2666 nan Delhi
2667 nan Delhi
2668 nan Delhi
2669 nan Delhi
2670 nan Delhi
2671 nan Delhi
2672 nan Delhi
2673 nan Delhi
2674 nan Delhi
2675 nan Delhi
2676 nan Delhi
2677 nan Delhi
2678 nan Delhi
2679 nan Delhi
2680 nan Delhi
2681 nan Delhi
2682 nan Delhi
2683 nan Delhi
2684 nan Delhi
2685 nan Delhi
2686 nan Delhi
2687 nan Delhi
2688 nan Delhi
2689 nan Delhi
2690 nan Delhi
2691 nan Delhi
2692 nan Delhi
2693 nan Delhi
2694 nan Delhi
2695 nan Delhi
2696 nan Delhi
2697 nan Delhi
2698 nan Delhi
2699 nan Delhi
2700 nan Delhi
2701 nan Delhi
2702 nan Delhi
2703 nan Delhi
2704 nan Delhi
2705 nan Delhi
2706 nan Delhi
2707 nan Delhi
2708 nan Delhi
2709 nan Delhi
2710 nan Delhi
2711 nan Delhi
2712 nan Delhi
2713 nan Delhi
2714 nan Delhi
2715 nan Delhi
2716 nan Delhi
2717 nan Delhi
2718 nan Delhi
2719 nan Delhi
2720 nan Delhi
2721 nan Delhi
2722 nan Delhi
2723 nan Delhi
2724 nan Delhi
2725 nan Delhi
2726 nan Delhi
2727 nan Delhi
2728 nan Delhi
2729 nan Delhi
2730 nan Delhi
2731 nan Delhi
2732 nan Delhi
2733 nan Delhi
2734 nan Delhi
2735 nan Delhi
2736 nan Delhi
2737 nan Delhi
2738 nan Delhi
2739 nan Delhi
2740 nan Delhi
2741 nan Delhi
2742 nan Delhi
2743 nan Tamil Nadu
2744 nan Tamil Nadu
2745 nan Tamil Nadu
2746 nan Tamil Nadu
2747 nan Tamil Nadu
2748 nan Tamil Nadu
2749 nan Tamil Nadu
2750 nan Tamil Nadu
2751 nan Tamil Nadu
2752 nan Tamil Nadu
2753 nan Tamil Nadu
2754 nan Tamil Nadu
2755 nan Tamil Nadu
2756 nan Tamil Nadu
2757 nan Tamil Nadu
2758 nan Tamil Nadu
2759 nan Tamil Nadu
2760 nan Tamil Nadu
2761 nan Tamil Nadu
2762 nan Tamil Nadu
2763 nan Tamil Nadu
2764 nan Tamil Nadu
2765 nan Tamil Nadu
2766 nan Tamil Nadu
2767 nan Tamil Nadu
2768 nan Tamil Nadu
2769 nan Tamil Nadu
2770 nan Tamil Nadu
2771 nan Tamil Nadu
2772 nan Tamil Nadu
2773 nan Tamil Nadu
2774 nan Tamil Nadu
2775 nan Tamil Nadu
2776 nan Tamil Nadu
2777 nan Tamil Nadu
2778 nan Tamil Nadu
2779 nan Tamil Nadu
2780 nan Tamil Nadu
2781 nan Tamil Nadu
2782 nan Tamil Nadu
2783 nan Tamil Nadu
2784 nan Tamil Nadu
2785 nan Tamil Nadu
2786 nan Tamil Nadu
2787 nan Tamil Nadu
2788 nan Tamil Nadu
2789 nan Tamil Nadu
2790 nan Tamil Nadu
2791 nan Tamil Nadu
2792 nan Tamil Nadu
2793 nan Tamil Nadu
2794 nan Tamil Nadu
2795 nan Tamil Nadu
2796 nan Tamil Nadu
2797 nan Tamil Nadu
2798 nan Tamil Nadu
2799 nan Tamil Nadu
2800 nan Tamil Nadu
2801 nan Tamil Nadu
2802 nan Tamil Nadu
2803 nan Tamil Nadu
2804 nan Tamil Nadu
2805 nan Tamil Nadu
2806 nan Tamil Nadu
2807 nan Tamil Nadu
2808 nan Tamil Nadu
2809 nan Tamil Nadu
2810 nan Tamil Nadu
2811 nan Tamil Nadu
2812 nan Tamil Nadu
2813 nan Tamil Nadu
2814 nan Tamil Nadu
2815 nan Tamil Nadu
2816 nan Tamil Nadu
2817 nan Tamil Nadu
2818 nan Tamil Nadu
2819 nan Tamil Nadu
2820 nan Tamil Nadu
2821 nan Tamil Nadu
2822 nan Tamil Nadu
2823 nan Tamil Nadu
2824 nan Tamil Nadu
2825 nan Tamil Nadu
2826 nan Tamil Nadu
2827 nan Tamil Nadu
2828 nan Tamil Nadu
2829 nan Tamil Nadu
2830 nan Tamil Nadu
2831 nan Tamil Nadu
2832 nan Tamil Nadu
2833 nan Tamil Nadu
2834 nan Tamil Nadu
2835 nan Tamil Nadu
2836 nan Tamil Nadu
2837 nan Tamil Nadu
2838 nan Tamil Nadu
2839 nan Tamil Nadu
2840 nan Tamil Nadu
2841 nan Tamil Nadu
2842 nan Tamil Nadu
2843 nan Tamil Nadu
2844 nan Tamil Nadu
2845 nan Assam
2846 nan Assam
2847 nan Assam
2848 nan Assam
2849 nan Jammu and Kashmir
2850 nan Jammu and Kashmir
2851 nan Jammu and Kashmir
2852 nan Jammu and Kashmir
2853 nan Jammu and Kashmir
2854 nan Punjab
2855 nan Punjab
2856 nan Punjab
2857 69.0 Punjab
2858 51.0 Kerala
2859 nan Kerala
2860 nan Kerala
2861 nan Kerala
2862 nan Kerala
2863 nan Kerala
2864 nan Kerala
2865 nan Kerala
2866 nan Kerala
2867 nan Madhya Pradesh
2868 nan Madhya Pradesh
2869 nan Madhya Pradesh
2870 nan Madhya Pradesh
2871 nan Madhya Pradesh
2872 nan Madhya Pradesh
2873 nan Madhya Pradesh
2874 nan Madhya Pradesh
2875 nan Madhya Pradesh
2876 nan Madhya Pradesh
2877 nan Madhya Pradesh
2878 nan Madhya Pradesh
2879 nan Madhya Pradesh
2880 nan Madhya Pradesh
2881 nan Madhya Pradesh
2882 nan Madhya Pradesh
2883 nan Madhya Pradesh
2884 nan Madhya Pradesh
2885 nan Madhya Pradesh
2886 nan Madhya Pradesh
2887 nan Madhya Pradesh
2888 nan Madhya Pradesh
2889 70.0 Karnataka
2890 26.0 Karnataka
2891 20.0 Karnataka
2892 nan Odisha
2893 nan Odisha
2894 nan Odisha
2895 nan Rajasthan
2896 nan Rajasthan
2897 nan Telangana
2898 nan Telangana
2899 nan Telangana
2900 nan Telangana
2901 nan Telangana
2902 nan Telangana
2903 nan Telangana
2904 nan Telangana
2905 nan Telangana
2906 nan Telangana
2907 nan Telangana
2908 nan Telangana
2909 nan Telangana
2910 nan Telangana
2911 nan Telangana
2912 nan Telangana
2913 nan Telangana
2914 nan Telangana
2915 nan Telangana
2916 nan Telangana
2917 nan Telangana
2918 nan Telangana
2919 nan Telangana
2920 nan Telangana
2921 nan Telangana
2922 nan Telangana
2923 nan Telangana
2924 nan Telangana
2925 nan Telangana
2926 nan Telangana
2927 nan Telangana
2928 nan Telangana
2929 nan Telangana
2930 nan Telangana
2931 nan Telangana
2932 nan Telangana
2933 nan Telangana
2934 nan Telangana
2935 nan Telangana
2936 nan Telangana
2937 nan Telangana
2938 nan Telangana
2939 nan Telangana
2940 nan Telangana
2941 nan Telangana
2942 nan Telangana
2943 nan Telangana
2944 nan Telangana
2945 nan Telangana
2946 nan Telangana
2947 nan Telangana
2948 nan Telangana
2949 nan Telangana
2950 nan Telangana
2951 nan Telangana
2952 nan Telangana
2953 nan Telangana
2954 nan Telangana
2955 nan Telangana
2956 nan Telangana
2957 nan Telangana
2958 nan Telangana
2959 nan Telangana
2960 nan Telangana
2961 nan Telangana
2962 nan Telangana
2963 nan Telangana
2964 nan Telangana
2965 nan Telangana
2966 nan Telangana
2967 nan Telangana
2968 nan Telangana
2969 nan Telangana
2970 nan Telangana
2971 nan Telangana
2972 nan Haryana
2973 35.0 Bihar
2974 nan Punjab
2975 nan Punjab
2976 nan Maharashtra
2977 nan Maharashtra
2978 nan Maharashtra
2979 nan Maharashtra
2980 nan Maharashtra
2981 nan Maharashtra
2982 nan Maharashtra
2983 nan Maharashtra
2984 nan Maharashtra
2985 nan Maharashtra
2986 nan Maharashtra
2987 nan Maharashtra
2988 nan Maharashtra
2989 nan Maharashtra
2990 nan Maharashtra
2991 nan Maharashtra
2992 nan Maharashtra
2993 nan Maharashtra
2994 nan Maharashtra
2995 nan Maharashtra
2996 nan Maharashtra
2997 nan Maharashtra
2998 nan Maharashtra
2999 nan Maharashtra
3000 nan Maharashtra
3001 nan Maharashtra
3002 nan Maharashtra
3003 nan Maharashtra
3004 nan Maharashtra
3005 nan Maharashtra
3006 nan Maharashtra
3007 nan Maharashtra
3008 nan Maharashtra
3009 nan Maharashtra
3010 nan Maharashtra
3011 nan Maharashtra
3012 nan Maharashtra
3013 nan Maharashtra
3014 nan Maharashtra
3015 nan Maharashtra
3016 nan Maharashtra
3017 nan Maharashtra
3018 nan Maharashtra
3019 nan Maharashtra
3020 nan Maharashtra
3021 nan Maharashtra
3022 nan Maharashtra
3023 nan Maharashtra
3024 nan Maharashtra
3025 nan Maharashtra
3026 nan Maharashtra
3027 nan Maharashtra
3028 nan Maharashtra
3029 nan Maharashtra
3030 nan Maharashtra
3031 nan Maharashtra
3032 nan Maharashtra
3033 nan Maharashtra
3034 nan Maharashtra
3035 nan Maharashtra
3036 nan Maharashtra
3037 nan Maharashtra
3038 nan Maharashtra
3039 nan Maharashtra
3040 nan Maharashtra
3041 nan Maharashtra
3042 nan Maharashtra
3043 37.0 Bihar
3044 nan Delhi
3045 nan Delhi

3046 nan Uttarakhand
3047 nan Uttarakhand
3048 nan Uttarakhand
3049 nan Uttarakhand
3050 nan Uttarakhand
3051 nan Uttarakhand
3052 nan Ladakh
3053 nan Andhra Pradesh
3054 nan Andhra Pradesh
3055 nan Andhra Pradesh
3056 nan Madhya Pradesh
3057 nan Madhya Pradesh
3058 nan Madhya Pradesh
3059 nan Madhya Pradesh
3060 nan Madhya Pradesh
3061 nan Madhya Pradesh
3062 nan Madhya Pradesh
3063 nan Madhya Pradesh
3064 nan Madhya Pradesh
3065 nan Madhya Pradesh
3066 nan Madhya Pradesh
3067 nan Madhya Pradesh
3068 nan Madhya Pradesh
3069 nan Madhya Pradesh
3070 nan Madhya Pradesh
3071 nan Madhya Pradesh
3072 nan Madhya Pradesh
3073 nan Madhya Pradesh
3074 nan Madhya Pradesh
3075 nan Madhya Pradesh
3076 nan Rajasthan
3077 nan Rajasthan
3078 nan Rajasthan
3079 nan Rajasthan
3080 nan Rajasthan
3081 nan Rajasthan
3082 nan Rajasthan
3083 nan Rajasthan
3084 nan Rajasthan
3085 nan Rajasthan
3086 nan Rajasthan
3087 nan Odisha
3088 nan Odisha
3089 nan Odisha
3090 nan Odisha
3091 nan Odisha
3092 nan Odisha
3093 nan Odisha
3094 nan Odisha
3095 nan Odisha
3096 nan Odisha
3097 nan Odisha
3098 nan Madhya Pradesh
3099 nan Madhya Pradesh
3100 nan Madhya Pradesh
3101 nan Madhya Pradesh
3102 nan Madhya Pradesh
3103 nan Uttar Pradesh
3104 nan Uttar Pradesh
3105 nan Assam
3106 nan Assam
3107 nan Assam
3108 nan Assam
3109 32.0 Goa
3110 nan Rajasthan
3111 nan Rajasthan
3112 nan Rajasthan
3113 nan Rajasthan
3114 nan Rajasthan
3115 nan Rajasthan
3116 nan Rajasthan
3117 nan Rajasthan
3118 nan Rajasthan
3119 nan Rajasthan
3120 nan Rajasthan
3121 nan Rajasthan
3122 nan Rajasthan
3123 nan Rajasthan
3124 nan Rajasthan
3125 nan Rajasthan
3126 nan Rajasthan
3127 nan Andhra Pradesh
3128 nan Andhra Pradesh
3129 nan Andhra Pradesh
3130 nan Andhra Pradesh
3131 nan Andhra Pradesh
3132 nan Andhra Pradesh
3133 nan Andhra Pradesh
3134 nan Andhra Pradesh
3135 nan Andhra Pradesh
3136 nan Andhra Pradesh
3137 nan Andhra Pradesh
3138 nan Andhra Pradesh
3139 nan Andhra Pradesh
3140 nan Andhra Pradesh
3141 nan Andhra Pradesh
3142 nan Andhra Pradesh
3143 nan Jammu and Kashmir
3144 nan Jammu and Kashmir
3145 nan Jammu and Kashmir
3146 nan Maharashtra
3147 nan Maharashtra
3148 nan Maharashtra
3149 nan Maharashtra
3150 nan Maharashtra
3151 nan Maharashtra
3152 nan Maharashtra
3153 nan Maharashtra
3154 nan Maharashtra
3155 nan Maharashtra
3156 nan Maharashtra
3157 nan Maharashtra
3158 nan Maharashtra
3159 nan Maharashtra
3160 nan Maharashtra
3161 nan Maharashtra
3162 nan Maharashtra
3163 nan Maharashtra
3164 nan Maharashtra
3165 nan Maharashtra
3166 nan Maharashtra
3167 nan Maharashtra
3168 nan Maharashtra
3169 nan Maharashtra
3170 nan Maharashtra
3171 nan Maharashtra
3172 nan Maharashtra
3173 nan Maharashtra
3174 nan Maharashtra
3175 nan Maharashtra
3176 nan Maharashtra
3177 nan Maharashtra
3178 nan Maharashtra
3179 nan Maharashtra
3180 nan Maharashtra
3181 nan Maharashtra
3182 nan Maharashtra
3183 nan Maharashtra
3184 nan Maharashtra
3185 nan Maharashtra
3186 nan Maharashtra
3187 nan Maharashtra
3188 nan Maharashtra
3189 nan Maharashtra
3190 nan Maharashtra
3191 nan Maharashtra
3192 nan Maharashtra
3193 nan Rajasthan
3194 nan Rajasthan
3195 nan Gujarat
3196 nan Gujarat
3197 nan Gujarat
3198 nan Gujarat
3199 nan Gujarat
3200 nan Gujarat
3201 nan Gujarat
3202 nan Gujarat
3203 nan Gujarat
3204 nan Gujarat
3205 nan Punjab
3206 nan Punjab
3207 nan Punjab
3208 nan Punjab
3209 nan Assam
3210 16.0 Chhattisgarh
3211 nan Haryana
3212 nan Haryana
3213 nan Haryana
3214 nan Haryana
3215 nan Haryana
3216 nan Haryana
3217 nan Haryana
3218 nan Haryana
3219 nan Haryana
3220 nan Haryana
3221 nan Haryana
3222 nan Haryana
3223 nan Haryana
3224 nan Haryana
3225 nan Haryana
3226 nan Haryana
3227 nan Haryana
3228 nan Haryana
3229 nan Rajasthan
3230 nan Rajasthan
3231 21.0 Karnataka
3232 57.0 Karnataka
3233 43.0 Karnataka
3234 78.0 Karnataka
3235 60.0 Karnataka
3236 38.0 Karnataka
3237 19.0 Karnataka
3238 39.0 Karnataka
3239 39.0 Karnataka
3240 54.0 Karnataka
3241 40.0 Karnataka
3242 34.0 Karnataka
3243 47.0 Karnataka
3244 63.0 Karnataka
3245 43.0 Karnataka
3246 52.0 Karnataka
3247 nan Delhi
3248 nan Delhi
3249 nan Delhi
3250 nan Delhi
3251 nan Delhi
3252 nan Delhi
3253 nan Delhi
3254 nan Delhi
3255 nan Delhi
3256 nan Delhi
3257 nan Delhi
3258 nan Delhi
3259 nan Delhi
3260 nan Delhi
3261 nan Delhi
3262 nan Delhi
3263 nan Delhi
3264 nan Delhi
3265 nan Delhi
3266 nan Delhi
3267 nan Delhi
3268 nan Delhi
3269 nan Delhi
3270 nan Delhi
3271 nan Delhi
3272 nan Delhi
3273 nan Delhi
3274 nan Delhi
3275 nan Delhi
3276 nan Delhi
3277 nan Delhi
3278 nan Delhi
3279 nan Delhi
3280 nan Delhi
3281 nan Delhi
3282 nan Delhi
3283 nan Delhi
3284 nan Delhi
3285 nan Delhi
3286 nan Delhi
3287 nan Delhi
3288 nan Delhi
3289 nan Delhi
3290 nan Delhi
3291 nan Delhi
3292 nan Delhi
3293 nan Delhi
3294 nan Delhi
3295 nan Delhi
3296 nan Delhi
3297 nan Delhi
3298 nan Delhi
3299 nan Delhi
3300 nan Delhi
3301 nan Delhi
3302 nan Delhi
3303 nan Delhi
3304 nan Delhi
3305 nan Delhi
3306 nan Jammu and Kashmir
3307 nan Jammu and Kashmir
3308 nan Jammu and Kashmir
3309 nan Jammu and Kashmir
3310 nan Jammu and Kashmir
3311 nan Jammu and Kashmir
3312 nan Jammu and Kashmir
3313 nan Jammu and Kashmir
3314 nan Jammu and Kashmir
3315 nan Jammu and Kashmir
3316 nan Jammu and Kashmir
3317 nan Jammu and Kashmir
3318 nan Jammu and Kashmir
3319 nan Jammu and Kashmir
3320 nan Uttar Pradesh
3321 nan Uttar Pradesh
3322 nan Uttar Pradesh
3323 nan Uttar Pradesh
3324 nan Uttar Pradesh
3325 nan Uttar Pradesh
3326 nan Uttar Pradesh
3327 nan Uttar Pradesh
3328 nan Uttar Pradesh
3329 nan Uttar Pradesh
3330 nan Uttar Pradesh
3331 nan Uttar Pradesh
3332 nan Uttar Pradesh
3333 nan Uttar Pradesh
3334 nan Uttar Pradesh
3335 nan Uttar Pradesh
3336 nan Uttar Pradesh
3337 nan Uttar Pradesh
3338 nan Uttar Pradesh
3339 nan Uttar Pradesh
3340 nan Uttar Pradesh
3341 nan Uttar Pradesh
3342 nan Uttar Pradesh
3343 nan Uttar Pradesh
3344 nan Uttar Pradesh
3345 nan Uttar Pradesh
3346 nan Uttar Pradesh
3347 nan Uttar Pradesh
3348 nan Uttar Pradesh
3349 nan Uttar Pradesh
3350 nan Uttar Pradesh
3351 nan Uttar Pradesh
3352 nan Uttar Pradesh
3353 nan Uttar Pradesh
3354 nan Uttar Pradesh
3355 nan Uttar Pradesh
3356 nan Uttar Pradesh
3357 nan Uttar Pradesh
3358 nan Uttar Pradesh
3359 nan Uttar Pradesh
3360 nan Uttar Pradesh
3361 nan Uttar Pradesh
3362 nan Uttar Pradesh
3363 nan Uttar Pradesh
3364 nan Uttar Pradesh
3365 nan Uttar Pradesh
3366 nan Uttar Pradesh
3367 nan Uttar Pradesh
3368 nan Uttar Pradesh
3369 nan Uttar Pradesh
3370 nan Uttar Pradesh
3371 nan Uttar Pradesh
3372 nan Uttar Pradesh
3373 nan Uttarakhand
3374 nan Uttarakhand
3375 nan Uttarakhand
3376 nan Uttarakhand
3377 nan Uttarakhand
3378 nan Uttarakhand
3379 nan Tamil Nadu
3380 nan Tamil Nadu
3381 nan Tamil Nadu
3382 nan Tamil Nadu
3383 nan Tamil Nadu
3384 nan Tamil Nadu
3385 nan Tamil Nadu
3386 nan Tamil Nadu
3387 nan Tamil Nadu
3388 nan Tamil Nadu
3389 nan Tamil Nadu
3390 nan Tamil Nadu
3391 nan Tamil Nadu
3392 nan Tamil Nadu
3393 nan Tamil Nadu
3394 nan Tamil Nadu
3395 nan Tamil Nadu
3396 nan Tamil Nadu
3397 nan Tamil Nadu
3398 nan Tamil Nadu
3399 nan Tamil Nadu
3400 nan Tamil Nadu
3401 nan Tamil Nadu
3402 nan Tamil Nadu
3403 nan Tamil Nadu
3404 nan Tamil Nadu
3405 nan Tamil Nadu
3406 nan Tamil Nadu
3407 nan Tamil Nadu
3408 nan Tamil Nadu
3409 nan Tamil Nadu
3410 nan Tamil Nadu
3411 nan Tamil Nadu
3412 nan Tamil Nadu
3413 nan Tamil Nadu
3414 nan Tamil Nadu
3415 nan Tamil Nadu
3416 nan Tamil Nadu
3417 nan Tamil Nadu
3418 nan Tamil Nadu
3419 nan Tamil Nadu
3420 nan Tamil Nadu
3421 nan Tamil Nadu
3422 nan Tamil Nadu
3423 nan Tamil Nadu
3424 nan Tamil Nadu
3425 nan Tamil Nadu
3426 nan Tamil Nadu
3427 nan Tamil Nadu
3428 nan Tamil Nadu
3429 nan Tamil Nadu
3430 nan Tamil Nadu
3431 nan Tamil Nadu
3432 nan Tamil Nadu
3433 nan Tamil Nadu
3434 nan Tamil Nadu
3435 nan Tamil Nadu
3436 nan Tamil Nadu
3437 nan Tamil Nadu
3438 nan Tamil Nadu
3439 nan Tamil Nadu
3440 nan Tamil Nadu
3441 nan Tamil Nadu
3442 nan Tamil Nadu
3443 nan Tamil Nadu
3444 nan Tamil Nadu
3445 nan Tamil Nadu
3446 nan Tamil Nadu
3447 nan Tamil Nadu
3448 nan Tamil Nadu
3449 nan Tamil Nadu
3450 nan Tamil Nadu
3451 nan Tamil Nadu
3452 nan Tamil Nadu
3453 nan Kerala
3454 nan Kerala
3455 nan Kerala
3456 nan Kerala
3457 nan Kerala
3458 nan Kerala
3459 nan Kerala
3460 nan Kerala
3461 nan Kerala
3462 nan Kerala
3463 nan Kerala
3464 nan Andhra Pradesh
3465 nan Andhra Pradesh
3466 nan Andhra Pradesh
3467 nan Andhra Pradesh
3468 nan Andhra Pradesh
3469 nan Andhra Pradesh
3470 nan Andhra Pradesh
3471 nan Andhra Pradesh
3472 nan Andhra Pradesh
3473 nan Andhra Pradesh
3474 nan Haryana
3475 nan Haryana
3476 nan Haryana
3477 nan Haryana
3478 nan Haryana
3479 nan Haryana
3480 nan Haryana
3481 nan Haryana
3482 nan Punjab
3483 nan Punjab
3484 nan Punjab
3485 nan Punjab
3486 nan Punjab
3487 nan Punjab
3488 75.0 Punjab
3489 35.0 Punjab
3490 65.0 Bihar
3491 nan Gujarat
3492 nan Gujarat
3493 61.0 Gujarat
3494 nan Uttar Pradesh
3495 nan Uttar Pradesh
3496 nan Uttar Pradesh
3497 nan Uttar Pradesh
3498 nan Uttar Pradesh
3499 nan Uttar Pradesh
3500 nan Uttar Pradesh
3501 nan Madhya Pradesh
3502 nan Madhya Pradesh
3503 nan Madhya Pradesh
3504 nan Madhya Pradesh
3505 nan Madhya Pradesh
3506 nan Madhya Pradesh
3507 nan Madhya Pradesh
3508 nan Madhya Pradesh
3509 nan Madhya Pradesh
3510 nan Madhya Pradesh
3511 nan Madhya Pradesh
3512 nan Madhya Pradesh
3513 nan Madhya Pradesh
3514 nan Madhya Pradesh
3515 nan Madhya Pradesh
3516 nan Madhya Pradesh
3517 nan Madhya Pradesh
3518 nan Madhya Pradesh
3519 nan Madhya Pradesh
3520 nan Madhya Pradesh
3521 nan Madhya Pradesh
3522 nan Madhya Pradesh
3523 nan Madhya Pradesh
3524 nan Madhya Pradesh
3525 nan Madhya Pradesh
3526 nan Telangana
3527 nan Telangana
3528 nan Telangana
3529 nan Telangana
3530 nan Telangana
3531 nan Telangana
3532 nan Telangana
3533 nan Telangana
3534 nan Telangana
3535 nan Telangana
3536 nan Telangana
3537 nan Telangana
3538 nan Telangana
3539 nan Telangana
3540 nan Telangana
3541 nan Telangana
3542 nan Telangana
3543 nan Telangana
3544 nan Telangana
3545 nan Telangana
3546 nan Telangana
3547 nan Telangana
3548 nan Telangana
3549 nan Telangana
3550 nan Telangana
3551 nan Telangana
3552 nan Telangana
3553 nan Telangana
3554 nan Telangana
3555 nan Telangana
3556 nan Telangana
3557 nan Telangana
3558 nan Telangana
3559 nan Telangana
3560 nan Telangana
3561 nan Telangana
3562 nan Telangana
3563 nan Telangana
3564 nan Telangana
3565 nan Telangana
3566 nan Telangana
3567 nan Telangana
3568 nan Telangana
3569 nan Andhra Pradesh
3570 nan Andhra Pradesh
3571 nan Assam
3572 nan Odisha
3573 nan Maharashtra
3574 nan Maharashtra
3575 nan Maharashtra
3576 nan Maharashtra
3577 nan Maharashtra
3578 nan Maharashtra
3579 nan Maharashtra
3580 nan Maharashtra

3581 nan Maharashtra
3582 nan Maharashtra
3583 nan Maharashtra
3584 nan Maharashtra
3585 nan Maharashtra
3586 nan Maharashtra
3587 nan Maharashtra
3588 nan Maharashtra
3589 nan Maharashtra
3590 nan Maharashtra
3591 nan Maharashtra
3592 nan Maharashtra
3593 nan Maharashtra
3594 nan Maharashtra
3595 nan Maharashtra
3596 nan Maharashtra
3597 nan Maharashtra
3598 nan Maharashtra
3599 nan Maharashtra
3600 nan Maharashtra
3601 nan Maharashtra
3602 nan Maharashtra
3603 nan Maharashtra
3604 nan Maharashtra
3605 nan Maharashtra
3606 nan Maharashtra
3607 nan Maharashtra
3608 nan Maharashtra
3609 nan Maharashtra
3610 nan Maharashtra
3611 nan Maharashtra
3612 nan Maharashtra
3613 nan Maharashtra
3614 nan Maharashtra
3615 nan Maharashtra
3616 nan Maharashtra
3617 nan Maharashtra
3618 nan Maharashtra
3619 nan Maharashtra
3620 nan Maharashtra
3621 nan Maharashtra
3622 nan Maharashtra
3623 nan Maharashtra
3624 nan Maharashtra
3625 nan Maharashtra
3626 nan Maharashtra
3627 nan Maharashtra
3628 nan Maharashtra
3629 nan Maharashtra
3630 nan Maharashtra
3631 nan Maharashtra
3632 nan Maharashtra
3633 nan Maharashtra
3634 nan Maharashtra
3635 nan Maharashtra
3636 nan Maharashtra
3637 nan Maharashtra
3638 nan Maharashtra
3639 nan Maharashtra
3640 nan Maharashtra
3641 nan Maharashtra
3642 nan Maharashtra
3643 nan Maharashtra
3644 nan Maharashtra
3645 nan Maharashtra
3646 nan Maharashtra
3647 nan Maharashtra
3648 nan Maharashtra
3649 nan Maharashtra
3650 nan Maharashtra
3651 nan Maharashtra
3652 nan Maharashtra
3653 nan Maharashtra
3654 nan Maharashtra
3655 nan Maharashtra
3656 nan Maharashtra
3657 nan Maharashtra
3658 nan Maharashtra
3659 nan Maharashtra
3660 nan Maharashtra
3661 nan Maharashtra
3662 nan Maharashtra
3663 nan Maharashtra
3664 nan Maharashtra
3665 nan Maharashtra
3666 nan Maharashtra
3667 nan Maharashtra
3668 nan Maharashtra
3669 nan Maharashtra
3670 nan Maharashtra
3671 nan Rajasthan
3672 nan Rajasthan
3673 nan Rajasthan
3674 nan Rajasthan
3675 nan Andhra Pradesh
3676 nan Andhra Pradesh
3677 nan Andhra Pradesh
3678 nan Andhra Pradesh
3679 nan Andhra Pradesh
3680 nan Andhra Pradesh
3681 nan Andhra Pradesh
3682 nan Andhra Pradesh
3683 nan Andhra Pradesh
3684 nan Andhra Pradesh
3685 nan Andhra Pradesh
3686 nan Andhra Pradesh
3687 nan Andhra Pradesh
3688 nan Andhra Pradesh
3689 nan Andhra Pradesh
3690 nan Andhra Pradesh
3691 nan Andhra Pradesh
3692 nan Andhra Pradesh
3693 nan Andhra Pradesh
3694 nan Andhra Pradesh
3695 nan Andhra Pradesh
3696 nan Andhra Pradesh
3697 nan Andhra Pradesh
3698 nan Andhra Pradesh
3699 nan Andhra Pradesh
3700 nan Andhra Pradesh
3701 nan Andhra Pradesh
3702 nan Andhra Pradesh
3703 nan Andhra Pradesh
3704 nan Andhra Pradesh
3705 nan Andhra Pradesh
3706 nan Andhra Pradesh
3707 nan Andhra Pradesh
3708 nan Andhra Pradesh
3709 17.0 Gujarat
3710 42.0 Gujarat
3711 56.0 Gujarat
3712 16.0 Gujarat
3713 18.0 Gujarat
3714 41.0 Gujarat
3715 55.0 Gujarat
3716 75.0 Gujarat
3717 34.0 Gujarat
3718 26.0 Gujarat
3719 60.0 Gujarat
3720 54.0 Gujarat
3721 40.0 Gujarat
3722 34.0 Gujarat
3723 nan Jharkhand
3724 nan Rajasthan
3725 nan Rajasthan
3726 nan Rajasthan
3727 nan Rajasthan
3728 nan Rajasthan
3729 nan Rajasthan
3730 68.0 Karnataka
3731 62.0 Karnataka
3732 nan Maharashtra
3733 nan Maharashtra
3734 nan Maharashtra
3735 nan Maharashtra
3736 nan Maharashtra
3737 nan Maharashtra
3738 nan Maharashtra
3739 nan Maharashtra
3740 nan Maharashtra
3741 nan Maharashtra
3742 nan Maharashtra
3743 nan Maharashtra
3744 nan Maharashtra
3745 nan Maharashtra
3746 nan Maharashtra
3747 nan Maharashtra
3748 nan Maharashtra
3749 nan Maharashtra
3750 nan Maharashtra
3751 nan Maharashtra
3752 nan Maharashtra
3753 nan Maharashtra
3754 nan Maharashtra
3755 nan Maharashtra
3756 nan Maharashtra
3757 nan Maharashtra
3758 nan Maharashtra
3759 nan Maharashtra
3760 nan Maharashtra
3761 nan Maharashtra
3762 nan Maharashtra
3763 nan Maharashtra
3764 nan Maharashtra
3765 nan Maharashtra
3766 nan Maharashtra
3767 nan Maharashtra
3768 nan Maharashtra
3769 nan Maharashtra
3770 nan Maharashtra
3771 nan Maharashtra
3772 nan Maharashtra
3773 nan Maharashtra
3774 nan Maharashtra
3775 nan Maharashtra
3776 nan Maharashtra
3777 nan Maharashtra
3778 nan Maharashtra
3779 nan Maharashtra
3780 nan Maharashtra
3781 nan Maharashtra
3782 nan Maharashtra
3783 nan Maharashtra
3784 nan Maharashtra
3785 nan Maharashtra
3786 nan Maharashtra
3787 70.0 Odisha
3788 29.0 Odisha
3789 nan Himachal Pradesh
3790 nan Himachal Pradesh
3791 nan Himachal Pradesh
3792 nan Himachal Pradesh
3793 nan Himachal Pradesh
3794 nan Himachal Pradesh
3795 nan Himachal Pradesh
3796 42.0 Punjab
3797 nan Jammu and Kashmir
3798 nan Jammu and Kashmir
3799 nan Jammu and Kashmir
3800 nan Jammu and Kashmir
3801 nan Jammu and Kashmir
3802 nan Jammu and Kashmir
3803 nan Jammu and Kashmir
3804 nan Jammu and Kashmir
3805 nan Jammu and Kashmir
3806 nan Jammu and Kashmir
3807 nan Jammu and Kashmir
3808 nan Jammu and Kashmir
3809 nan Jammu and Kashmir
3810 nan Jammu and Kashmir
3811 nan Haryana
3812 nan Haryana
3813 nan Haryana
3814 nan Haryana
3815 nan Haryana
3816 nan Haryana
3817 nan Punjab
3818 44.0 Punjab
3819 nan Uttarakhand
3820 nan Uttarakhand
3821 nan Uttarakhand
3822 nan Uttarakhand
3823 nan Kerala
3824 nan Kerala
3825 nan Kerala
3826 nan Kerala
3827 nan Kerala
3828 nan Kerala
3829 nan Kerala
3830 7.0 Kerala
3831 36.0 Karnataka
3832 40.0 Karnataka
3833 67.0 Karnataka
3834 41.0 Karnataka
3835 41.0 Karnataka
3836 nan Tamil Nadu
3837 nan Tamil Nadu
3838 nan Tamil Nadu
3839 nan Tamil Nadu
3840 nan Tamil Nadu
3841 nan Tamil Nadu
3842 nan Tamil Nadu
3843 nan Tamil Nadu
3844 nan Tamil Nadu
3845 nan Tamil Nadu
3846 nan Tamil Nadu
3847 nan Tamil Nadu
3848 nan Tamil Nadu
3849 nan Tamil Nadu
3850 nan Tamil Nadu
3851 nan Tamil Nadu
3852 nan Tamil Nadu
3853 nan Tamil Nadu
3854 nan Tamil Nadu
3855 nan Tamil Nadu
3856 nan Tamil Nadu
3857 nan Tamil Nadu
3858 nan Tamil Nadu
3859 nan Tamil Nadu
3860 nan Tamil Nadu
3861 nan Tamil Nadu
3862 nan Tamil Nadu
3863 nan Tamil Nadu
3864 nan Tamil Nadu
3865 nan Tamil Nadu
3866 nan Tamil Nadu
3867 nan Tamil Nadu
3868 nan Tamil Nadu
3869 nan Tamil Nadu
3870 nan Tamil Nadu
3871 nan Tamil Nadu
3872 nan Tamil Nadu
3873 nan Tamil Nadu
3874 nan Tamil Nadu
3875 nan Tamil Nadu
3876 nan Tamil Nadu
3877 nan Tamil Nadu
3878 nan Tamil Nadu
3879 nan Tamil Nadu
3880 nan Tamil Nadu
3881 nan Tamil Nadu
3882 nan Tamil Nadu
3883 nan Tamil Nadu
3884 nan Tamil Nadu
3885 nan Tamil Nadu
3886 nan Tamil Nadu
3887 nan Tamil Nadu
3888 nan Tamil Nadu
3889 nan Tamil Nadu
3890 nan Tamil Nadu
3891 nan Tamil Nadu
3892 nan Tamil Nadu
3893 nan Tamil Nadu
3894 nan Tamil Nadu
3895 nan Tamil Nadu
3896 nan Tamil Nadu
3897 nan Tamil Nadu
3898 nan Tamil Nadu
3899 nan Tamil Nadu
3900 nan Tamil Nadu
3901 nan Tamil Nadu
3902 nan Tamil Nadu
3903 nan Tamil Nadu
3904 nan Tamil Nadu
3905 nan Tamil Nadu
3906 nan Tamil Nadu
3907 nan Tamil Nadu
3908 nan Tamil Nadu
3909 nan Tamil Nadu
3910 nan Tamil Nadu
3911 nan Tamil Nadu
3912 nan Tamil Nadu
3913 nan Tamil Nadu
3914 nan Tamil Nadu
3915 nan Tamil Nadu
3916 nan Tamil Nadu
3917 nan Tamil Nadu
3918 nan Tamil Nadu
3919 nan Tamil Nadu
3920 nan Tamil Nadu
3921 nan Tamil Nadu
3922 nan Delhi
3923 nan Delhi
3924 nan Delhi
3925 nan Delhi
3926 nan Delhi
3927 nan Delhi
3928 nan Delhi
3929 nan Delhi
3930 nan Delhi
3931 nan Delhi
3932 nan Delhi
3933 nan Delhi
3934 nan Delhi
3935 nan Delhi
3936 nan Delhi
3937 nan Delhi
3938 nan Delhi
3939 nan Delhi
3940 nan Delhi
3941 nan Delhi
3942 nan Delhi
3943 nan Delhi
3944 nan Delhi
3945 nan Delhi
3946 nan Delhi
3947 nan Delhi
3948 nan Delhi
3949 nan Delhi
3950 nan Delhi
3951 nan Delhi
3952 nan Delhi
3953 nan Delhi
3954 nan Delhi
3955 nan Delhi
3956 nan Delhi
3957 nan Delhi
3958 nan Delhi
3959 nan Delhi
3960 nan Delhi
3961 nan Delhi
3962 nan Delhi
3963 nan Delhi
3964 nan Delhi
3965 nan Delhi
3966 nan Delhi
3967 nan Delhi
3968 nan Delhi
3969 nan Delhi
3970 nan Delhi
3971 nan Delhi
3972 nan Delhi
3973 nan Delhi
3974 nan Delhi
3975 nan Delhi
3976 nan Delhi
3977 nan Delhi
3978 nan Delhi
3979 nan Delhi
3980 nan Maharashtra
3981 nan Maharashtra
3982 nan Maharashtra
3983 nan Maharashtra
3984 nan Maharashtra
3985 nan Maharashtra
3986 nan Maharashtra
3987 nan Maharashtra
3988 nan Maharashtra
3989 nan Maharashtra
3990 nan Maharashtra
3991 nan Maharashtra
3992 nan Maharashtra
3993 nan Maharashtra
3994 nan Maharashtra
3995 nan Maharashtra
3996 nan Maharashtra
3997 nan Maharashtra
3998 nan Maharashtra
3999 nan Maharashtra
4000 nan Maharashtra
4001 nan Maharashtra
4002 nan Maharashtra
4003 nan Maharashtra
4004 nan Maharashtra
4005 nan Maharashtra
4006 nan Maharashtra
4007 nan Maharashtra
4008 nan Maharashtra
4009 nan Maharashtra
4010 nan Maharashtra
4011 nan Maharashtra
4012 nan Maharashtra
4013 nan Maharashtra
4014 nan Maharashtra
4015 nan Maharashtra
4016 nan Maharashtra
4017 nan Maharashtra
4018 nan Maharashtra
4019 nan Maharashtra
4020 nan Maharashtra
4021 nan Maharashtra
4022 nan Maharashtra
4023 nan Maharashtra
4024 nan Maharashtra
4025 nan Maharashtra
4026 nan Maharashtra
4027 nan Maharashtra
4028 nan Maharashtra
4029 nan Maharashtra
4030 nan Maharashtra
4031 nan Maharashtra
4032 nan Maharashtra
4033 nan Maharashtra
4034 nan Maharashtra
4035 nan Maharashtra
4036 nan Maharashtra
4037 nan Maharashtra
4038 nan Rajasthan
4039 nan Rajasthan
4040 nan Rajasthan
4041 nan Rajasthan
4042 nan Rajasthan
4043 nan Rajasthan
4044 nan Rajasthan
4045 nan Rajasthan
4046 nan Rajasthan
4047 nan Rajasthan
4048 nan Rajasthan
4049 nan Rajasthan
4050 nan Rajasthan
4051 nan Rajasthan
4052 nan Rajasthan
4053 nan Rajasthan
4054 nan Rajasthan
4055 nan Rajasthan
4056 nan Rajasthan
4057 nan Rajasthan
4058 nan Rajasthan
4059 nan Rajasthan
4060 nan Rajasthan
4061 nan Rajasthan
4062 nan Rajasthan
4063 nan Rajasthan
4064 nan Rajasthan
4065 nan Rajasthan
4066 nan Rajasthan
4067 nan Rajasthan
4068 nan Rajasthan
4069 nan Rajasthan
4070 nan Rajasthan
4071 nan Rajasthan
4072 nan Rajasthan
4073 nan Rajasthan
4074 nan Rajasthan
4075 nan Rajasthan
4076 nan Rajasthan
4077 nan Andhra Pradesh
4078 nan Andhra Pradesh
4079 nan Andhra Pradesh
4080 nan Andhra Pradesh
4081 nan Andhra Pradesh
4082 nan Andhra Pradesh
4083 nan Andhra Pradesh
4084 nan Andhra Pradesh
4085 nan Andhra Pradesh
4086 nan Andhra Pradesh
4087 nan Andhra Pradesh
4088 nan Andhra Pradesh
4089 nan Andhra Pradesh
4090 nan Andhra Pradesh
4091 nan Andhra Pradesh
4092 nan Andhra Pradesh
4093 nan Andhra Pradesh
4094 nan Andhra Pradesh
4095 nan Andhra Pradesh
4096 nan Andhra Pradesh
4097 nan Andhra Pradesh
4098 nan Andhra Pradesh
4099 nan Andhra Pradesh
4100 nan Andhra Pradesh
4101 nan Andhra Pradesh
4102 nan Andhra Pradesh
4103 nan Madhya Pradesh
4104 nan Madhya Pradesh
4105 nan Madhya Pradesh
4106 nan Madhya Pradesh
4107 nan Madhya Pradesh
4108 nan Madhya Pradesh
4109 nan Madhya Pradesh
4110 nan Madhya Pradesh
4111 nan Madhya Pradesh
4112 nan Madhya Pradesh
4113 nan Madhya Pradesh
4114 nan Madhya Pradesh
4115 nan Madhya Pradesh
4116 nan Madhya Pradesh
4117 nan Rajasthan
4118 nan Rajasthan
4119 nan Rajasthan
4120 nan Rajasthan
4121 nan Rajasthan
4122 nan Uttar Pradesh
4123 nan Uttar Pradesh
4124 nan Uttar Pradesh
4125 nan Uttar Pradesh
4126 nan Uttar Pradesh
4127 nan Uttar Pradesh
4128 nan Uttar Pradesh
4129 nan Uttar Pradesh
4130 nan Uttar Pradesh
4131 nan Uttar Pradesh
4132 nan Uttar Pradesh
4133 nan Uttar Pradesh
4134 nan Uttar Pradesh
4135 nan Uttar Pradesh
4136 nan Uttar Pradesh
4137 nan Uttar Pradesh
4138 nan Uttar Pradesh
4139 nan Uttar Pradesh
4140 nan Uttar Pradesh
4141 nan Uttar Pradesh
4142 nan Uttar Pradesh
4143 nan Uttar Pradesh
4144 nan Uttar Pradesh
4145 nan Uttar Pradesh
4146 nan Uttar Pradesh
4147 nan Uttar Pradesh
4148 nan Uttar Pradesh
4149 nan Uttar Pradesh
4150 nan Uttar Pradesh
4151 nan Uttar Pradesh
4152 nan Uttar Pradesh
4153 nan Uttar Pradesh
4154 nan Uttar Pradesh
4155 nan Uttar Pradesh
4156 nan Uttar Pradesh
4157 nan Uttar Pradesh
4158 nan Uttar Pradesh
4159 nan Uttar Pradesh
4160 nan Uttar Pradesh
4161 nan Uttar Pradesh
4162 nan Uttar Pradesh
4163 nan Uttar Pradesh
4164 nan Uttar Pradesh
4165 nan Uttar Pradesh
4166 nan Odisha
4167 nan Odisha
4168 nan Odisha
4169 nan Odisha
4170 nan Odisha
4171 nan Odisha
4172 nan Odisha
4173 nan Odisha
4174 nan Odisha
4175 nan Odisha
4176 nan Odisha
4177 nan Odisha
4178 nan Odisha
4179 nan Odisha
4180 nan Odisha
4181 nan Odisha
4182 nan Telangana
4183 nan Telangana
4184 nan Telangana
4185 nan Telangana
4186 nan Telangana
4187 nan Telangana
4188 nan Telangana
4189 nan Telangana
4190 nan Telangana
4191 nan Telangana
4192 nan Telangana
4193 nan Telangana
4194 nan Telangana
4195 nan Telangana
4196 nan Telangana
4197 nan Telangana
4198 nan Telangana
4199 nan Telangana
4200 nan Telangana
4201 nan Telangana
4202 nan Telangana
4203 nan Telangana
4204 nan Telangana
4205 nan Telangana
4206 nan Telangana
4207 nan Telangana
4208 nan Telangana
4209 nan Telangana
4210 nan Telangana
4211 nan Telangana
4212 nan Telangana
4213 nan Telangana
4214 nan Telangana
4215 nan Telangana
4216 nan Telangana
4217 nan Telangana
4218 nan Telangana
4219 nan Telangana
4220 nan Telangana
4221 nan Telangana
4222 nan Telangana
4223 nan Telangana
4224 nan Telangana
4225 nan Telangana
4226 nan Telangana
4227 nan Telangana
4228 nan Telangana
4229 nan Telangana
4230 nan Telangana
4231 nan Telangana
4232 nan Telangana
4233 nan Telangana
4234 nan Telangana
4235 nan Telangana
4236 nan Telangana
4237 nan Telangana
4238 nan Telangana
4239 nan Telangana
4240 nan Telangana
4241 nan Telangana
4242 nan Telangana
4243 1.0 Gujarat
4244 50.0 Gujarat
4245 52.0 Gujarat
4246 62.0 Gujarat
4247 90.0 Gujarat
4248 48.0 Gujarat
4249 nan Rajasthan
4250 nan Rajasthan
4251 nan Rajasthan
4252 nan Rajasthan
4253 nan Rajasthan
4254 nan Rajasthan
4255 nan West Bengal
4256 nan West Bengal
4257 nan West Bengal
4258 nan West Bengal
4259 nan West Bengal
4260 nan West Bengal
4261 nan West Bengal
4262 nan West Bengal

4263 nan West Bengal
4264 nan West Bengal
4265 nan West Bengal
4266 nan West Bengal
4267 nan West Bengal
4268 nan West Bengal
4269 nan West Bengal
4270 nan West Bengal
4271 nan West Bengal
4272 nan West Bengal
4273 nan West Bengal
4274 nan West Bengal
4275 nan West Bengal
4276 nan West Bengal
4277 nan West Bengal
4278 nan West Bengal
4279 nan West Bengal
4280 nan West Bengal
4281 nan West Bengal
4282 nan Rajasthan
4283 nan Rajasthan
4284 nan Rajasthan
4285 nan Rajasthan
4286 nan Rajasthan
4287 nan Rajasthan
4288 nan Telangana
4289 nan Rajasthan
4290 nan Rajasthan
4291 nan Rajasthan
4292 nan Rajasthan
4293 nan Rajasthan
4294 nan Rajasthan
4295 nan Rajasthan
4296 nan Rajasthan
4297 nan Jharkhand
4298 nan Maharashtra
4299 nan Maharashtra
4300 nan Maharashtra
4301 nan Maharashtra
4302 nan Maharashtra
4303 nan Maharashtra
4304 nan Maharashtra
4305 nan Maharashtra
4306 nan Maharashtra
4307 nan Maharashtra
4308 nan Maharashtra
4309 nan Maharashtra
4310 nan Maharashtra
4311 nan Maharashtra
4312 nan Maharashtra
4313 nan Maharashtra
4314 nan Maharashtra
4315 nan Maharashtra
4316 nan Maharashtra
4317 nan Maharashtra
4318 nan Maharashtra
4319 nan Maharashtra
4320 nan Maharashtra
4321 nan Maharashtra
4322 nan Maharashtra
4323 nan Maharashtra
4324 nan Maharashtra
4325 nan Maharashtra
4326 nan Maharashtra
4327 nan Maharashtra
4328 nan Maharashtra
4329 nan Maharashtra
4330 nan Maharashtra
4331 20.0 Gujarat
4332 37.0 Gujarat
4333 39.0 Gujarat
4334 37.0 Gujarat
4335 32.0 Gujarat
4336 35.0 Gujarat
4337 24.0 Gujarat
4338 38.0 Gujarat
4339 38.0 Gujarat
4340 16.0 Gujarat
4341 60.0 Gujarat
4342 51.0 Gujarat
4343 47.0 Gujarat
4344 52.0 Gujarat
4345 27.0 Gujarat
4346 15.0 Gujarat
4347 nan Andhra Pradesh
4348 nan Andhra Pradesh
4349 nan Andhra Pradesh
4350 nan Andhra Pradesh
4351 nan Andhra Pradesh
4352 nan Andhra Pradesh
4353 nan Andhra Pradesh
4354 nan Andhra Pradesh
4355 nan Andhra Pradesh
4356 nan Andhra Pradesh
4357 nan Andhra Pradesh
4358 nan Andhra Pradesh
4359 nan Andhra Pradesh
4360 nan Andhra Pradesh
4361 nan Uttarakhand
4362 32.0 Karnataka
4363 62.0 Karnataka
4364 20.0 Karnataka
4365 37.0 Karnataka
4366 57.0 Karnataka
4367 22.0 Karnataka
4368 26.0 Karnataka
4369 33.0 Karnataka
4370 35.0 Karnataka
4371 54.0 Karnataka
4372 58.0 Karnataka
4373 43.0 Karnataka
4374 nan Dadra and Nagar Haveli
4375 nan Rajasthan
4376 nan Rajasthan
4377 nan Rajasthan
4378 nan Rajasthan
4379 nan Rajasthan
4380 nan Rajasthan
4381 nan Rajasthan
4382 nan Rajasthan
4383 nan Rajasthan
4384 nan Rajasthan
4385 nan Rajasthan
4386 nan Rajasthan
4387 nan Rajasthan
4388 nan Rajasthan
4389 nan Jammu and Kashmir
4390 nan Jammu and Kashmir
4391 nan Jammu and Kashmir
4392 nan Uttar Pradesh
4393 nan Uttar Pradesh
4394 nan Uttar Pradesh
4395 nan Uttar Pradesh
4396 nan Uttar Pradesh
4397 nan Uttar Pradesh
4398 nan Uttar Pradesh
4399 nan Uttar Pradesh
4400 nan Uttar Pradesh
4401 nan Uttar Pradesh
4402 nan Uttar Pradesh
4403 nan Uttar Pradesh
4404 nan Uttar Pradesh
4405 nan Uttar Pradesh
4406 nan Uttar Pradesh
4407 nan Uttar Pradesh
4408 nan Uttar Pradesh
4409 nan Uttar Pradesh
4410 nan Uttar Pradesh
4411 nan Uttar Pradesh
4412 nan Uttar Pradesh
4413 nan Uttar Pradesh
4414 nan Uttar Pradesh
4415 nan Uttar Pradesh
4416 nan Uttar Pradesh
4417 nan Uttar Pradesh
4418 nan Uttar Pradesh
4419 nan Delhi
4420 nan Delhi
4421 nan Delhi
4422 nan Delhi
4423 nan Delhi
4424 nan Delhi
4425 nan Delhi
4426 nan Delhi
4427 nan Delhi
4428 nan Delhi
4429 nan Delhi
4430 nan Delhi
4431 nan Delhi
4432 nan Delhi
4433 nan Delhi
4434 nan Delhi
4435 nan Delhi
4436 nan Delhi
4437 nan Delhi
4438 nan Delhi
4439 nan Tamil Nadu
4440 nan Tamil Nadu
4441 nan Tamil Nadu
4442 nan Tamil Nadu
4443 nan Tamil Nadu
4444 nan Tamil Nadu
4445 nan Tamil Nadu
4446 nan Tamil Nadu
4447 nan Tamil Nadu
4448 nan Tamil Nadu
4449 nan Tamil Nadu
4450 nan Tamil Nadu
4451 nan Tamil Nadu
4452 nan Tamil Nadu
4453 nan Tamil Nadu
4454 nan Tamil Nadu
4455 nan Tamil Nadu
4456 nan Tamil Nadu
4457 nan Tamil Nadu
4458 nan Tamil Nadu
4459 nan Tamil Nadu
4460 nan Tamil Nadu
4461 nan Tamil Nadu
4462 nan Tamil Nadu
4463 nan Tamil Nadu
4464 nan Tamil Nadu
4465 nan Tamil Nadu
4466 nan Tamil Nadu
4467 nan Tamil Nadu
4468 nan Tamil Nadu
4469 nan Tamil Nadu
4470 nan Tamil Nadu
4471 nan Tamil Nadu
4472 nan Tamil Nadu
4473 nan Tamil Nadu
4474 nan Tamil Nadu
4475 nan Tamil Nadu
4476 nan Tamil Nadu
4477 nan Tamil Nadu
4478 nan Tamil Nadu
4479 nan Tamil Nadu
4480 nan Tamil Nadu
4481 nan Tamil Nadu
4482 nan Tamil Nadu
4483 nan Tamil Nadu
4484 nan Tamil Nadu
4485 nan Tamil Nadu
4486 nan Tamil Nadu
4487 nan Tamil Nadu
4488 nan Tamil Nadu
4489 nan Kerala
4490 nan Kerala
4491 nan Kerala
4492 nan Kerala
4493 nan Kerala
4494 nan Kerala
4495 nan Kerala
4496 nan Kerala
4497 nan Kerala
4498 nan Kerala
4499 nan Kerala
4500 nan Kerala
4501 19.0 Kerala
4502 nan Andhra Pradesh
4503 nan Andhra Pradesh
4504 nan Andhra Pradesh
4505 nan Andhra Pradesh
4506 nan Andhra Pradesh
4507 nan Andhra Pradesh
4508 nan Andhra Pradesh
4509 nan Andhra Pradesh
4510 nan Andhra Pradesh
4511 nan Andhra Pradesh
4512 nan Andhra Pradesh
4513 nan Andhra Pradesh
4514 nan Andhra Pradesh
4515 nan Andhra Pradesh
4516 nan Andhra Pradesh
4517 nan Andhra Pradesh
4518 nan Andhra Pradesh
4519 nan Andhra Pradesh
4520 nan Andhra Pradesh
4521 nan Andhra Pradesh
4522 nan Andhra Pradesh
4523 nan Andhra Pradesh
4524 nan Andhra Pradesh
4525 nan Andhra Pradesh
4526 nan Andhra Pradesh
4527 nan Andhra Pradesh
4528 nan Andhra Pradesh
4529 nan Andhra Pradesh
4530 nan Andhra Pradesh
4531 nan Andhra Pradesh
4532 nan Andhra Pradesh
4533 nan Andhra Pradesh
4534 nan Andhra Pradesh
4535 nan Andhra Pradesh
4536 nan Andhra Pradesh
4537 nan Andhra Pradesh
4538 nan Andhra Pradesh
4539 nan Uttarakhand
4540 nan Uttarakhand
4541 nan Uttarakhand
4542 nan Uttarakhand
4543 nan Haryana
4544 nan Haryana
4545 nan Haryana
4546 nan Haryana
4547 nan Haryana
4548 nan Haryana
4549 nan Haryana
4550 nan Haryana
4551 nan Haryana
4552 nan Haryana
4553 nan Haryana
4554 80.0 Punjab
4555 55.0 Punjab
4556 nan Punjab
4557 nan Punjab
4558 nan Punjab
4559 nan Punjab
4560 nan Punjab
4561 17.0 Punjab
4562 16.0 Punjab
4563 52.0 Punjab
4564 57.0 Punjab
4565 nan Telangana
4566 nan Telangana
4567 nan Telangana
4568 nan Telangana
4569 nan Telangana
4570 nan Telangana
4571 nan Telangana
4572 nan Telangana
4573 nan Telangana
4574 nan Telangana
4575 nan Telangana
4576 nan Telangana
4577 nan Telangana
4578 nan Telangana
4579 nan Telangana
4580 nan Telangana
4581 nan Telangana
4582 nan Telangana
4583 nan Telangana
4584 nan Telangana
4585 nan Telangana
4586 nan Telangana
4587 nan Telangana
4588 nan Telangana
4589 nan Telangana
4590 nan Telangana
4591 nan Telangana
4592 nan Telangana
4593 nan Telangana
4594 nan Telangana
4595 nan Maharashtra
4596 nan Maharashtra
4597 nan Maharashtra
4598 nan Maharashtra
4599 nan Maharashtra
4600 nan Maharashtra
4601 nan Maharashtra
4602 nan Maharashtra
4603 nan Maharashtra
4604 nan Maharashtra
4605 nan Maharashtra
4606 nan Maharashtra
4607 nan Maharashtra
4608 nan Maharashtra
4609 nan Maharashtra
4610 nan Maharashtra
4611 nan Maharashtra
4612 nan Maharashtra
4613 nan Maharashtra
4614 nan Maharashtra
4615 nan Maharashtra
4616 nan Maharashtra
4617 nan Maharashtra
4618 nan Maharashtra
4619 nan Maharashtra
4620 nan Maharashtra
4621 nan Maharashtra
4622 nan Maharashtra
4623 nan Maharashtra
4624 nan Maharashtra
4625 nan Maharashtra
4626 nan Maharashtra
4627 nan Maharashtra
4628 nan Maharashtra
4629 nan Maharashtra
4630 nan Maharashtra
4631 nan Maharashtra
4632 nan Maharashtra
4633 nan Maharashtra
4634 nan Maharashtra
4635 nan Maharashtra
4636 nan Maharashtra
4637 nan Maharashtra
4638 nan Maharashtra
4639 nan Maharashtra
4640 nan Maharashtra
4641 nan Maharashtra
4642 nan Maharashtra
4643 nan Maharashtra
4644 nan Maharashtra
4645 nan Maharashtra
4646 nan Maharashtra
4647 nan Maharashtra
4648 nan Maharashtra
4649 nan Maharashtra
4650 nan Maharashtra
4651 nan Maharashtra
4652 nan Maharashtra
4653 nan Maharashtra
4654 nan Maharashtra
4655 nan Maharashtra
4656 nan Maharashtra
4657 nan Maharashtra
4658 nan Maharashtra
4659 nan Maharashtra
4660 nan Maharashtra
4661 nan Maharashtra
4662 nan Maharashtra
4663 nan Maharashtra
4664 nan Maharashtra
4665 nan Maharashtra
4666 nan Maharashtra
4667 nan Maharashtra
4668 nan Maharashtra
4669 nan Maharashtra
4670 nan Maharashtra
4671 nan Maharashtra
4672 nan Maharashtra
4673 nan Maharashtra
4674 nan Maharashtra
4675 nan Maharashtra
4676 nan Maharashtra
4677 nan Maharashtra
4678 nan Maharashtra
4679 nan Maharashtra
4680 nan Maharashtra
4681 nan Maharashtra
4682 45.0 Gujarat
4683 70.0 Gujarat
4684 nan Haryana
4685 nan Haryana
4686 nan Haryana
4687 nan Haryana
4688 nan Haryana
4689 nan Haryana
4690 nan Haryana
4691 nan Haryana
4692 nan Haryana
4693 nan Madhya Pradesh
4694 nan Madhya Pradesh
4695 nan Madhya Pradesh
4696 nan Madhya Pradesh
4697 nan Madhya Pradesh
4698 nan Madhya Pradesh
4699 nan Madhya Pradesh
4700 nan Madhya Pradesh
4701 nan Madhya Pradesh
4702 nan Madhya Pradesh
4703 nan Madhya Pradesh
4704 nan Madhya Pradesh
4705 nan Madhya Pradesh
4706 nan Madhya Pradesh
4707 nan Madhya Pradesh
4708 nan Madhya Pradesh
4709 nan Madhya Pradesh
4710 nan Madhya Pradesh
4711 nan Madhya Pradesh
4712 nan Madhya Pradesh
4713 nan Madhya Pradesh
4714 nan Madhya Pradesh
4715 nan Madhya Pradesh
4716 nan Madhya Pradesh
4717 nan Madhya Pradesh
4718 nan Madhya Pradesh
4719 nan Madhya Pradesh
4720 nan Madhya Pradesh
4721 nan Madhya Pradesh
4722 nan Madhya Pradesh
4723 nan Madhya Pradesh
4724 nan Madhya Pradesh
4725 nan Madhya Pradesh
4726 nan Madhya Pradesh
4727 nan Madhya Pradesh
4728 nan Madhya Pradesh
4729 nan Madhya Pradesh
4730 nan Madhya Pradesh
4731 nan Madhya Pradesh
4732 nan Madhya Pradesh
4733 nan Madhya Pradesh
4734 nan Madhya Pradesh
4735 nan Madhya Pradesh
4736 nan Madhya Pradesh
4737 nan Madhya Pradesh
4738 nan Madhya Pradesh
4739 nan Madhya Pradesh
4740 nan Madhya Pradesh
4741 nan Madhya Pradesh
4742 nan Madhya Pradesh
4743 nan Madhya Pradesh
4744 nan Madhya Pradesh
4745 nan Madhya Pradesh
4746 nan Madhya Pradesh
4747 nan Madhya Pradesh
4748 nan Madhya Pradesh
4749 nan Madhya Pradesh
4750 nan Madhya Pradesh
4751 nan Madhya Pradesh
4752 nan Madhya Pradesh
4753 nan Madhya Pradesh
4754 nan Madhya Pradesh
4755 nan Madhya Pradesh
4756 32.0 Odisha
4757 nan Delhi
4758 nan Delhi
4759 nan Tripura
4760 nan Rajasthan
4761 nan Rajasthan
4762 nan Rajasthan
4763 nan Rajasthan
4764 nan Rajasthan
4765 nan Rajasthan
4766 nan Rajasthan
4767 nan Rajasthan
4768 nan Rajasthan
4769 nan Rajasthan
4770 nan Rajasthan
4771 nan Rajasthan
4772 nan Rajasthan
4773 nan Himachal Pradesh
4774 nan Himachal Pradesh
4775 nan Himachal Pradesh
4776 nan Himachal Pradesh
4777 nan Himachal Pradesh
4778 nan Rajasthan
4779 nan Rajasthan
4780 nan Rajasthan
4781 nan Rajasthan
4782 nan Rajasthan
4783 nan Rajasthan
4784 nan Rajasthan
4785 nan Rajasthan
4786 nan Rajasthan
4787 nan Rajasthan
4788 nan Rajasthan
4789 nan Rajasthan
4790 nan Rajasthan
4791 nan Rajasthan
4792 nan Rajasthan
4793 nan Rajasthan
4794 nan Rajasthan
4795 nan Rajasthan
4796 nan Rajasthan
4797 nan Rajasthan
4798 nan Rajasthan
4799 nan Rajasthan
4800 nan Rajasthan
4801 nan Rajasthan
4802 nan Assam
4803 60.0 Gujarat
4804 64.0 Gujarat
4805 24.0 Gujarat
4806 33.0 Gujarat
4807 59.0 Gujarat
4808 64.0 Gujarat
4809 53.0 Gujarat
4810 65.0 Gujarat
4811 26.0 Gujarat
4812 41.0 Gujarat
4813 40.0 Gujarat
4814 25.0 Gujarat
4815 64.0 Gujarat
4816 33.0 Gujarat
4817 21.0 Gujarat

4818 48.0 Gujarat
4819 29.0 Gujarat
4820 54.0 Gujarat
4821 33.0 Gujarat
4822 nan Andhra Pradesh
4823 nan Maharashtra
4824 nan Maharashtra
4825 nan Maharashtra
4826 nan Maharashtra
4827 nan Maharashtra
4828 nan Maharashtra
4829 nan Maharashtra
4830 nan Maharashtra
4831 nan Maharashtra
4832 nan Maharashtra
4833 nan Maharashtra
4834 nan Maharashtra
4835 nan Maharashtra
4836 nan Maharashtra
4837 nan Maharashtra
4838 nan Maharashtra
4839 nan Maharashtra
4840 nan Maharashtra
4841 nan Maharashtra
4842 nan Maharashtra
4843 nan Maharashtra
4844 nan Maharashtra
4845 nan Maharashtra
4846 nan Madhya Pradesh
4847 nan Madhya Pradesh
4848 nan Madhya Pradesh
4849 nan Madhya Pradesh
4850 nan Madhya Pradesh
4851 nan Madhya Pradesh
4852 nan Madhya Pradesh
4853 nan Madhya Pradesh
4854 nan Madhya Pradesh
4855 nan Madhya Pradesh
4856 nan Madhya Pradesh
4857 nan Madhya Pradesh
4858 33.0 Karnataka
4859 41.0 Karnataka
4860 80.0 Karnataka
4861 29.0 Karnataka
4862 50.0 Karnataka
4863 35.0 Karnataka
4864 68.0 Karnataka
4865 32.0 Karnataka
4866 36.0 Karnataka
4867 65.0 Karnataka
4868 28.0 Karnataka
4869 57.0 Karnataka
4870 nan West Bengal
4871 nan West Bengal
4872 nan West Bengal
4873 nan West Bengal
4874 nan West Bengal
4875 nan West Bengal
4876 nan West Bengal
4877 nan West Bengal
4878 nan West Bengal
4879 nan West Bengal
4880 nan West Bengal
4881 nan Haryana
4882 nan Haryana
4883 nan Haryana
4884 nan Haryana
4885 nan Haryana
4886 nan Haryana
4887 nan Haryana
4888 nan Haryana
4889 nan Haryana
4890 nan Haryana
4891 nan Haryana
4892 nan Haryana
4893 nan Haryana
4894 nan Haryana
4895 nan Haryana
4896 nan Haryana
4897 nan Haryana
4898 nan Haryana
4899 nan Haryana
4900 nan Haryana
4901 nan Haryana
4902 nan Haryana
4903 nan Haryana
4904 45.0 Odisha
4905 72.0 Odisha
4906 nan Punjab
4907 nan Punjab
4908 nan Punjab
4909 nan Punjab
4910 nan Punjab
4911 nan Punjab
4912 nan Punjab
4913 nan Punjab
4914 nan Punjab
4915 nan Punjab
4916 35.0 Punjab
4917 nan Punjab
4918 77.0 Punjab
4919 nan Punjab
4920 nan Punjab
4921 nan Punjab
4922 nan Punjab
4923 nan Punjab
4924 nan Punjab
4925 nan Punjab
4926 nan Kerala
4927 nan Kerala
4928 nan Kerala
4929 nan Kerala
4930 nan Kerala
4931 nan Kerala
4932 nan Kerala
4933 nan Kerala
4934 nan Kerala
4935 nan Tamil Nadu
4936 nan Tamil Nadu
4937 nan Tamil Nadu
4938 nan Tamil Nadu
4939 nan Tamil Nadu
4940 nan Tamil Nadu
4941 nan Tamil Nadu
4942 nan Tamil Nadu
4943 nan Tamil Nadu
4944 nan Tamil Nadu
4945 nan Tamil Nadu
4946 nan Tamil Nadu
4947 nan Tamil Nadu
4948 nan Tamil Nadu
4949 nan Tamil Nadu
4950 nan Tamil Nadu
4951 nan Tamil Nadu
4952 nan Tamil Nadu
4953 nan Tamil Nadu
4954 nan Tamil Nadu
4955 nan Tamil Nadu
4956 nan Tamil Nadu
4957 nan Tamil Nadu
4958 nan Tamil Nadu
4959 nan Tamil Nadu
4960 nan Tamil Nadu
4961 nan Tamil Nadu
4962 nan Tamil Nadu
4963 nan Tamil Nadu
4964 nan Tamil Nadu
4965 nan Tamil Nadu
4966 nan Tamil Nadu
4967 nan Tamil Nadu
4968 nan Tamil Nadu
4969 nan Tamil Nadu
4970 nan Tamil Nadu
4971 nan Tamil Nadu
4972 nan Tamil Nadu
4973 nan Tamil Nadu
4974 nan Tamil Nadu
4975 nan Tamil Nadu
4976 nan Tamil Nadu
4977 nan Tamil Nadu
4978 nan Tamil Nadu
4979 nan Tamil Nadu
4980 nan Tamil Nadu
4981 nan Tamil Nadu
4982 nan Tamil Nadu
4983 nan Tamil Nadu
4984 nan Tamil Nadu
4985 nan Tamil Nadu
4986 nan Tamil Nadu
4987 nan Tamil Nadu
4988 nan Tamil Nadu
4989 nan Tamil Nadu
4990 nan Tamil Nadu
4991 nan Tamil Nadu
4992 nan Tamil Nadu
4993 nan Tamil Nadu
4994 nan Tamil Nadu
4995 nan Tamil Nadu
4996 nan Tamil Nadu
4997 nan Tamil Nadu
4998 nan Tamil Nadu
4999 nan Tamil Nadu
5000 nan Tamil Nadu
5001 nan Tamil Nadu
5002 nan Tamil Nadu
5003 nan Tamil Nadu
5004 nan Jammu and Kashmir
5005 nan Jammu and Kashmir
5006 nan Jammu and Kashmir
5007 nan Jammu and Kashmir
5008 nan Jammu and Kashmir
5009 nan Jammu and Kashmir
5010 nan Jammu and Kashmir
5011 nan Jammu and Kashmir
5012 nan Jammu and Kashmir
5013 nan Jammu and Kashmir
5014 nan Jammu and Kashmir
5015 nan Jammu and Kashmir
5016 nan Jammu and Kashmir
5017 nan Jammu and Kashmir
5018 nan Jammu and Kashmir
5019 nan Jammu and Kashmir
5020 nan Haryana
5021 nan Haryana
5022 nan Haryana
5023 nan Haryana
5024 nan Haryana
5025 nan Haryana
5026 nan Haryana
5027 nan Haryana
5028 nan Haryana
5029 nan Haryana
5030 45.0 Bihar
5031 22.0 Bihar
5032 nan Rajasthan
5033 nan Rajasthan
5034 nan Rajasthan
5035 nan Maharashtra
5036 nan Maharashtra
5037 nan Maharashtra
5038 nan Maharashtra
5039 nan Maharashtra
5040 nan Maharashtra
5041 nan Maharashtra
5042 nan Maharashtra
5043 nan Maharashtra
5044 nan Maharashtra
5045 nan Maharashtra
5046 nan Maharashtra
5047 nan Maharashtra
5048 nan Maharashtra
5049 nan Maharashtra
5050 nan Maharashtra
5051 nan Maharashtra
5052 nan Maharashtra
5053 nan Maharashtra
5054 nan Maharashtra
5055 nan Maharashtra
5056 nan Maharashtra
5057 nan Maharashtra
5058 nan Maharashtra
5059 nan Maharashtra
5060 nan Maharashtra
5061 nan Maharashtra
5062 nan Maharashtra
5063 nan Maharashtra
5064 nan Maharashtra
5065 nan Maharashtra
5066 nan Maharashtra
5067 nan Maharashtra
5068 nan Maharashtra
5069 nan Maharashtra
5070 nan Maharashtra
5071 nan Maharashtra
5072 nan Maharashtra
5073 nan Maharashtra
5074 nan Maharashtra
5075 nan Maharashtra
5076 nan Maharashtra
5077 nan Maharashtra
5078 nan Maharashtra
5079 nan Maharashtra
5080 nan Maharashtra
5081 nan Maharashtra
5082 nan Maharashtra
5083 nan Maharashtra
5084 nan Maharashtra
5085 nan Maharashtra
5086 nan Maharashtra
5087 nan Maharashtra
5088 nan Maharashtra
5089 36.0 Gujarat
5090 27.0 Gujarat
5091 46.0 Gujarat
5092 28.0 Gujarat
5093 51.0 Gujarat
5094 27.0 Gujarat
5095 67.0 Gujarat
5096 40.0 Gujarat
5097 42.0 Gujarat
5098 40.0 Gujarat
5099 nan Maharashtra
5100 nan Maharashtra
5101 nan Maharashtra
5102 nan Maharashtra
5103 nan Maharashtra
5104 nan Maharashtra
5105 nan Maharashtra
5106 nan Maharashtra
5107 nan Maharashtra
5108 nan Maharashtra
5109 nan Maharashtra
5110 nan Maharashtra
5111 nan Maharashtra
5112 nan Maharashtra
5113 nan Maharashtra
5114 nan Maharashtra
5115 nan Maharashtra
5116 nan Maharashtra
5117 nan Maharashtra
5118 nan Maharashtra
5119 nan Maharashtra
5120 nan Maharashtra
5121 nan Maharashtra
5122 nan Maharashtra
5123 nan Maharashtra
5124 nan Maharashtra
5125 nan Maharashtra
5126 nan Maharashtra
5127 nan Maharashtra
5128 nan Maharashtra
5129 nan Maharashtra
5130 nan Maharashtra
5131 nan Maharashtra
5132 nan Maharashtra
5133 nan Maharashtra
5134 nan Maharashtra
5135 nan Maharashtra
5136 nan Maharashtra
5137 nan Maharashtra
5138 nan Maharashtra
5139 nan Maharashtra
5140 nan Maharashtra
5141 nan Maharashtra
5142 nan Maharashtra
5143 nan Maharashtra
5144 nan Maharashtra
5145 nan Maharashtra
5146 nan Maharashtra
5147 nan Maharashtra
5148 nan Maharashtra
5149 nan Maharashtra
5150 nan Maharashtra
5151 nan Maharashtra
5152 nan Maharashtra
5153 nan Maharashtra
5154 nan Maharashtra
5155 nan Maharashtra
5156 nan Maharashtra
5157 nan Maharashtra
5158 nan Maharashtra
5159 nan Maharashtra
5160 nan Maharashtra
5161 nan Maharashtra
5162 nan Maharashtra
5163 nan Maharashtra
5164 nan Maharashtra
5165 nan Maharashtra
5166 nan Maharashtra
5167 nan Maharashtra
5168 nan Maharashtra
5169 nan Maharashtra
5170 nan Maharashtra
5171 nan Maharashtra
5172 nan Telangana
5173 nan Telangana
5174 nan Telangana
5175 nan Telangana
5176 nan Telangana
5177 nan Telangana
5178 nan Telangana
5179 nan Telangana
5180 nan Telangana
5181 nan Telangana
5182 nan Telangana
5183 nan Telangana
5184 nan Telangana
5185 nan Telangana
5186 nan Telangana
5187 nan Telangana
5188 nan Telangana
5189 nan Telangana
5190 nan Telangana
5191 nan Telangana
5192 nan Telangana
5193 nan Telangana
5194 nan Telangana
5195 nan Telangana
5196 nan Telangana
5197 nan Telangana
5198 nan Telangana
5199 nan Telangana
5200 nan Telangana
5201 nan Telangana
5202 nan Telangana
5203 nan Telangana
5204 nan Telangana
5205 nan Telangana
5206 nan Telangana
5207 nan Telangana
5208 nan Telangana
5209 nan Telangana
5210 nan Telangana
5211 nan Telangana
5212 nan Delhi
5213 nan Delhi
5214 nan Delhi
5215 nan Delhi
5216 nan Delhi
5217 nan Delhi
5218 nan Delhi
5219 nan Delhi
5220 nan Delhi
5221 nan Delhi
5222 nan Delhi
5223 nan Delhi
5224 nan Delhi
5225 nan Delhi
5226 nan Delhi
5227 nan Delhi
5228 nan Delhi
5229 nan Delhi
5230 nan Delhi
5231 nan Delhi
5232 nan Delhi
5233 nan Delhi
5234 nan Delhi
5235 nan Delhi
5236 nan Delhi
5237 nan Andhra Pradesh
5238 nan Andhra Pradesh
5239 nan Andhra Pradesh
5240 nan Andhra Pradesh
5241 nan Andhra Pradesh
5242 nan Andhra Pradesh
5243 nan Andhra Pradesh
5244 nan Andhra Pradesh
5245 nan Andhra Pradesh
5246 nan Andhra Pradesh
5247 nan Rajasthan
5248 nan Rajasthan
5249 nan Rajasthan
5250 nan Rajasthan
5251 nan Rajasthan
5252 nan Rajasthan
5253 nan Rajasthan
5254 nan Rajasthan
5255 nan Rajasthan
5256 nan Rajasthan
5257 nan Rajasthan
5258 nan Rajasthan
5259 nan Rajasthan
5260 nan Rajasthan
5261 nan Rajasthan
5262 nan Uttar Pradesh
5263 nan Uttar Pradesh
5264 nan Uttar Pradesh
5265 nan Uttar Pradesh
5266 nan Uttar Pradesh
5267 nan Uttar Pradesh
5268 nan Uttar Pradesh
5269 nan Uttar Pradesh
5270 nan Uttar Pradesh
5271 nan Uttar Pradesh
5272 nan Uttar Pradesh
5273 nan Uttar Pradesh
5274 nan Uttar Pradesh
5275 nan Uttar Pradesh
5276 nan Uttar Pradesh
5277 nan Uttar Pradesh
5278 nan Uttar Pradesh
5279 nan Uttar Pradesh
5280 nan Uttar Pradesh
5281 nan Uttar Pradesh
5282 nan Uttar Pradesh
5283 nan Uttar Pradesh
5284 nan Uttar Pradesh
5285 nan Uttar Pradesh
5286 nan Uttar Pradesh
5287 nan Uttar Pradesh
5288 nan Uttar Pradesh
5289 nan Madhya Pradesh
5290 nan Madhya Pradesh
5291 nan Madhya Pradesh
5292 nan Madhya Pradesh
5293 nan Madhya Pradesh
5294 nan Madhya Pradesh
5295 nan Madhya Pradesh
5296 nan Madhya Pradesh
5297 nan Madhya Pradesh
5298 nan Madhya Pradesh
5299 nan Madhya Pradesh
5300 nan Madhya Pradesh
5301 nan Madhya Pradesh
5302 nan Madhya Pradesh
5303 nan Madhya Pradesh
5304 nan Madhya Pradesh
5305 nan Madhya Pradesh
5306 nan Madhya Pradesh
5307 nan Madhya Pradesh
5308 nan Madhya Pradesh
5309 nan Madhya Pradesh
5310 nan Madhya Pradesh
5311 nan Delhi
5312 nan Delhi
5313 nan Delhi
5314 nan Delhi
5315 nan Delhi
5316 nan Delhi
5317 nan Delhi
5318 nan Delhi
5319 nan Delhi
5320 nan Delhi
5321 nan Delhi
5322 nan Delhi
5323 nan Delhi
5324 nan Delhi
5325 nan Delhi
5326 nan Delhi
5327 nan Delhi
5328 nan Delhi
5329 nan Delhi
5330 nan Delhi
5331 nan Delhi
5332 nan Delhi
5333 nan Delhi
5334 nan Delhi
5335 nan Delhi
5336 nan Delhi
5337 26.0 Bihar
5338 20.0 Bihar
5339 15.0 Bihar
5340 16.0 Bihar
5341 nan Himachal Pradesh
5342 nan Himachal Pradesh
5343 nan Himachal Pradesh
5344 nan Himachal Pradesh
5345 nan Himachal Pradesh
5346 nan Himachal Pradesh
5347 nan Himachal Pradesh
5348 nan Himachal Pradesh
5349 nan Himachal Pradesh
5350 nan Assam
5351 nan Rajasthan
5352 nan Rajasthan
5353 nan Rajasthan
5354 nan Rajasthan
5355 nan Rajasthan
5356 70.0 Gujarat
5357 22.0 Gujarat
5358 43.0 Gujarat
5359 38.0 Gujarat
5360 nan Andhra Pradesh
5361 nan Andhra Pradesh
5362 nan Andhra Pradesh
5363 nan Andhra Pradesh
5364 nan Andhra Pradesh
5365 nan Andhra Pradesh
5366 nan Andhra Pradesh
5367 nan Andhra Pradesh
5368 nan Andhra Pradesh
5369 nan Andhra Pradesh
5370 nan Andhra Pradesh
5371 nan Andhra Pradesh
5372 nan Andhra Pradesh
5373 nan Andhra Pradesh
5374 nan Andhra Pradesh
5375 nan West Bengal
5376 nan West Bengal
5377 nan West Bengal
5378 nan West Bengal
5379 nan West Bengal
5380 nan West Bengal
5381 nan West Bengal
5382 nan West Bengal
5383 26.0 Karnataka
5384 65.0 Karnataka
5385 72.0 Karnataka
5386 35.0 Karnataka
5387 23.0 Karnataka
5388 27.0 Karnataka
5389 nan Haryana
5390 nan Haryana
5391 nan Haryana

5392 nan Haryana
5393 nan Haryana
5394 nan Haryana
5395 nan Haryana
5396 nan Haryana
5397 nan Haryana
5398 nan Haryana
5399 nan Haryana
5400 nan Haryana
5401 nan Uttarakhand
5402 nan Maharashtra
5403 nan Maharashtra
5404 nan Maharashtra
5405 nan Maharashtra
5406 nan Maharashtra
5407 nan Maharashtra
5408 nan Maharashtra
5409 nan Maharashtra
5410 nan Maharashtra
5411 nan Maharashtra
5412 nan Maharashtra
5413 nan Maharashtra
5414 nan Maharashtra
5415 nan Maharashtra
5416 nan Maharashtra
5417 nan Maharashtra
5418 nan Maharashtra
5419 nan Maharashtra
5420 nan Maharashtra
5421 nan Maharashtra
5422 nan Maharashtra
5423 nan Maharashtra
5424 nan Maharashtra
5425 nan Maharashtra
5426 nan Maharashtra
5427 nan Maharashtra
5428 nan Maharashtra
5429 nan Maharashtra
5430 nan Maharashtra
5431 nan Maharashtra
5432 nan Maharashtra
5433 nan Maharashtra
5434 nan Maharashtra
5435 nan Maharashtra
5436 nan Maharashtra
5437 nan Maharashtra
5438 nan Maharashtra
5439 nan Maharashtra
5440 nan Maharashtra
5441 nan Maharashtra
5442 nan Maharashtra
5443 nan Maharashtra
5444 nan Maharashtra
5445 nan Maharashtra
5446 nan Maharashtra
5447 nan Maharashtra
5448 nan Maharashtra
5449 nan Maharashtra
5450 nan Maharashtra
5451 nan Maharashtra
5452 nan Maharashtra
5453 nan Maharashtra
5454 nan Maharashtra
5455 nan Maharashtra
5456 nan Maharashtra
5457 nan Maharashtra
5458 nan Maharashtra
5459 nan Maharashtra
5460 nan Maharashtra
5461 nan Maharashtra
5462 nan Rajasthan
5463 nan Rajasthan
5464 nan Rajasthan
5465 nan Rajasthan
5466 nan Rajasthan
5467 nan Rajasthan
5468 nan Rajasthan
5469 nan Rajasthan
5470 nan Rajasthan
5471 nan Rajasthan
5472 nan Rajasthan
5473 nan Rajasthan
5474 nan Rajasthan
5475 nan Rajasthan
5476 nan Rajasthan
5477 nan Andaman and Nicobar Islands
5478 50.0 Punjab
5479 nan Punjab
5480 nan Jammu and Kashmir
5481 nan Jammu and Kashmir
5482 nan Jammu and Kashmir
5483 nan Jammu and Kashmir
5484 nan Jammu and Kashmir
5485 nan Jammu and Kashmir
5486 nan Jammu and Kashmir
5487 nan Jammu and Kashmir
5488 nan Jammu and Kashmir
5489 nan Jammu and Kashmir
5490 nan Jammu and Kashmir
5491 nan Jammu and Kashmir
5492 nan Jammu and Kashmir
5493 nan Jammu and Kashmir
5494 nan Tamil Nadu
5495 nan Tamil Nadu
5496 nan Tamil Nadu
5497 nan Tamil Nadu
5498 nan Tamil Nadu
5499 nan Tamil Nadu
5500 nan Tamil Nadu
5501 nan Tamil Nadu
5502 nan Tamil Nadu
5503 nan Tamil Nadu
5504 nan Tamil Nadu
5505 nan Tamil Nadu
5506 nan Tamil Nadu
5507 nan Tamil Nadu
5508 nan Tamil Nadu
5509 nan Tamil Nadu
5510 nan Tamil Nadu
5511 nan Tamil Nadu
5512 nan Tamil Nadu
5513 nan Tamil Nadu
5514 nan Tamil Nadu
5515 nan Tamil Nadu
5516 nan Tamil Nadu
5517 nan Tamil Nadu
5518 nan Tamil Nadu
5519 nan Tamil Nadu
5520 nan Tamil Nadu
5521 nan Tamil Nadu
5522 nan Tamil Nadu
5523 nan Tamil Nadu
5524 nan Tamil Nadu
5525 nan Tamil Nadu
5526 nan Tamil Nadu
5527 nan Tamil Nadu
5528 nan Tamil Nadu
5529 nan Tamil Nadu
5530 nan Tamil Nadu
5531 nan Tamil Nadu
5532 nan Tamil Nadu
5533 nan Tamil Nadu
5534 nan Tamil Nadu
5535 nan Tamil Nadu
5536 nan Tamil Nadu
5537 nan Tamil Nadu
5538 nan Tamil Nadu
5539 nan Tamil Nadu
5540 nan Tamil Nadu
5541 nan Tamil Nadu
5542 nan Kerala
5543 nan Kerala
5544 nan Kerala
5545 nan Kerala
5546 nan Kerala
5547 nan Kerala
5548 nan Kerala
5549 55.0 Kerala
5550 nan Kerala
5551 nan Uttarakhand
5552 nan Punjab
5553 nan Punjab
5554 nan Punjab
5555 nan Punjab
5556 nan Punjab
5557 nan Telangana
5558 nan Telangana
5559 nan Telangana
5560 nan Telangana
5561 nan Telangana
5562 nan Telangana
5563 nan Telangana
5564 nan Telangana
5565 nan Telangana
5566 nan Telangana
5567 nan Telangana
5568 nan Telangana
5569 nan Telangana
5570 nan Telangana
5571 nan Telangana
5572 nan Telangana
5573 nan Telangana
5574 nan Telangana
5575 nan Telangana
5576 nan Telangana
5577 nan Telangana
5578 nan Telangana
5579 nan Telangana
5580 nan Telangana
5581 nan Telangana
5582 nan Telangana
5583 nan Telangana
5584 nan Telangana
5585 nan Telangana
5586 nan Telangana
5587 nan Telangana
5588 nan Telangana
5589 nan Telangana
5590 nan Telangana
5591 nan Telangana
5592 nan Telangana
5593 nan Telangana
5594 nan Telangana
5595 nan Telangana
5596 nan Telangana
5597 nan Telangana
5598 nan Telangana
5599 nan Telangana
5600 nan Telangana
5601 nan Telangana
5602 nan Telangana
5603 nan Telangana
5604 nan Telangana
5605 nan Telangana
5606 nan Haryana
5607 nan Haryana
5608 nan Haryana
5609 nan Haryana
5610 nan Haryana
5611 nan Haryana
5612 nan Haryana
5613 nan Haryana
5614 nan Haryana
5615 nan Haryana
5616 nan Haryana
5617 nan Haryana
5618 nan Uttar Pradesh
5619 nan Uttar Pradesh
5620 nan Uttar Pradesh
5621 nan Uttar Pradesh
5622 nan Uttar Pradesh
5623 nan Uttar Pradesh
5624 nan Uttar Pradesh
5625 nan Uttar Pradesh
5626 nan Uttar Pradesh
5627 nan Uttar Pradesh
5628 nan Uttar Pradesh
5629 nan Uttar Pradesh
5630 nan Uttar Pradesh
5631 nan Uttar Pradesh
5632 nan Uttar Pradesh
5633 nan Uttar Pradesh
5634 nan Uttar Pradesh
5635 nan Uttar Pradesh
5636 nan Uttar Pradesh
5637 nan Uttar Pradesh
5638 nan Uttar Pradesh
5639 nan Uttar Pradesh
5640 nan Uttar Pradesh
5641 nan Uttar Pradesh
5642 nan Uttar Pradesh
5643 nan Uttar Pradesh
5644 nan Uttar Pradesh
5645 nan Uttar Pradesh
5646 nan Uttar Pradesh
5647 nan Jammu and Kashmir
5648 nan Jammu and Kashmir
5649 nan Jammu and Kashmir
5650 nan Jammu and Kashmir
5651 nan Jammu and Kashmir
5652 nan Jammu and Kashmir
5653 nan Jammu and Kashmir
5654 nan Jammu and Kashmir
5655 nan Jammu and Kashmir
5656 nan Jammu and Kashmir
5657 nan Jammu and Kashmir
5658 nan Jammu and Kashmir
5659 nan Jammu and Kashmir
5660 nan Jammu and Kashmir
5661 nan Jammu and Kashmir
5662 nan Jammu and Kashmir
5663 nan Jammu and Kashmir
5664 nan Jammu and Kashmir
5665 nan Jammu and Kashmir
5666 nan Maharashtra
5667 nan Maharashtra
5668 nan Maharashtra
5669 nan Maharashtra
5670 nan Maharashtra
5671 nan Maharashtra
5672 nan Maharashtra
5673 nan Maharashtra
5674 nan Maharashtra
5675 nan Maharashtra
5676 nan Maharashtra
5677 nan Maharashtra
5678 nan Maharashtra
5679 nan Maharashtra
5680 nan Maharashtra
5681 nan Maharashtra
5682 nan Maharashtra
5683 nan Maharashtra
5684 nan Maharashtra
5685 nan Maharashtra
5686 nan Maharashtra
5687 nan Maharashtra
5688 nan Maharashtra
5689 nan Maharashtra
5690 nan Maharashtra
5691 nan Maharashtra
5692 nan Maharashtra
5693 nan Maharashtra
5694 nan Maharashtra
5695 nan Maharashtra
5696 nan Maharashtra
5697 nan Maharashtra
5698 nan Maharashtra
5699 nan Maharashtra
5700 nan Maharashtra
5701 nan Maharashtra
5702 nan Maharashtra
5703 nan Maharashtra
5704 nan Maharashtra
5705 nan Maharashtra
5706 nan Maharashtra
5707 nan Maharashtra
5708 nan Maharashtra
5709 nan Maharashtra
5710 nan Maharashtra
5711 nan Maharashtra
5712 nan Maharashtra
5713 nan Maharashtra
5714 nan Maharashtra
5715 nan Maharashtra
5716 nan Maharashtra
5717 nan Maharashtra
5718 nan Maharashtra
5719 nan Maharashtra
5720 nan Maharashtra
5721 nan Maharashtra
5722 nan Maharashtra
5723 nan Andhra Pradesh
5724 nan Andhra Pradesh
5725 nan Andhra Pradesh
5726 nan Andhra Pradesh
5727 nan Andhra Pradesh
5728 nan Andhra Pradesh
5729 nan Andhra Pradesh
5730 nan Andhra Pradesh
5731 nan Andhra Pradesh
5732 nan Andhra Pradesh
5733 nan Andhra Pradesh
5734 nan Andhra Pradesh
5735 nan Andhra Pradesh
5736 nan Andhra Pradesh
5737 nan Andhra Pradesh
5738 nan Andhra Pradesh
5739 nan Andhra Pradesh
5740 nan Andhra Pradesh
5741 nan Andhra Pradesh
5742 60.0 Gujarat
5743 21.0 Gujarat
5744 46.0 Gujarat
5745 20.0 Gujarat
5746 57.0 Gujarat
5747 21.0 Gujarat
5748 52.0 Gujarat
5749 nan Madhya Pradesh
5750 nan Madhya Pradesh
5751 nan Madhya Pradesh
5752 nan Madhya Pradesh
5753 nan Madhya Pradesh
5754 nan Madhya Pradesh
5755 nan Madhya Pradesh
5756 nan Madhya Pradesh
5757 nan Madhya Pradesh
5758 nan Madhya Pradesh
5759 nan Madhya Pradesh
5760 nan Madhya Pradesh
5761 nan Madhya Pradesh
5762 nan Madhya Pradesh
5763 nan Madhya Pradesh
5764 nan Madhya Pradesh
5765 nan Madhya Pradesh
5766 nan Madhya Pradesh
5767 nan Madhya Pradesh
5768 nan Madhya Pradesh
5769 nan Madhya Pradesh
5770 nan Madhya Pradesh
5771 nan Madhya Pradesh
5772 nan Madhya Pradesh
5773 nan Madhya Pradesh
5774 nan Madhya Pradesh
5775 nan Madhya Pradesh
5776 nan Madhya Pradesh
5777 nan Madhya Pradesh
5778 nan Madhya Pradesh
5779 nan Madhya Pradesh
5780 nan Madhya Pradesh
5781 nan Madhya Pradesh
5782 nan Madhya Pradesh
5783 nan Madhya Pradesh
5784 nan Madhya Pradesh
5785 nan Madhya Pradesh
5786 nan Madhya Pradesh
5787 nan Madhya Pradesh
5788 nan Madhya Pradesh
5789 nan Madhya Pradesh
5790 nan Madhya Pradesh
5791 nan Madhya Pradesh
5792 nan Madhya Pradesh
5793 nan Madhya Pradesh
5794 nan Madhya Pradesh
5795 nan Madhya Pradesh
5796 nan Madhya Pradesh
5797 nan Madhya Pradesh
5798 nan Madhya Pradesh
5799 nan Madhya Pradesh
5800 nan Uttarakhand
5801 nan Uttarakhand
5802 nan Rajasthan
5803 nan Rajasthan
5804 nan Rajasthan
5805 nan Rajasthan
5806 nan Rajasthan
5807 nan Rajasthan
5808 nan Rajasthan
5809 nan Rajasthan
5810 nan Rajasthan
5811 nan Rajasthan
5812 nan Rajasthan
5813 nan Rajasthan
5814 nan Rajasthan
5815 nan Rajasthan
5816 nan Rajasthan
5817 nan Rajasthan
5818 nan Rajasthan
5819 nan Rajasthan
5820 nan Rajasthan
5821 nan Rajasthan
5822 38.0 Bihar
5823 nan Delhi
5824 nan Delhi
5825 nan Delhi
5826 nan Delhi
5827 nan Delhi
5828 nan Delhi
5829 nan Delhi
5830 nan Delhi
5831 nan Delhi
5832 nan Delhi
5833 nan Delhi
5834 nan Delhi
5835 nan Delhi
5836 nan Delhi
5837 nan Delhi
5838 nan Delhi
5839 nan Delhi
5840 nan Delhi
5841 nan Delhi
5842 nan Delhi
5843 nan Delhi
5844 nan Delhi
5845 nan Delhi
5846 nan Delhi
5847 nan Delhi
5848 nan Delhi
5849 nan Delhi
5850 nan Delhi
5851 nan Delhi
5852 nan Delhi
5853 nan Delhi
5854 nan Delhi
5855 nan Delhi
5856 nan Delhi
5857 nan Delhi
5858 nan Delhi
5859 nan Delhi
5860 nan Delhi
5861 nan Delhi
5862 nan Delhi
5863 nan Delhi
5864 nan Delhi
5865 nan Delhi
5866 nan Delhi
5867 nan Delhi
5868 nan Delhi
5869 nan Delhi
5870 nan Delhi
5871 nan Delhi
5872 nan Delhi
5873 nan Delhi
5874 nan Delhi
5875 nan Delhi
5876 nan Delhi
5877 nan Delhi
5878 nan Delhi
5879 nan Delhi
5880 nan Delhi
5881 nan Delhi
5882 nan Delhi
5883 nan Delhi
5884 nan Delhi
5885 nan Delhi
5886 nan Delhi
5887 nan Delhi
5888 nan Delhi
5889 nan Delhi
5890 nan Delhi
5891 nan Delhi
5892 nan Delhi
5893 nan Delhi
5894 nan Delhi
5895 nan Delhi
5896 nan Delhi
5897 nan Delhi
5898 nan Delhi
5899 nan Delhi
5900 nan Delhi
5901 nan Delhi
5902 nan Delhi
5903 nan Delhi
5904 nan Delhi
5905 nan Delhi
5906 nan Delhi
5907 nan Delhi
5908 nan Delhi
5909 nan Delhi
5910 nan Delhi
5911 nan Delhi
5912 nan Delhi
5913 nan Delhi
5914 nan Delhi
5915 nan Delhi
5916 nan Punjab
5917 nan Punjab
5918 nan Punjab
5919 nan Punjab
5920 nan Punjab
5921 nan Punjab
5922 nan Jharkhand
5923 nan Jharkhand
5924 nan Jharkhand
5925 nan Jharkhand
5926 nan Jharkhand
5927 nan Jharkhand
5928 nan Jharkhand
5929 nan Jharkhand
5930 nan Jharkhand
5931 nan West Bengal
5932 nan West Bengal
5933 nan West Bengal
5934 nan West Bengal
5935 nan Himachal Pradesh
5936 26.0 Bihar
5937 18.0 Bihar
5938 12.0 Bihar
5939 29.0 Bihar
5940 52.0 Chhattisgarh
5941 nan Rajasthan
5942 nan Rajasthan
5943 nan Rajasthan
5944 nan Rajasthan
5945 nan Rajasthan
5946 nan Rajasthan
5947 nan Rajasthan
5948 nan Rajasthan
5949 nan Rajasthan
5950 nan Rajasthan
5951 nan Rajasthan
5952 nan Rajasthan
5953 nan Rajasthan
5954 nan Rajasthan
5955 nan Rajasthan
5956 nan Rajasthan
5957 nan Rajasthan
5958 nan Rajasthan
5959 nan Rajasthan
5960 nan Rajasthan
5961 nan Rajasthan
5962 nan Rajasthan
5963 nan Rajasthan
5964 nan Rajasthan
5965 nan Rajasthan
5966 nan Rajasthan
5967 nan Rajasthan
5968 nan Rajasthan
5969 nan Rajasthan
5970 nan Rajasthan
5971 nan Punjab
5972 nan Punjab
5973 nan Madhya Pradesh
5974 nan Madhya Pradesh
5975 nan Madhya Pradesh
5976 nan Madhya Pradesh
5977 nan Madhya Pradesh
5978 nan Madhya Pradesh
5979 50.0 Bihar
5980 12.0 Bihar
5981 20.0 Bihar
5982 30.0 Bihar
5983 10.0 Bihar
5984 nan Gujarat
5985 nan Gujarat
5986 nan Gujarat
5987 nan Gujarat
5988 nan Gujarat
5989 nan Gujarat
5990 nan Gujarat
5991 nan Gujarat
5992 nan Gujarat
5993 nan Gujarat
5994 nan Gujarat
5995 nan Gujarat
5996 nan Gujarat
5997 nan Gujarat
5998 nan Gujarat
5999 nan Gujarat
6000 nan Gujarat
6001 nan Gujarat
6002 nan Gujarat
6003 nan Gujarat
6004 nan Gujarat
6005 nan Gujarat
6006 nan Gujarat
6007 nan Gujarat
6008 nan Gujarat
6009 nan Gujarat
6010 nan Gujarat
6011 nan Gujarat
6012 nan Gujarat
6013 nan Gujarat
6014 nan Gujarat
6015 nan Gujarat
6016 nan Gujarat
6017 nan Gujarat
6018 nan Gujarat

6019 nan Gujarat
6020 nan Gujarat
6021 nan Gujarat
6022 nan Gujarat
6023 nan Gujarat
6024 nan Gujarat
6025 nan Gujarat
6026 nan Gujarat
6027 nan Gujarat
6028 nan Gujarat
6029 nan Gujarat
6030 nan Gujarat
6031 nan Gujarat
6032 nan Gujarat
6033 nan Gujarat
6034 nan Gujarat
6035 nan Gujarat
6036 nan Gujarat
6037 nan Gujarat
6038 nan Gujarat
6039 15.0 Bihar
6040 18.0 Bihar
6041 nan Maharashtra
6042 nan Maharashtra
6043 nan Maharashtra
6044 nan Maharashtra
6045 nan Maharashtra
6046 nan Maharashtra
6047 nan Maharashtra
6048 nan Maharashtra
6049 nan Maharashtra
6050 nan Maharashtra
6051 nan Maharashtra
6052 nan Maharashtra
6053 nan Maharashtra
6054 nan Maharashtra
6055 nan Maharashtra
6056 nan Maharashtra
6057 nan Maharashtra
6058 nan Maharashtra
6059 nan Maharashtra
6060 nan Maharashtra
6061 nan Maharashtra
6062 nan Maharashtra
6063 nan Maharashtra
6064 nan Maharashtra
6065 nan Maharashtra
6066 nan Maharashtra
6067 nan Maharashtra
6068 nan Maharashtra
6069 nan Maharashtra
6070 nan Maharashtra
6071 nan Maharashtra
6072 nan Maharashtra
6073 nan Maharashtra
6074 nan Maharashtra
6075 nan Maharashtra
6076 nan Maharashtra
6077 nan Maharashtra
6078 nan Maharashtra
6079 nan Maharashtra
6080 nan Maharashtra
6081 nan Maharashtra
6082 nan Maharashtra
6083 nan Maharashtra
6084 nan Maharashtra
6085 nan Maharashtra
6086 nan Maharashtra
6087 nan Maharashtra
6088 nan Maharashtra
6089 nan Maharashtra
6090 nan Maharashtra
6091 nan Maharashtra
6092 nan Maharashtra
6093 nan Maharashtra
6094 nan Maharashtra
6095 nan Maharashtra
6096 nan Maharashtra
6097 nan Maharashtra
6098 nan Maharashtra
6099 nan Maharashtra
6100 nan Maharashtra
6101 nan Maharashtra
6102 nan Maharashtra
6103 nan Maharashtra
6104 nan Maharashtra
6105 nan Maharashtra
6106 nan Maharashtra
6107 nan Maharashtra
6108 nan Maharashtra
6109 nan Maharashtra
6110 nan Maharashtra
6111 nan Maharashtra
6112 nan Maharashtra
6113 nan Maharashtra
6114 nan Maharashtra
6115 nan Maharashtra
6116 nan Maharashtra
6117 nan Maharashtra
6118 nan Maharashtra
6119 nan Maharashtra
6120 nan Maharashtra
6121 nan Maharashtra
6122 nan Maharashtra
6123 nan Maharashtra
6124 nan Maharashtra
6125 nan Maharashtra
6126 nan Maharashtra
6127 nan Maharashtra
6128 nan Maharashtra
6129 nan Maharashtra
6130 nan Maharashtra
6131 nan Maharashtra
6132 nan Maharashtra
6133 nan Maharashtra
6134 nan Maharashtra
6135 nan Maharashtra
6136 nan Maharashtra
6137 nan Maharashtra
6138 nan Maharashtra
6139 nan Maharashtra
6140 nan Maharashtra
6141 nan Maharashtra
6142 nan Maharashtra
6143 nan Maharashtra
6144 nan Maharashtra
6145 nan Maharashtra
6146 nan Maharashtra
6147 nan Maharashtra
6148 nan Maharashtra
6149 nan Maharashtra
6150 nan Maharashtra
6151 nan Maharashtra
6152 nan Maharashtra
6153 nan Maharashtra
6154 nan Maharashtra
6155 nan Maharashtra
6156 nan Maharashtra
6157 nan Maharashtra
6158 nan Maharashtra
6159 nan Maharashtra
6160 nan Maharashtra
6161 nan Maharashtra
6162 nan Maharashtra
6163 nan Maharashtra
6164 nan Maharashtra
6165 nan Maharashtra
6166 nan Maharashtra
6167 nan Maharashtra
6168 nan Maharashtra
6169 nan Maharashtra
6170 nan Maharashtra
6171 nan Maharashtra
6172 nan Maharashtra
6173 nan Maharashtra
6174 nan Maharashtra
6175 nan Maharashtra
6176 nan Maharashtra
6177 nan Maharashtra
6178 nan Maharashtra
6179 nan Maharashtra
6180 nan Maharashtra
6181 nan Maharashtra
6182 nan Maharashtra
6183 nan Maharashtra
6184 nan Maharashtra
6185 nan Maharashtra
6186 nan Maharashtra
6187 nan Maharashtra
6188 nan Maharashtra
6189 nan Maharashtra
6190 nan Maharashtra
6191 nan Maharashtra
6192 nan Maharashtra
6193 nan Maharashtra
6194 nan Maharashtra
6195 nan Maharashtra
6196 nan Maharashtra
6197 nan Maharashtra
6198 nan Maharashtra
6199 nan Maharashtra
6200 nan Maharashtra
6201 nan Maharashtra
6202 nan Maharashtra
6203 36.0 Bihar
6204 nan Haryana
6205 69.0 Odisha
6206 51.0 Odisha
6207 50.0 Karnataka
6208 55.0 Karnataka
6209 68.0 Karnataka
6210 32.0 Karnataka
6211 4.0 Karnataka
6212 13.0 Karnataka
6213 9.0 Karnataka
6214 19.0 Karnataka
6215 27.0 Karnataka
6216 48.0 Karnataka
6217 42.0 Punjab
6218 74.0 Punjab
6219 63.0 Punjab
6220 nan Rajasthan
6221 nan Rajasthan
6222 nan Rajasthan
6223 nan Rajasthan
6224 nan Rajasthan
6225 nan Rajasthan
6226 nan Rajasthan
6227 nan Rajasthan
6228 nan Rajasthan
6229 nan Rajasthan
6230 nan Rajasthan
6231 nan Rajasthan
6232 nan Rajasthan
6233 nan Rajasthan
6234 nan Rajasthan
6235 nan Rajasthan
6236 nan Rajasthan
6237 nan Jammu and Kashmir
6238 nan Jammu and Kashmir
6239 nan Jammu and Kashmir
6240 nan Jammu and Kashmir
6241 nan Jammu and Kashmir
6242 nan Jammu and Kashmir
6243 nan Jammu and Kashmir
6244 nan Jammu and Kashmir
6245 nan Jammu and Kashmir
6246 nan Jammu and Kashmir
6247 nan Jammu and Kashmir
6248 nan Jammu and Kashmir
6249 nan Jammu and Kashmir
6250 nan Jammu and Kashmir
6251 nan Jammu and Kashmir
6252 nan Jammu and Kashmir
6253 nan Jammu and Kashmir
6254 nan Jammu and Kashmir
6255 nan Jammu and Kashmir
6256 nan Jammu and Kashmir
6257 nan Jammu and Kashmir
6258 nan Jammu and Kashmir
6259 nan Jammu and Kashmir
6260 nan Jammu and Kashmir
6261 nan Jammu and Kashmir
6262 nan Jammu and Kashmir
6263 nan Karnataka
6264 nan Karnataka
6265 nan Karnataka
6266 nan Karnataka
6267 nan Karnataka
6268 nan Karnataka
6269 nan Chhattisgarh
6270 nan Chhattisgarh
6271 nan Chhattisgarh
6272 nan Chhattisgarh
6273 nan Chhattisgarh
6274 nan Chhattisgarh
6275 nan Chhattisgarh
6276 nan Haryana
6277 nan Haryana
6278 nan Kerala
6279 nan Kerala
6280 nan Kerala
6281 nan Kerala
6282 nan Kerala
6283 nan Kerala
6284 nan Kerala
6285 nan Kerala
6286 nan Kerala
6287 nan Kerala
6288 nan Kerala
6289 nan Kerala
6290 nan Tamil Nadu
6291 nan Tamil Nadu
6292 nan Tamil Nadu
6293 nan Tamil Nadu
6294 nan Tamil Nadu
6295 nan Tamil Nadu
6296 nan Tamil Nadu
6297 nan Tamil Nadu
6298 nan Tamil Nadu
6299 nan Tamil Nadu
6300 nan Tamil Nadu
6301 nan Tamil Nadu
6302 nan Tamil Nadu
6303 nan Tamil Nadu
6304 nan Tamil Nadu
6305 nan Tamil Nadu
6306 nan Tamil Nadu
6307 nan Tamil Nadu
6308 nan Tamil Nadu
6309 nan Tamil Nadu
6310 nan Tamil Nadu
6311 nan Tamil Nadu
6312 nan Tamil Nadu
6313 nan Tamil Nadu
6314 nan Tamil Nadu
6315 nan Tamil Nadu
6316 nan Tamil Nadu
6317 nan Tamil Nadu
6318 nan Tamil Nadu
6319 nan Tamil Nadu
6320 nan Tamil Nadu
6321 nan Tamil Nadu
6322 nan Tamil Nadu
6323 nan Tamil Nadu
6324 nan Tamil Nadu
6325 nan Tamil Nadu
6326 nan Tamil Nadu
6327 nan Tamil Nadu
6328 nan Tamil Nadu
6329 nan Tamil Nadu
6330 nan Tamil Nadu
6331 nan Tamil Nadu
6332 nan Tamil Nadu
6333 nan Tamil Nadu
6334 nan Tamil Nadu
6335 nan Tamil Nadu
6336 nan Tamil Nadu
6337 nan Tamil Nadu
6338 nan Tamil Nadu
6339 nan Tamil Nadu
6340 nan Tamil Nadu
6341 nan Tamil Nadu
6342 nan Tamil Nadu
6343 nan Tamil Nadu
6344 nan Tamil Nadu
6345 nan Tamil Nadu
6346 nan Tamil Nadu
6347 nan Tamil Nadu
6348 nan Tamil Nadu
6349 nan Tamil Nadu
6350 nan Tamil Nadu
6351 nan Tamil Nadu
6352 nan Tamil Nadu
6353 nan Tamil Nadu
6354 nan Tamil Nadu
6355 nan Tamil Nadu
6356 nan Tamil Nadu
6357 nan Tamil Nadu
6358 nan Tamil Nadu
6359 nan Tamil Nadu
6360 nan Tamil Nadu
6361 nan Tamil Nadu
6362 nan Tamil Nadu
6363 nan Tamil Nadu
6364 nan Tamil Nadu
6365 nan Tamil Nadu
6366 nan Tamil Nadu
6367 nan Tamil Nadu
6368 nan Tamil Nadu
6369 nan Tamil Nadu
6370 nan Tamil Nadu
6371 nan Tamil Nadu
6372 nan Tamil Nadu
6373 nan Tamil Nadu
6374 nan Tamil Nadu
6375 nan Tamil Nadu
6376 nan Tamil Nadu
6377 nan Tamil Nadu
6378 nan Tamil Nadu
6379 nan Tamil Nadu
6380 nan Tamil Nadu
6381 nan Tamil Nadu
6382 nan Tamil Nadu
6383 nan Tamil Nadu
6384 nan Tamil Nadu
6385 nan Tamil Nadu
6386 nan Punjab
6387 nan Punjab
6388 nan Punjab
6389 nan Punjab
6390 nan Punjab
6391 nan Punjab
6392 nan Punjab
6393 nan Punjab
6394 nan Punjab
6395 nan Punjab
6396 nan Punjab
6397 nan Punjab
6398 nan Punjab
6399 nan Telangana
6400 nan Telangana
6401 nan Telangana
6402 nan Telangana
6403 nan Telangana
6404 nan Telangana
6405 nan Telangana
6406 nan Telangana
6407 nan Telangana
6408 nan Telangana
6409 nan Telangana
6410 nan Telangana
6411 nan Telangana
6412 nan Telangana
6413 nan Telangana
6414 nan Telangana
6415 nan Telangana
6416 nan Telangana
6417 nan Madhya Pradesh
6418 nan Madhya Pradesh
6419 nan Madhya Pradesh
6420 nan Madhya Pradesh
6421 nan Madhya Pradesh
6422 nan Madhya Pradesh
6423 nan Madhya Pradesh
6424 nan Madhya Pradesh
6425 nan Madhya Pradesh
6426 nan Madhya Pradesh
6427 nan Madhya Pradesh
6428 nan Madhya Pradesh
6429 nan Madhya Pradesh
6430 nan Madhya Pradesh
6431 nan Madhya Pradesh
6432 nan Madhya Pradesh
6433 nan Madhya Pradesh
6434 nan Madhya Pradesh
6435 nan Madhya Pradesh
6436 nan Madhya Pradesh
6437 nan Madhya Pradesh
6438 nan Madhya Pradesh
6439 nan Madhya Pradesh
6440 nan Madhya Pradesh
6441 nan Madhya Pradesh
6442 nan Madhya Pradesh
6443 nan Madhya Pradesh
6444 nan Madhya Pradesh
6445 nan Madhya Pradesh
6446 nan Madhya Pradesh
6447 nan Madhya Pradesh
6448 nan Madhya Pradesh
6449 nan Madhya Pradesh
6450 nan Madhya Pradesh
6451 nan Madhya Pradesh
6452 nan Madhya Pradesh
6453 nan Madhya Pradesh
6454 nan Madhya Pradesh
6455 nan Madhya Pradesh
6456 nan Madhya Pradesh
6457 nan Madhya Pradesh
6458 nan Madhya Pradesh
6459 nan Madhya Pradesh
6460 nan Madhya Pradesh
6461 nan Madhya Pradesh
6462 nan Madhya Pradesh
6463 nan Madhya Pradesh
6464 nan Madhya Pradesh
6465 nan Madhya Pradesh
6466 nan Madhya Pradesh
6467 nan Maharashtra
6468 nan Maharashtra
6469 nan Maharashtra
6470 nan Maharashtra
6471 nan Maharashtra
6472 nan Maharashtra
6473 nan Maharashtra
6474 nan Maharashtra
6475 nan Maharashtra
6476 nan Maharashtra
6477 nan Maharashtra
6478 nan Maharashtra
6479 nan Maharashtra
6480 nan Maharashtra
6481 nan Maharashtra
6482 nan Maharashtra
6483 nan Maharashtra
6484 nan Maharashtra
6485 nan Maharashtra
6486 nan Maharashtra
6487 nan Maharashtra
6488 nan Maharashtra
6489 nan Maharashtra
6490 nan Maharashtra
6491 nan Maharashtra
6492 nan Maharashtra
6493 nan Maharashtra
6494 nan Maharashtra
6495 nan Maharashtra
6496 nan Maharashtra
6497 nan Maharashtra
6498 nan Maharashtra
6499 nan Maharashtra
6500 nan Maharashtra
6501 nan Maharashtra
6502 nan Maharashtra
6503 nan Maharashtra
6504 nan Maharashtra
6505 nan Maharashtra
6506 nan Maharashtra
6507 nan Maharashtra
6508 nan Maharashtra
6509 nan Maharashtra
6510 nan Maharashtra
6511 nan Maharashtra
6512 nan Maharashtra
6513 nan Maharashtra
6514 nan Maharashtra
6515 nan Maharashtra
6516 nan Delhi
6517 nan Delhi
6518 nan Delhi
6519 nan Delhi
6520 nan Delhi
6521 nan Delhi
6522 nan Delhi
6523 nan Delhi
6524 nan Delhi
6525 nan Delhi
6526 nan Delhi
6527 nan Delhi
6528 nan Delhi
6529 nan Delhi
6530 nan Delhi
6531 nan Delhi
6532 nan Delhi
6533 nan Delhi
6534 nan Delhi
6535 nan Delhi
6536 nan Delhi
6537 nan Delhi
6538 nan Delhi
6539 nan Delhi
6540 nan Delhi
6541 nan Delhi
6542 nan Delhi
6543 nan Delhi
6544 nan Delhi
6545 nan Delhi
6546 nan Delhi
6547 nan Delhi
6548 nan Delhi
6549 nan Delhi
6550 nan Delhi
6551 nan Delhi
6552 nan Delhi
6553 nan Delhi
6554 nan Delhi
6555 nan Delhi
6556 nan Delhi
6557 nan Delhi
6558 nan Delhi
6559 nan Delhi
6560 nan Delhi
6561 nan Delhi
6562 nan Delhi
6563 nan Delhi
6564 nan Delhi
6565 nan Delhi
6566 nan Delhi
6567 nan Gujarat
6568 nan Gujarat
6569 nan Gujarat
6570 nan Gujarat
6571 nan Gujarat
6572 nan Gujarat
6573 nan Gujarat
6574 nan Gujarat
6575 nan Gujarat
6576 nan Gujarat
6577 nan Gujarat
6578 nan Gujarat
6579 nan Gujarat
6580 nan Gujarat
6581 nan Gujarat
6582 nan Gujarat
6583 nan Gujarat
6584 nan Gujarat
6585 nan Gujarat
6586 nan Gujarat
6587 nan Gujarat
6588 nan Uttar Pradesh
6589 nan Uttar Pradesh
6590 nan Uttar Pradesh
6591 nan Uttar Pradesh
6592 nan Uttar Pradesh
6593 nan Uttar Pradesh
6594 nan Uttar Pradesh
6595 nan Uttar Pradesh
6596 nan Uttar Pradesh
6597 nan Uttar Pradesh
6598 nan Uttar Pradesh
6599 nan Uttar Pradesh
6600 nan Uttar Pradesh
6601 nan Uttar Pradesh
6602 nan Uttar Pradesh
6603 nan Uttar Pradesh
6604 nan Uttar Pradesh
6605 nan Uttar Pradesh
6606 nan Uttar Pradesh
6607 nan Uttar Pradesh

6608 nan Uttar Pradesh
6609 nan Uttar Pradesh
6610 nan Uttar Pradesh
6611 nan Uttar Pradesh
6612 nan Uttar Pradesh
6613 nan Uttar Pradesh
6614 nan Uttar Pradesh
6615 nan Uttar Pradesh
6616 nan Uttar Pradesh
6617 nan Uttar Pradesh
6618 nan Uttar Pradesh
6619 nan Uttar Pradesh
6620 nan Uttar Pradesh
6621 nan Uttar Pradesh
6622 nan Uttar Pradesh
6623 nan Uttar Pradesh
6624 nan Uttar Pradesh
6625 nan Uttar Pradesh
6626 nan Uttar Pradesh
6627 nan Uttar Pradesh
6628 nan Uttar Pradesh
6629 nan Uttar Pradesh
6630 nan Uttar Pradesh
6631 nan Uttar Pradesh
6632 nan Uttar Pradesh
6633 nan Uttar Pradesh
6634 nan Uttar Pradesh
6635 nan Uttar Pradesh
6636 nan Uttar Pradesh
6637 nan Assam
6638 nan Andhra Pradesh
6639 nan Andhra Pradesh
6640 nan Andhra Pradesh
6641 nan Andhra Pradesh
6642 nan Andhra Pradesh
6643 nan Andhra Pradesh
6644 nan Andhra Pradesh
6645 nan Andhra Pradesh
6646 nan Andhra Pradesh
6647 nan Andhra Pradesh
6648 nan Andhra Pradesh
6649 nan Andhra Pradesh
6650 nan Andhra Pradesh
6651 nan Andhra Pradesh
6652 nan Andhra Pradesh
6653 nan Rajasthan
6654 nan Rajasthan
6655 nan Rajasthan
6656 nan Rajasthan
6657 nan Rajasthan
6658 nan Rajasthan
6659 nan Rajasthan
6660 nan Rajasthan
6661 nan Rajasthan
6662 nan Rajasthan
6663 nan Rajasthan
6664 nan Rajasthan
6665 nan Rajasthan
6666 nan Rajasthan
6667 nan Rajasthan
6668 nan Rajasthan
6669 nan Rajasthan
6670 nan Rajasthan
6671 nan Rajasthan
6672 nan Rajasthan
6673 nan Rajasthan
6674 nan Rajasthan
6675 nan Rajasthan
6676 nan Rajasthan
6677 nan Rajasthan
6678 nan Rajasthan
6679 nan Rajasthan
6680 nan Rajasthan
6681 nan Rajasthan
6682 nan Rajasthan
6683 nan Rajasthan
6684 nan Rajasthan
6685 nan Rajasthan
6686 19.0 Bihar
6687 22.0 Bihar
6688 25.0 Bihar
6689 19.0 Bihar
6690 11.0 Bihar
6691 19.0 Bihar
6692 60.0 Bihar
6693 nan Maharashtra
6694 nan Maharashtra
6695 nan Maharashtra
6696 nan Maharashtra
6697 nan Maharashtra
6698 nan Maharashtra
6699 nan Maharashtra
6700 nan Maharashtra
6701 nan Maharashtra
6702 nan Maharashtra
6703 nan Maharashtra
6704 nan Maharashtra
6705 nan Maharashtra
6706 nan Maharashtra
6707 nan Maharashtra
6708 nan Maharashtra
6709 nan Maharashtra
6710 nan Maharashtra
6711 nan Madhya Pradesh
6712 nan Madhya Pradesh
6713 nan Madhya Pradesh
6714 nan Madhya Pradesh
6715 nan Madhya Pradesh
6716 nan Madhya Pradesh
6717 nan Madhya Pradesh
6718 nan Madhya Pradesh
6719 nan Madhya Pradesh
6720 nan Madhya Pradesh
6721 nan Madhya Pradesh
6722 nan Madhya Pradesh
6723 nan Madhya Pradesh
6724 nan Madhya Pradesh
6725 nan Odisha
6726 nan Odisha
6727 nan Odisha
6728 nan Odisha
6729 nan West Bengal
6730 nan West Bengal
6731 nan West Bengal
6732 nan West Bengal
6733 nan West Bengal
6734 nan West Bengal
6735 nan West Bengal
6736 nan West Bengal
6737 nan West Bengal
6738 nan West Bengal
6739 nan West Bengal
6740 nan West Bengal
6741 nan West Bengal
6742 nan Jharkhand
6743 nan Rajasthan
6744 nan Rajasthan
6745 nan Rajasthan
6746 nan Rajasthan
6747 nan Rajasthan
6748 nan Rajasthan
6749 nan Rajasthan
6750 nan Rajasthan
6751 nan Rajasthan
6752 nan Rajasthan
6753 nan Rajasthan
6754 nan Rajasthan
6755 nan Rajasthan
6756 nan Rajasthan
6757 nan Rajasthan
6758 nan Rajasthan
6759 nan Rajasthan
6760 nan Rajasthan
6761 nan Rajasthan
6762 nan Rajasthan
6763 nan Rajasthan
6764 nan Rajasthan
6765 nan Rajasthan
6766 nan Rajasthan
6767 nan Rajasthan
6768 nan Rajasthan
6769 10.0 Bihar
6770 28.0 Bihar
6771 nan Andhra Pradesh
6772 nan Andhra Pradesh
6773 nan Gujarat
6774 nan Gujarat
6775 nan Gujarat
6776 nan Gujarat
6777 nan Gujarat
6778 nan Gujarat
6779 nan Gujarat
6780 nan Gujarat
6781 nan Gujarat
6782 nan Gujarat
6783 nan Gujarat
6784 nan Gujarat
6785 nan Gujarat
6786 nan Gujarat
6787 nan Gujarat
6788 nan Gujarat
6789 nan Gujarat
6790 nan Gujarat
6791 nan Gujarat
6792 nan Gujarat
6793 nan Gujarat
6794 nan Gujarat
6795 nan Gujarat
6796 nan Gujarat
6797 nan Gujarat
6798 nan Gujarat
6799 nan Gujarat
6800 nan Gujarat
6801 nan Gujarat
6802 nan Gujarat
6803 nan Gujarat
6804 nan Gujarat
6805 nan Gujarat
6806 nan Gujarat
6807 nan Gujarat
6808 nan Gujarat
6809 nan Gujarat
6810 nan Gujarat
6811 nan Gujarat
6812 nan Gujarat
6813 nan Gujarat
6814 nan Gujarat
6815 nan Gujarat
6816 nan Gujarat
6817 nan Gujarat
6818 nan Gujarat
6819 nan Ladakh
6820 nan Haryana
6821 nan Haryana
6822 nan Haryana
6823 nan Haryana
6824 nan Haryana

In [82]:
#writing to csv
df.to_csv('Patient.csv')